[2021-10-18 01:39] TheaperDeng opened #3171 "Chronos: Embrace bigdl-nano in Chronos"
### Background

Currently `Chronos` rely on `orca.automl` for their pytorch model single node support. This will cause

- Future `chronos-inference` will rely on `orca` (and `dllib`) which make the whole package fat.
- Can not use `nano`'s speed up.
- pytorch-lightning Trainer will bring more feature to Chronos (such as efficient lr/bs tuning)

### Implementation Step

We will implement the whole

[2021-10-18 01:39] TheaperDeng opened #3172 "Chronos: Make sure that Auto Model can inference without `orca`"
We need to make the `load` function a static function or directly make the auto model return a `TSPipeline`. Not sure what to do now. TBD

[2021-10-18 01:41] TheaperDeng opened #3170 "Umbrella issue for Chronos refactor to enable customized installation"
This issue is a detailed plan to realize issue intel-analytics/analytics-zoo-internal#107 and decoupling the major function of Chronos with other BigDL components.

@shane-huang @yushan111

Overall design strategy **[edited after discussion with Jason]**

- `Chronos` should stick to `nano` for single node acceleration when appropriate and be **self-contained** and able to complete most of its func

[2021-10-20 13:06] hkvision opened #3162 "Pip description of chronos and serving is wrong"
https://github.com/intel-analytics/BigDL/blob/branch-2.0/python/chronos/src/setup.py#L50
https://github.com/intel-analytics/BigDL/blob/branch-2.0/python/serving/src/setup.py#L41

[2021-10-20 13:08] hkvision opened #3163 "Missing pypi long description for each sub-project"
https://pypi.org/project/bigdl-dllib/
https://pypi.org/project/bigdl-orca/
@jason-dai Any contents to suggest for the each project long description?

[2021-10-20 13:10] hkvision opened #3164 "Remain issues for pip release"
- [x] tf-math and tf-bigdl are not ready for mac @leonardozcm
- [x] release for spark3 on sourceforge @hkvision @Le-Zheng
- [x] bigdl-nano is not released @leonardozcm
- [x] Better to put https://github.com/intel-analytics/BigDL/blob/branch-2.0/python/nano/setup.py into src, to align with other projects. @leonardozcm
- [x] test `pip install --pre --update bigdl` @yushan111
- [x] Support `pip insta

[2021-10-21 02:43] shane-huang commented on #3170
Seperating pytorch and tensorflow installation seems only a valid request for inference with size concerns. And it seems to me the option should be with nano instead of chronos (e.g. seperate libs installation such as pytorch-lightening, IPEX, intel-tensorflow, etc. ).  So the install options can be simplified to train/nano[pytorch]/nano[tensorflow]. Further, as our pytorch support is much better

[2021-10-21 02:58] jason-dai commented on #3170
How about:

- **chronos default**: nano+orca+pytorch
- **chronos[nano]** or **chronos[lite]**: nano+pytorch
- **chronos[automl]**: nano+orca+ray+pytorch
- **chronos[all]**: nano+orca+ray+pytorch+tf

[2021-10-21 03:12] TheaperDeng commented on #3170
I prefer to simplify them to 3 options

- chronos: nano+pytorch
- chronos[distributed]: nano+orca+pytorch
- chronos[all]: nano+orca+ray+pytorch

And once our tf support is enhanced, we may change the options. currently, if users want to use tf, we can let them install tf themselves now.

The other reason is that tf1 is conflict with pytorch-lightning on some dependencies which may cause "[dependen

[2021-10-21 03:14] jason-dai commented on #3170
The default should be distributed; a light version can be single node only.

[2021-10-21 04:43] TheaperDeng opened #3177 "Chronos project readme should be updated"
https://github.com/intel-analytics/BigDL/blob/branch-2.0/python/chronos/src/bigdl/chronos/README.md

[2021-10-21 06:31] TheaperDeng commented on #3171
yes, that is the plan

[2021-10-21 08:44] TheaperDeng opened #3186 "Chronos: future_seq_len for AutoTSEstimator/AutoModel should be well documented and user-friendly"
- [x] add this to document https://github.com/intel-analytics/BigDL/blob/branch-2.0/python/chronos/src/bigdl/chronos/data/utils/roll.py#L38
- [x] future seq len in AutoTSEst should support a list
- [x] future seq len in AutoTSEst should report an error when user input an hp sampling function

[2021-10-21 10:12] jason-dai opened #3187 "BigDL 2.0 Document"
* User guides
  - [x] https://github.com/intel-analytics/BigDL/issues/3195
  - [x] https://github.com/intel-analytics/BigDL/issues/3196
  - [ ] https://github.com/intel-analytics/BigDL/issues/3197
  - [x] https://github.com/intel-analytics/BigDL/issues/3199
  - [ ] https://github.com/intel-analytics/BigDL/issues/3200
  - [ ] https://github.com/intel-analytics/BigDL/issues/3201
  - [ ] https://gith

[2021-10-21 11:45] jason-dai opened #3188 "DLlib user guide"
https://github.com/intel-analytics/BigDL/blob/branch-2.0/docs/readthedocs/source/doc/DLlib/Overview/dllib.md

1) Overview
2) Install
3) Run
4) Get Started

[2021-10-21 11:47] jason-dai opened #3189 "DLlib NNFrame doc"
https://github.com/intel-analytics/BigDL/blob/branch-2.0/docs/readthedocs/source/doc/DLlib/Overview/nnframes.md

[2021-10-21 11:47] jason-dai opened #3190 "DLlib Keras Doc"
https://github.com/intel-analytics/BigDL/blob/branch-2.0/docs/readthedocs/source/doc/DLlib/Overview/keras-api.md

[2021-10-21 11:49] jason-dai opened #3191 "Orca user guide"
https://github.com/intel-analytics/BigDL/blob/branch-2.0/docs/readthedocs/source/doc/Orca/Overview/orca.md

1) Overview
2) Install
3) Run
4) Get Started

[2021-10-21 12:08] jason-dai opened #3192 "Orca AutoML Doc"
https://github.com/intel-analytics/BigDL/blob/branch-2.0/docs/readthedocs/source/doc/Orca/Overview/distributed-tuning.md

[2021-10-21 12:09] jason-dai opened #3193 "Orca Doc"
- https://github.com/intel-analytics/BigDL/blob/branch-2.0/docs/readthedocs/source/doc/Orca/Overview/orca-context.md

- https://github.com/intel-analytics/BigDL/blob/branch-2.0/docs/readthedocs/source/doc/Orca/Overview/data-parallel-processing.md

- https://github.com/intel-analytics/BigDL/blob/branch-2.0/docs/readthedocs/source/doc/Orca/Overview/distributed-training-inference.md

[2021-10-21 12:10] jason-dai opened #3194 "RayOnSpark Doc"
https://github.com/intel-analytics/BigDL/blob/branch-2.0/docs/readthedocs/source/doc/Ray/Overview/ray.md

[2021-10-21 12:13] jason-dai opened #3195 "Python User Guide"
https://github.com/intel-analytics/BigDL/blob/branch-2.0/docs/readthedocs/source/doc/UserGuide/python.md

In addition to each individual library, maybe we should also have `pip install --pre --upgrade bigdl` to install all python libraries?

[2021-10-21 12:28] jason-dai opened #3196 "Scala User Guide"
https://github.com/intel-analytics/BigDL/blob/branch-2.0/docs/readthedocs/source/doc/UserGuide/scala.md

In addition to each individual jar, maybe we should also have a fat jar including all the libraries?

[2021-10-21 12:32] jason-dai opened #3197 "Colab User Guide"
https://github.com/intel-analytics/BigDL/blob/branch-2.0/docs/readthedocs/source/doc/UserGuide/colab.md

[2021-10-21 12:34] jason-dai opened #3198 "Chronos user guide"
https://github.com/intel-analytics/BigDL/blob/branch-2.0/docs/readthedocs/source/doc/Chronos/Overview/chronos.md

1) Overview
2) Install
3) Run
4) Get Started

[2021-10-21 12:36] jason-dai opened #3199 "Hadoop/YARN User Guide"
https://github.com/intel-analytics/BigDL/blob/branch-2.0/docs/readthedocs/source/doc/UserGuide/hadoop.md

[2021-10-21 12:36] jason-dai opened #3200 "K8s User Guide"
https://github.com/intel-analytics/BigDL/blob/branch-2.0/docs/readthedocs/source/doc/UserGuide/k8s.md

[2021-10-21 12:57] jason-dai opened #3201 "Docker User Guide"
https://github.com/intel-analytics/BigDL/blob/branch-2.0/docs/readthedocs/source/doc/UserGuide/docker.md

[2021-10-21 13:13] jason-dai opened #3202 "Developer Guide"
https://github.com/intel-analytics/BigDL/blob/branch-2.0/docs/readthedocs/source/doc/UserGuide/develop.md

[2021-10-21 13:14] jason-dai opened #3203 "Anomaly Detector Guide"
https://github.com/intel-analytics/BigDL/blob/branch-2.0/docs/readthedocs/source/doc/Chronos/QuickStart/chronos-anomaly-detector.md

[2021-10-21 13:15] jason-dai opened #3204 "AutoTSEstimator Guide"
https://github.com/intel-analytics/BigDL/blob/branch-2.0/docs/readthedocs/source/doc/Chronos/QuickStart/chronos-autotsest-quickstart.md

[2021-10-21 13:16] jason-dai opened #3205 "TSDataSet and Forecaster Doc"
https://github.com/intel-analytics/BigDL/blob/branch-2.0/docs/readthedocs/source/doc/Chronos/QuickStart/chronos-tsdataset-forecaster-quickstart.md

[2021-10-21 13:17] jason-dai opened #3206 "PPML user guide"
https://github.com/intel-analytics/BigDL/blob/branch-2.0/docs/readthedocs/source/doc/PPML/Overview/ppml.md

[2021-10-22 02:56] TheaperDeng commented on #3198
What's the general content/meaning for
3. **Run**
4. **Get Started**

So basically what I understand is
3. **Run**: Some thing like original Initialization section https://github.com/intel-analytics/BigDL/blob/branch-2.0/docs/readthedocs/source/doc/Chronos/Overview/chronos.md#3-initialization.
4. **Get Started**: Some thing like the repo readme.md https://github.com/intel-analytics/BigDL#getting-s

[2021-10-22 07:56] hkvision opened #3222 "Still some remaining Analytics Zoo in code doc"
For example, https://github.com/intel-analytics/BigDL/blob/branch-2.0/python/dllib/src/bigdl/dllib/nncontext.py#L34
and some other places.

[2021-10-24 23:57] jason-dai opened #3239 "Release page"
https://bigdl.readthedocs.io/en/latest/doc/release.html

[2021-10-25 01:58] qiuxin2012 opened #3241 "bin/spark-shell-with-zoo.sh not found"
many scala docs use spark-shell-with-zoo.sh to submit jobs, but the scripts is not in branch-2.0

[2021-10-25 06:35] yizerozhuang opened #3252 "Unable to extract native library into a temporary file for non-pip install"
When running jenkins job for dien train, I fail the job when using build method to use the friesian API, I passed the job when using pip install method so there shouldnt be any problem with the code.
This is the error message
[code]
This is the job configuration
[code]

[2021-10-25 07:46] shanyu-sys opened #3254 "Support bigdl.__version__"
We might allow user to check version via
[code]

[2021-10-26 01:15] #3199 closed, assigned to qiuxin2012

[2021-10-26 01:16] #3196 closed, assigned to qiuxin2012

[2021-10-26 02:57] yangw1234 opened #3267 "Downgrad aioredis in hyperzoo"
https://github.com/intel-analytics/analytics-zoo/issues/4945

[code]

[2021-10-26 03:36] TheaperDeng opened #3270 "Chronos: pep8 check script for chronos"
it seems that we don't have a pep8 check script for chronos

[2021-10-26 04:01] TheaperDeng opened #3272 "Nano: basic pytorch-lightning "wrapper" design"
@yangw1234

related to #3171

Since we have decided to provide a pytorch-lightning "wrapper" inside nano rather than Chronos to help our users transform their pytorch `nn.module` to a `LightningModule` that can be accelerated by `bigdl-nano`.

We (@zhentaocc) proposed a decorator `@basic_lightningmodule` to help our users to transform their pytorch `nn.module` (required to have normal training loo

[2021-10-26 06:07] #3188 closed, assigned to dding3

[2021-10-26 23:59] jason-dai opened #3290 "bigdl assembly is too large"
bigdl-assembly is >900MB

Also why is bigdl-serving >500MB? Do we need to include bigdl-serving in bigdl-assembly?

[2021-10-27 00:45] jason-dai opened #3291 "Move friesian.serving to friesian"
https://github.com/intel-analytics/BigDL/tree/branch-2.0/scala/friesian.serving to https://github.com/intel-analytics/BigDL/tree/branch-2.0/scala/friesian

[2021-10-27 02:22] glorysdj opened #3292 "bigdl-k8s needs to support both tf1, tf2"
per different examples on k8s requirements.

[2021-10-27 02:24] glorysdj opened #3294 "bigdl-k8s needs to setup a jenkins env from same Docker image running on the k8s as executors"
- [x] build image which contains 2 python env
- [x] Refresh jenkins slave (k8s client container): use download-bigdl and install-conda scripts to install newly python env and BigDL code/jars each time.
- [x] Submit to k8s with conda env

[2021-10-27 03:31] #3194 closed, assigned to hkvision

[2021-10-27 06:25] #3290 closed, assigned to glorysdj, Litchilitchy

[2021-10-27 06:25] #3192 closed, assigned to shanyu-sys

[2021-10-27 06:27] #3195 closed, assigned to shanyu-sys

[2021-10-27 06:32] jason-dai opened #3298 "BigDL Nano readme"
https://github.com/intel-analytics/BigDL/tree/branch-2.0/python/nano/readme.md

[2021-10-28 01:14] glorysdj opened #3310 "java.lang.SecurityException: Invalid signature file digest for Manifest main attributes when run bigdl-serving-http.jar"
[code]

To fix this you need to first identify which all dependency JARs are signed JARs and then exclude them.
https://stackoverflow.com/questions/34855649/invalid-signature-file-digest-for-manifest-main-attributes-exception-while-tryin

[2021-10-28 02:01] shanyu-sys opened #3312 "Update Pytorch AutoML Quickstart"

[2021-10-28 03:02] yushan111 opened #3316 "Update all links and documents in Chronos"
**Update links**

- github: https://github.com/intel-analytics/analytics-zoo/tree/master/pyzoo/zoo -> https://github.com/intel-analytics/BigDL/tree/branch-2.0/python
- readthedocs:　 "analytics-zoo" -> “bigdl”

Note that you need to **click** on every updated link to make sure the right behavior.　

**Update code in readme**
Generally it is `zoo. -> bigdl.`, double-check by running the imports in yo

[2021-10-28 03:20] #3198 closed, assigned to TheaperDeng

[2021-10-28 06:27] yushan111 opened #3322 "`bigdl-orca[automl]`, `bigdl-chronos` and `bigdl-chronos[all]` need more thorough tests"
We need to test the below dependency options with a new conda environment with only python installed and make sure corresponding tests passed.

- [x] `bigdl-orca[automl]`: all example tests

- [x] `bigdl-chronos` : all example tests and app tests (including use-case and quick start) except for
  - tensorflow based forecasters and anomaly detectors
  - distributed forecasters with ray backend
  - `

[2021-10-28 06:30] hkvision opened #3323 "Remove the spark3 name in whls built on top of spark3?"
Whether we need to differ the project names by `-spark3`.

One potential issue of doing this I can think of now is if users wrongly mix the whls built on top of spark2 and spark3, for example using the spark3 dllib and spark2 orca, there will be no way to identify this misusage right? Any suggestions on this? @yangw1234 @jason-dai  @Le-Zheng
Using the same name is also hard to manage. I would sugg

[2021-10-28 07:25] #3312 closed, assigned to shanyu-sys

[2021-10-28 07:32] shanyu-sys opened #3325 "Update AutoXGBoost Quickstart"
Might be included in the BigDL 2.0 Document issue #3187

[2021-10-29 01:15] pinggao187 opened #3333 "jenkins: RayTaskError(TypeError)"
Running RayOnSpark tests
[code]

jenkins link:
http://10.112.231.51:18888/job/ZOO-NB-Python-Spark-3.1-py37-Horovod/328/

[2021-10-29 02:23] #3325 closed, assigned to nobody

[2021-10-29 05:18] glorysdj opened #3335 "ppml with bigdl 2.0 stable version and features"
- [x] bigdl assembly jar/zip and classpath issue fix [P0]
- [ ] PySpark/Spark on Graphene-SGX [P1]
    - [x] spark pi/wordcount examples
    - [x] spark sql/dataframe api examples
    - [x] spark sql/dataframe e2e examples
    - [ ] bigdl-dllib examples
    - [x] bigdl-orca examples
    - [x] + k8s support
    - [ ] arguments encryption [P3]
    - [ ] filesystem encryption [P3]
- [ ] PySpark/Spark

[2021-10-29 05:54] yushan111 opened #3337 "Add AutoXGBoost API Guide"
We need to add API Guide for `AutoXGBoostClassifier` and `AutoXGBoostRegressor`

[2021-10-29 06:01] yushan111 opened #3339 "Change automl.metrics to orca.automl.metrics in API Guide"

[2021-10-29 06:04] yushan111 opened #3340 "May move AutoML API to Orca API in API Guide"
Currently, `automl` is imported from `orca` as `orca.automl`. We might integrate the API Guide together.

[2021-10-29 07:14] #3310 closed, assigned to nobody

[2021-10-29 09:00] qiuxin2012 opened #3351 "Append bigdl's jars to an instantiated spark context"
I find a way to append bigdl's jars to an instantiated spark context.
But bigdl's spark-conf is missing, and initEngine will fail due to `Engine.init: Can not find spark.shuffle.reduceLocality.enabled`.
It can works if I start pyspark by `pyspark --properties-file scala/dllib/src/main/resources/spark-bigdl.conf`.
The error log is below:
[code]

[2021-10-29 13:23] qiyuangong opened #3352 "[PPML] Cluster Serving job depends on scala"
[code]

[2021-11-01 01:19] pinggao187 commented on #3333
@yangw1234 happened again
 http://10.112.231.51:18888/job/ZOO-NB-Python-Spark-3.1-py37-Horovod/338/console

[2021-11-01 01:38] glorysdj commented on #3352
need to package scala dependencies in the with-dependencies jar
or include scala jars in the classpath of the cluster serving job

[2021-11-01 01:38] glorysdj commented on #3352
BTW, do we have a cluster serving test job on Jenkins?

[2021-11-01 01:57] qiuxin2012 commented on #3351
@jason-dai I can't find why we need `spark.shuffle.reduceLocality.enabled`, maybe a bug in very old spark, can we remove this requirement?

[2021-11-01 02:08] Litchilitchy commented on #3352
could not reproduce with `bigdl-serving-jar-with-dependencies`

also, with `jar tvf` I could see `scala/Product` in jar, could you see what's in your jar, and which jar are you using?

[2021-11-01 02:09] qiuxin2012 commented on #3351
Can we change the requirements to warnings?

[2021-11-01 02:15] qiuxin2012 commented on #3351
Current requirements configuration:
[code]

[2021-11-01 02:16] yangw1234 commented on #3333
The job starts to fail after 28th last month and never failed before. The analytics zoo repo has not changed since 26th. It looks like the problem is caused by testing environment.

By the way, this job is still testing analytics zoo repo.

[2021-11-01 02:29] yangw1234 commented on #3333
maybe related to the torch upgrade?

[2021-11-01 02:32] #3316 closed

[2021-11-01 02:35] glorysdj commented on #3352
will update ppml docker to bigdl-serving-spark_2.4.6_0.14.0-SNAPSHOT-jar-with-dependencies

[2021-11-01 02:35] pinggao187 commented on #3333
We upgraded “torchtext” and “torchvision” on the 27th, but the test on the 28th was still successful.

[2021-11-01 05:14] pinggao187 commented on #3333
Will change the analytics zoo repo to the BigDL repo, and then test.

[2021-11-01 05:14] #3333 closed

[2021-11-01 05:38] Litchilitchy commented on #3352
If use spark 3.x, scala version would be set to 2.12, thus flink client should be flink_1.11.3_scala_2.11 as well

[2021-11-01 07:01] qiyuangong commented on #3352
Do it means we need to add scala version for flink download?
Such as flink-${FLINK_VERSION}-bin-${SCALA_VERSION}.tgz

[2021-11-01 14:45] jason-dai commented on #3351
+1 for change to warning

[2021-11-02 02:24] Litchilitchy commented on #3352
I think yes

[2021-11-02 10:05] hkvision opened #3372 "Permission issue when building bigdl-tf"
If I'm not the root, when I build bigdl-tf, I will get the following error when executing `patchelf`:
[code]
If I add sudo for the release script, the `patchelf` command can run successfully, but I will get the following error:
[code]

One option is to add sudo to the two `patchelf` commands, but this may require users to input the password during the build process.
May need to fix this issue for

[2021-11-02 12:06] yangw1234 commented on #3372
Should we just fixed the `tflibs` version and do not change it until necessary? I do not see the reason why we have to build it very time.

What's your thoughts?@hkvision

[2021-11-03 01:44] qiuxin2012 commented on #3351
Fixed in #3366

[2021-11-03 01:52] hkvision commented on #3372
I think so. So we create a separate job for releasing tf and math (say 0.1.0) and fix the version dependency in orca, is it ok?

[2021-11-03 02:32] liangs6212 commented on #3322
Related tests and packages that need to be installed manually
bigdl-chronos\bigdl-chronos[all]:
* prophet pmdarima(forecaster)
* pytorch-lightning(simalator)
* tsfresh(tsdata)
* pyarrow(tsdata/file)
bigdl-orca:
* torch

[2021-11-03 02:34] qiyuangong commented on #3352
Issue resolved by #3363

[2021-11-03 02:34] #3352 closed

[2021-11-04 02:06] hkvision commented on #3372
Fixed. Now building bigdl don't need to build tf/math. This issue still exists when building tf, so it is low priority and may be added somewhere for guidance.

[2021-11-04 02:24] qiuxin2012 commented on #3351
After we change the conf requirement to warning, If user is using yarn, without `spark.scheduler.minRegisteredResourcesRatio         1.0 spark.scheduler.maxRegisteredResourcesWaitingTime   3600s`, our job will start when a part of yarn containers are ready, this is not what we want, we should also check the number of active containers in `Engine.init`.

[2021-11-04 02:45] jason-dai commented on #3351
I think we should ask the user to add these configurations to their job server (when launching their spark context)

[2021-11-04 03:15] TheaperDeng commented on #3322
bigdl-chronos
- prophet and pmdarima will be optional and code warning to prompt users to install them if needed
- pytorch-lightning will be a required module once nano is integrated
- tsfresh will be lazily imported #3356
- pyarrow will be optional as well since it only affect from_parquet

bigdl-orca:
- torch will be optional once logger is lazily imported #3360

[2021-11-04 03:26] hkvision commented on #3372
Added a comment in jenkins. Closing this issue.

[2021-11-04 03:26] #3372 closed

[2021-11-04 03:44] qiuxin2012 commented on #3351
OK, I will add more information to the warning. For the yarn's configuration, we can check the `sc.getExecutorMemoryStatus` to make sure the existing executors == `num-executors`.

[2021-11-04 06:41] #3337 closed

[2021-11-04 06:42] #3339 closed

[2021-11-04 06:47] yushan111 commented on #3322
We need to add warnings to prompt users to install the below packages
For Chronos
- [ ] `prophet`
- [ ] `pmdarima`

For bigdl-orca

- [ ] torch
- [ ] tensorflow
- [ ] `xgboost` should also be lazily imported and add install prompts

[2021-11-04 07:36] #3298 closed

[2021-11-04 08:22] #3164 closed

[2021-11-04 20:32] songhappy opened #3402 "Add recommender models to Friesian"
add Models for ranking and retrieval are added into example
- [ ] two_tower
- [ ] DIEN
- [ ] Wide and Deep
- [ ] Deep FM
- [ ] DLRM
- [ ] NCF

[2021-11-04 20:35] songhappy opened #3403 "Add text feature extraction to Friesian"
For text features, two approaches of feature extraction should be examined.

- [ ] word2vec
- [ ] Feature Embedding using BERT

[2021-11-04 20:36] songhappy opened #3404 "Add metrics to evaluate recommender models"
- [x] AUC
- [ ] NDCG
- [ ] Precision at K
- [ ] Recall at K

[2021-11-04 20:40] songhappy opened #3405 "DLRM"

[2021-11-04 20:42] songhappy opened #3406 "Deep FM"
code: https://github.com/analytics-zoo/friesian/tree/recsys-challenge/wechat2021/baseline/deepFM
the model is implemented using pytorch, and trained on wechat data.
1. run on wechat data and feature using statistics
2.  train on public dataset, try movielens, recsys tweeter data.

[2021-11-04 23:41] songhappy commented on #3406
refer to #3407

[2021-11-05 01:40] gganduu opened #3408 "Unable to train pytorch-based model using k8s mode"
My az k8s mode configuration is :

[code]
When I tried to running this code, an error was caused:

But with the same pytorch yolov5 code, I can successfully train it using az local mode:

[code]

There are two nodes of k8s, and one for controller node, the other for a work node.  Under the same k8s env, I can train tf-based yolov3 without error.

[2021-11-05 01:41] gganduu opened #3409 "Parameter transfer issue in loss function"
My loss computation function requires two parameters, `predict `and `target`. Below is a brief description of my loss function:

[code]

In my function, my loss is defined as :

[code]

After forward propagation, yolov5 will produce a 3-layers outputs corresponding to it's FPN architecture, which is my `predict`,  a python list with 3 elements: `[ torch.Size([16, 3, 80, 80, 6]) torch.Size([16, 3,

[2021-11-05 01:42] gganduu opened #3410 "Pytorch Dataloader issue"
When using pytorch, I can define a function extends `torch.utils.data.Dataset`, and a function extends `torch.utils.data.Dataloader`. Besides, In order to further process a batch of data, we can define a `collect_fn` function when build the Dataloader:

[code]

This is a standard dataloader definition in pytorch,  and I successfully trained my yolov5 model using az.

But when I tried to return mor

[2021-11-05 01:55] glorysdj commented on #3408
please check if the kubeconfig is mounted/set, the spark version of driver and the executor image
it may be related to misload  kubeconfig or wrong version of okhttp/kubernetes-client

[2021-11-05 06:59] hkvision commented on #3410
Hi @gganduu For this issue and #3409 Since your dataloader and loss are not standard ones, you need to rewrite the train loop to make it work.
To be more specific, you need to write a class that extends TrainingOperator and override the train_batch method here: https://github.com/intel-analytics/BigDL/blob/branch-2.0/python/orca/src/bigdl/orca/learn/pytorch/training_operator.py#L220, and input the

[2021-11-05 07:38] hkvision opened #3414 "Merge init_nncontext and init_orca_context"
Almost the same code in these two functions.

[2021-11-08 01:28] jason-dai commented on #3335
Please break down the list into several milestones, and each milestone corresponds to a version merged into github:
1) Time schedule for merging the milestone
2) What features each version supports

[2021-11-08 01:50] glorysdj commented on #3335
PySpark/Spark on Graphene-SGX  Milestones
1. Basic PySpark and SQL support [Time: 11/10]
    version: 0.14.0-SNAPSHOT
    features:
        []backward compatibility with Graphene pre-1.2-rc1, bigdl 2.0, spark 3.1.2
        []add simple pyworker feature
    tests:
        []python helloworld/simple numpy
        []pyspark pi
        []pyspark wordcount
        []pyspark sql basic

2.

[2021-11-08 01:53] #3340 closed

[2021-11-08 02:04] yushan111 opened #3419 "Orca Jenkins Jobs need to be double checked"
Need to check whether all tests have been included in corresponding jobs, i.e currently spark3 example jobs only include `orca.automl` tests

Need to verify the way to run tests is as expected. i.e, whether to build whl or download whl; whether $QUICK takes effect and set default if needed, .etc.

[2021-11-08 02:41] glorysdj commented on #3335
real time ml on Graphene-SGX Milestones
WW46 local and k8s integration tests finished

[2021-11-08 03:01] qiyuangong commented on #3335
Occlum Spark K8s Image with fork patch
* WW46 (11-12) image ready, local test pass

[2021-11-08 04:41] yizerozhuang commented on #3323
install step for bigdl on spark 3.1.2
[code]

[2021-11-08 07:14] Le-Zheng opened #3425 "init_orca_context can not accept "spark-submit""
`init_orca_context(cluster_mode="spark-submit")`
error:
[code]

[2021-11-09 01:30] #3425 closed

[2021-11-09 07:54] qiuxin2012 opened #3435 "Example test on yarn"
1. Change code to add a `deploymode` option.
    Reference: https://github.com/intel-analytics/BigDL/blob/branch-2.0/python/dllib/src/bigdl/dllib/models/inception/inception.py, https://github.com/intel-analytics/BigDL/blob/branch-2.0/python/dllib/src/bigdl/dllib/models/lenet/lenet5.py
2. Add test to python/dllib/src/bigdl/dllib/examples/run-example-tests-yarn-integration.sh
3. Run jenkins http://1

[2021-11-09 08:27] zhentaocc opened #3438 "Jenkins ZOO-PR-NanoTests fails frequently"
When I tried to pass PR tests, I met these errors several times. Seems it's not related to my changes and most of them should be network issues. Typically for # 3, it appears frequently and I don't know the reason. Is that possible to make these tests more stable? So that we don't have to check if each failure is caused by bad network.

1.  ZOO-PR-nano-ipex/47
[code]
2. ZOO-PR-nano-typecheck-test/

[2021-11-11 02:54] #3438 closed

[2021-11-11 08:09] gganduu opened #3456 "Yolov5 training in distributed mode, how to save the trained model?"
As analytics zoo train API is fit, how can I get the trained model? The fit function will return the model? How can I get each epoch trained model?

[2021-11-11 08:13] gganduu opened #3457 "How can I get the log during training the Yolov5 model?"
Pytorch Yolov5 training loss will return two parameters, one is for the log, but there is only one return in Analytics Zoo loss, how can I get the training log then?

[2021-11-11 11:48] yangw1234 commented on #3456
#### Question 1: As analytics zoo train API is fit, how can I get the trained model?

You can get the trained model by calling `Estimator.get_mode`Estimator.get_model`l`, as documented [here](https://analytics-zoo.readthedocs.io/en/latest/doc/PythonAPI/Orca/orca.html#zoo.orca.learn.pytorch.estimator.PyTorchRayEstimator.get_model)

#### Question 2: The fit function will return the model?

The fit f

[2021-11-11 11:53] yangw1234 commented on #3457
Hi @gganduu I do not understand your question.

Could you provide more details like code snippets?

[2021-11-11 12:30] jason-dai commented on #3456
Does it make sense? Can we save the mode after each epoch, as requested in https://github.com/intel-analytics/analytics-zoo/issues/4980?

[2021-11-11 12:48] #3272 closed

[2021-11-11 14:04] yangw1234 commented on #3456
You meaning saving the model in driver? Like
[code]

[2021-11-11 14:53] jason-dai commented on #3456
Maybe as checkpoint at worker side

[2021-11-12 00:02] gganduu commented on #3457
Yes, we sent the code by email already.(To wang yang and qiu xin)

[2021-11-12 01:19] glorysdj commented on #3335
define pyspark sql testsets
1. pyspark examples (including pi, wordcount)
2. pyspark sql examples (basic, arrow, hive)
3. pyspark sql api tests (apis)
4. pysaprk e2e examples (customer_profile 100M)

[2021-11-12 02:32] yangw1234 commented on #3456
If we checkpoint at worker side, how user get "every epoch's model"? Providing a another API，like `Estimator.get_history_models()`?

[2021-11-12 07:04] jason-dai commented on #3456
How does the user get checkpoint today?

[2021-11-12 07:05] yangw1234 commented on #3457
Synced offline, here are the brief summary:

Feature Requests:
Automatically printing loss and other metrics of every epoch or iteration when calling `Estimator.fit`

Current workaround we provides:
fitting multiple epochs in a loop. E.g.

change
[code]
to
[code]

[2021-11-12 07:38] yangw1234 commented on #3456
Currently our ray based estimators do not have automatic checkpointing and `Estimator.save` will save on driver or hdfs. Spark based estimators will also save checkpoints in driver.

One exception is tf2 where users can use keras's checkpoint callback, which is saved on worker, and we currently do not provide any methods in analytics zoo to help them retrive the checkpoints.

[2021-11-12 07:44] jason-dai commented on #3457
What should be the desired behavior?

[2021-11-12 07:45] jason-dai commented on #3456
What do you think should be the desired behavior?

[2021-11-12 08:11] yangw1234 commented on #3457
I think it is a trade off between flexibility and usability.

Our current behavior is more flexible, like pytorch, as it can allow users to checkpointing in their prefered frequency and printing log in their desired format. The downside is they have to write some code.

If we are tageting usability, I think it also make sense to implement a fixed number of checkpointing and logging stategies and a

[2021-11-12 08:24] jason-dai commented on #3457
What's the keras behavior?

[2021-11-12 08:40] hkvision opened #3471 "Fix and enhance DIEN preprocessing"
- [x] calculate len should be before pad; otherwise the length will always be 100?
- [x] Add json to csv for item meta in README
- [x] report error for unknown cluster mode (also for other examples)
- [x] category_index.write_parquet(args.output + "category_index") no need category_index in the path?

[2021-11-15 01:30] yangw1234 commented on #3457
Keras will automatically output training loss, metrics and speed. Model checkpoint can be configured using model checkpoint callback.
Stick to Keras?

[2021-11-15 01:48] jason-dai commented on #3457
Either Keras or PyTorch Lightening style?

[2021-11-15 07:40] sgwhat commented on #3435
Jenkins job needs to install bigdl_orca, which way should we apply to install it?

[2021-11-16 03:28] sgwhat commented on #3435
# pytorch_estimator

## Yarn-Client Exception

`ModuleNotFoundError: No module named 'horovod'`

[2021-11-16 03:29] sgwhat commented on #3435
# Mxnet

## Yarn-Client Exception
[code]

[2021-11-16 06:59] sgwhat commented on #3435
# Openvino

## Yarn-Client Exception

[code]

[2021-11-17 11:02] suizman opened #3509 "MacOS libbigquant_avx512.dylib failed to be loaded"
I'm trying to run an inference using BigDL and I'm getting the following error:

Issue:

[code]
System specs:

CPU: Intel(R) Core(TM) i7-1068NG7 CPU @ 2.30GHz
OS: MacOS Big Sur 11.6.1

It seams that library is trying to use avx512 library but it isn't compiled for **MacOS**, only for **Linux**?
Is there a chance to use **mkldnn/avx512** on MacOS or force **mklblass** using some special flag before

[2021-11-17 11:15] suizman commented on #3509
Moving the issue to https://github.com/intel-analytics/analytics-zoo/issues/5063

[2021-11-17 11:15] #3509 closed

[2021-11-17 14:11] sgwhat commented on #3435
#Tfpark gan

##Yarn-Client Exception

[code]

[2021-11-18 04:02] pinggao187 commented on #3435
successfully installed decorator-5.1.0 tensorflow-datasets-2.0.0 tensorflow-gan-2.0.0 tensorflow-hub-0.12.0 tensorflow-probability-0.7.0 graphviz-0.8.4 idna-2.6 mxnet-cu91-1.2.1.post1 numpy-1.19.2 requests-2.18.4 urllib3-1.22

jenkins node OS is ubuntu16.04, openvino cannot be installed.

[2021-11-19 01:24] gganduu opened #3521 "Log volume control by Orca API"
# After initializing like this,

NUM_NODES = 20
sc = init_orca_context(
    cluster_mode="spark-submit",
    init_ray_on_spark=True,
    num_ray_nodes=NUM_NODES,
    ray_node_cpu_cores=NUM_NODES,
    driver_cores=1
)

# Create an estimator like below, then  AZ outputs logs like “orca1.log”.
[orca1.log](https://github.com/intel-analytics/BigDL/files/7567126/orca1.log)

create an Estimator
est = Est

[2021-11-19 03:08] yushan111 commented on #3435
automl tests have been added by PR #3492 and PR #3505

[2021-11-19 03:27] hkvision opened #3529 "Missing LICENSE in branch-2.0?"

[2021-11-19 04:35] dding3 commented on #3521
Thank you for reporting this. Above logs are from different project(BigDL0.x) while intel-analytics/analytics-zoo#4427 are from Zoo project. Have fixed the issue in Bigdl2.x

[2021-11-19 04:40] ManfeiBai commented on #3435
#  image_segmentation.py
## Yarn-Client Exception
[code]

[2021-11-19 05:11] ManfeiBai commented on #3435
#  inception
## Yarn-Client Exception
[code]

[2021-11-19 05:22] ManfeiBai commented on #3435
# transfer_learning.py
## Yarn-Client Exception
[code]

[2021-11-19 05:25] sgwhat commented on #3435
you need upload data to hdfs and set data path in your command to hdfs dir.

[2021-11-19 05:32] ManfeiBai commented on #3435
# resnet-50-imagenet.py
## Yarn-Client Exception
[code]

[2021-11-19 06:41] jason-dai commented on #3521
Please backport to Analytics Zoo @dding3

[2021-11-19 08:41] sgwhat commented on #3435
pip install sklearn in jenkins config.

[2021-11-22 01:33] piaolaidelangman commented on #3435
# super_resolution.py
## Yarn-client Exception
[code]

[2021-11-22 01:35] piaolaidelangman commented on #3435
# imaneget.py
## Yarn-client Exception
[code]

[2021-11-22 02:44] ManfeiBai commented on #3435
Thanks, done~

[2021-11-22 03:29] #3174 closed

[2021-11-22 07:03] ManfeiBai commented on #3435
# basic_text_classification.py
## Yarn-Cluster Exception
[code]

[2021-11-22 07:17] sgwhat commented on #3435
Downloading is not work in Yarn-cluster mode.

[2021-11-22 10:40] dding3 commented on #3521
Please try the latest nightly build of zoo `pip install https://sourceforge.net/projects/analytics-zoo/files/zoo-py/analytics_zoo-0.12.0.dev0-20211119-py2.py3-none-manylinux1_x86_64.whl`, the log should be cleaner.

[2021-11-22 11:13] jason-dai commented on #3521
It should be available in the nightly pypi install, yes? @glorysdj @Le-Zheng

[2021-11-22 21:49] ManfeiBai commented on #3435
# Inception.py
## Yarn-Cluster Exception
[code]

[2021-11-23 00:55] glorysdj commented on #3521
yes, zoo pypi nightly release is still on going https://pypi.org/project/analytics-zoo/0.12.0b20211123/

[2021-11-23 01:35] glorysdj commented on #3335
define spark sql testsets
1. spark-examples (spark pi)
2. spark-sql-examples(sql_example, sql_RDDRelation=1, sql_SimpleTypedAggregator, sql_UserDefinedScalar, sql_UserDefinedTypedAggregation, sql_UserDefinedUntypedAggregation,  SparkHiveExample)

[2021-11-23 03:53] gganduu opened #3549 "extra_python_lib issue"
My pytorch-based code contains several .py files and folders:

train.py (main function)

yaml_dict.py

models

​ - model.py

When training using az-local mode with backend="torch_distributed", it works well.

But when using az-k8s mode w/o backend="torch_distributed, it can not import other .py files.

My init_orca_context is defined as :

init_orca_context(
                        cluster_mode="k

[2021-11-23 05:30] sgwhat commented on #3435
Need to check in new clusters. https://github.com/intel-analytics/arda-docker/issues/511

[2021-11-23 06:20] ManfeiBai commented on #3435
# resent-50.py
## Yarn-Cluster Exception
[code]

[2021-11-23 10:46] sgwhat commented on #3435
Orca examples test had been conducted in PR https://github.com/intel-analytics/BigDL/pull/3546.

[2021-11-24 01:59] glorysdj commented on #3549
need to put yaml_dict.py in the docker image, or put in the persistentVolume you mounted as /zoo/data

[2021-11-24 02:14] glorysdj commented on #3521
@gganduu please try pip install analytics-zoo==0.12.0b20211124.

[2021-11-24 02:32] hkvision opened #3557 "PyTorch Ray Estimator for customized data and train loop"
- [ ] Check data loader return and model forward return and raise error message if it isn't expected.
- [ ] Provide an example for overriding TrainingOperator

[2021-11-24 05:37] glorysdj commented on #3408
@gganduu have you fixed this issue?

[2021-11-24 06:32] dding3 commented on #3521
Verified `pip install analytics-zoo==0.12.0b2021112401`, the log seems clean.

[2021-11-24 06:48] yangw1234 opened #3560 "decouple ray based estimator from RayContext (pytorch)"
The first step to support ray only estimators.

[2021-11-24 06:49] yangw1234 opened #3561 "Make spark dataframe support a plugin for ray estimators"

[2021-11-24 06:57] yangw1234 opened #3562 "Cluster API to abstract away implementation details of different types of clusters"
Ideally, Estimator should program using Cluster without using PySpark and Ray directly.

Possible services provided by Cluster API:

1. Setup distributed group such as TF or PyTorch.
2. Forward worker logs to driver
3. Sync worker directories to driver, hdfs or cloud storage
4. broadcast & gather large states
5. training visualization
6. python lib broadcast

[2021-11-24 07:02] yangw1234 opened #3563 "Porting Estimator to use Cluster API."

[2021-11-24 07:10] yangw1234 opened #3564 "decouple ray based estimator from RayContext (tensorflow)"

[2021-11-24 07:36] yangw1234 opened #3565 "Periodic checkpoint for PyTorch Ray Estimators"
First implement:

#3625

Maybe something similar to:
https://www.tensorflow.org/api_docs/python/tf/keras/callbacks/ModelCheckpoint

[2021-11-24 07:36] DirkFi opened #3566 "Warning when running Colab notebook "Enable AutoML for PyTorch" and "Use AutoXGBoost to auto-tune XGBoost parameters""
When I tried to test Colab notebook "Use AutoXGBoost to auto-tune XGBoost parameters", I got a warning when the code calls function
AutoXGBRegressor.

(raylet)   File "/usr/local/lib/python3.7/site-packages/ray/new_dashboard/agent.py", line 334, in <module>
(raylet)     raise e
(raylet)   File "/usr/local/lib/python3.7/site-packages/ray/new_dashboard/agent.py", line 323, in <module>
(raylet)     l

[2021-11-24 07:37] yangw1234 opened #3567 "Sync worker directory to driver, hdfs or cloud storage"
Something to refer:
https://docs.ray.io/en/latest/_modules/ray/tune/syncer.html

[2021-11-24 08:35] TheaperDeng opened #3568 "Nano: some env variables fails to be set by bigdl-nano-init"
I install the latest version of bigdl-nano(0.14.0b2021112311) and run `source bigdl-nano-init` on my own dev server (i7-9700)

[code]
Well, clearly OMP_NUM_THREADS is not the best setting... I am not sure about the others

[2021-11-24 09:01] TheaperDeng opened #3569 "Nano: ddp multi-processing training has some conflict with pre-set KMP_AFFINITY"
I did this experiment on cpx3, with latest version of bigdl-nano(0.14.0b2021112311)
1. `source bigdl-nano-init`
2. run a `trainer.fit` with `num_processes>1`.

It seems that the processes created with no sight of cores other than core 0:
[code]

Currently I workaroud by:
1. `source bigdl-nano-init`
2. unset `KMP_AFFINITY` by `export KMP_AFFINITY=''`
2. run a `trainer.fit` with `num_processes>1`.

[2021-11-24 09:51] TheaperDeng opened #3570 "Nano: Will the bigdl.nano.pytorch API support real distributed training on multi-node?"
This is not a issue report and not even a feature request. I put it here just for a memo/discussion.

Since we have seen 5X improvement on doppelganger simulator with bigdl-nano's support and some improvement (still evaluating) for multiprocessing on a single node. Our users might be interested to further scale their model to a larger data which can only be handled on a cluster.

pytorch-lightning

[2021-11-24 10:14] TheaperDeng opened #3572 "Nano: `Trainer.compile(..., onnx=True)` does not support Trainer(num_processes>1, ...)"
The binded functions are local, we need to move them to global.

[code]

[2021-11-24 12:41] jason-dai commented on #3560
What do you mean by Ray only estimator? We already have estimators built on Ray.

[2021-11-24 12:47] jason-dai commented on #3570
This is something to be discussed - whether to use Orca API for distributed training, or use Nano APIs (which in turn uses PL and Keras APIs) for distributed training?

[2021-11-25 01:15] yangw1234 commented on #3560
Currently, our estimators rely on spark. By "Ray only estimators", I mean estimator can work without spark requested by Mastercard.

[2021-11-25 02:03] Le-Zheng commented on #3566
Which notebook did you run? I noticed `aioredis` that chronos specified is 1.3.1 https://github.com/intel-analytics/BigDL/blob/branch-2.0/python/chronos/src/setup.py#L58, could you try to downgrade to `aioredis==1.1.0`.

[2021-11-25 02:14] DirkFi commented on #3566
I ran [autoestimator_pytorch_lenet_mnist](https://colab.research.google.com/github/intel-analytics/BigDL/blob/branch-2.0/python/orca/colab-notebook/quickstart/autoestimator_pytorch_lenet_mnist.ipynb) and [autoxgboost_regressor_sklearn_boston](https://colab.research.google.com/github/intel-analytics/BigDL/blob/branch-2.0/python/orca/colab-notebook/quickstart/autoxgboost_regressor_sklearn_boston.ipy

[2021-11-25 02:27] DirkFi commented on #3566
After downgrading to 1.1.0, this error occurred when the code tries to define \__init__(self, fc1_hidden_size=500).

[2021-11-25 02:32] Le-Zheng commented on #3566
Ok, we will look into it. @yushan111

[2021-11-25 06:08] DirkFi opened #3580 "A warning related to the version of tensorflow occurred when running Colab notebook"
I tried to run colab notebook [ncf_xshards_pandas](https://colab.research.google.com/github/intel-analytics/BigDL/blob/branch-2.0/python/orca/colab-notebook/quickstart/ncf_xshards_pandas.ipynb). But I received a warning:

Instructions for updating:
This function will only be available through the v1 compatibility library as tf.compat.v1.saved_model.simple_save.
WARNING:tensorflow:From /usr/local/l

[2021-11-25 06:15] hkvision opened #3581 "Engine init warning when running in k8s client"
[code]
Forget to add spark-bigdl.conf to PYTHONPATH in our image?

[2021-11-25 06:40] yushan111 commented on #3566
Thank you for reporting the issue.

The error is caused by the latest version of `aiohttp` and `aioredis`, and we have fixed the version of these two packages in our latest nightly-built BigDL (PR #3577).

You could try the colab notebooks again, and the issue should be gone.

[2021-11-25 06:55] DirkFi commented on #3566
Thanks for all. After your update, the errors have been gone.

[2021-11-25 06:55] #3566 closed

[2021-11-25 07:48] hkvision opened #3586 "kubernetes typo for SGX"
https://bigdl.readthedocs.io/en/latest/search.html?q=kubenetes&check_keywords=yes&area=default
kubernetes not kubenetes
many typos in the related pages.

[2021-11-25 07:48] helenlly commented on #3580
@Le-Zheng  pls have a look

[2021-11-25 08:17] Le-Zheng commented on #3580
The source code https://github.com/intel-analytics/BigDL/blob/branch-2.0/python/orca/src/bigdl/orca/tfpark/tfnet.py#L275 is aimed at supporting TF1.15. This warning seems common?

[2021-11-25 08:24] helenlly commented on #3580
can the warning be ignored? or add more details in the warning message to identify TF version should be 1.15... @Le-Zheng

[2021-11-25 08:26] helenlly commented on #3150
@mullerhai  any update on the issue?

[2021-11-25 08:27] helenlly commented on #3148
@mullerhai  any update on the issue?

[2021-11-25 08:28] qiyuangong commented on #3586
@Uxito-Ada Please fix this issue. :)

[2021-11-25 08:28] Le-Zheng commented on #3580
This is TensorFlow's warning. We have already specified the Tensorflow version in the notebook.
@yangw1234 shall we replace it with `simple_save(session, export_dir, inputs={"x": x, "y": y}, outputs={"z": z})` ?

[2021-11-25 08:29] helenlly commented on #3147
@zepen , have you tried the steps above? or any update on the issue?

[2021-11-25 08:32] helenlly commented on #3146
@limn2o4 any more questions on the issue?

[2021-11-25 08:33] DirkFi commented on #3580
Yes, I see in the notebook the version of Tensorflow is set to 1.15.0 by `pip install tensorflow==1.15.0`.

[2021-11-25 08:34] helenlly commented on #3131
@coffeecup12345 any more questions on the issue?

[2021-11-25 08:38] helenlly commented on #3127
@540667387 any more questions on the issue?

[2021-11-25 08:51] Uxito-Ada commented on #3586
Fixed in #3590 .

[2021-11-25 08:59] #3108 closed

[2021-11-25 08:59] #3105 closed

[2021-11-25 09:00] helenlly commented on #3103
@doofin any more questions?

[2021-11-25 09:06] hkvision opened #3592 "init_spark_on_k8s on remote node issues"
Scenario: I use a remote node to submit to the target k8s cluster. On the remote node, I use pip install in the conda environment for bigdl and related packages. In this case, the python environment on the driver (remote note) and executor (docker image) are different and thus there's bug in init_spark_on_k8s in our code.

Issues:

- [ ] python_env for PYTHONHOME, ld_path and preload_so should be

[2021-11-25 09:10] limn2o4 commented on #3146
I tried orca estimator and the saving ability is just enough for my project.

[2021-11-25 09:13] hkvision commented on #3592
@jason-dai Any suggestion to set the executor classpath on the driver under the case that the driver and executor have different Python environment?
Can we hardcode the path in init_spark_on_k8s? Since in our image, we can fix the conda install path and bigdl path. We can hardcode PYSPARK_PYTHON and BIGDL_CLASSPATH?
Or any other preferred ways?
cc @glorysdj @Le-Zheng

[2021-11-25 10:18] Le-Zheng commented on #3592
Perhaps, we can pack conda python env into an archive file and ship that by "spark-submit --archives", which is similar to what we implement on yarn? @glorysdj
And we will not provide python env in the image.

[2021-11-25 12:06] jason-dai commented on #3457
Do you need to backport to AZ?

[2021-11-25 12:43] yangw1234 commented on #3457
I'll backport. This is closed automatically by github.

[2021-11-25 13:17] glorysdj commented on #3592
k8s can support this with archives option and uploading conda/pex envs.

[2021-11-26 01:56] #3586 closed

[2021-11-26 02:08] yangw1234 commented on #3568
@charlieJ107 could you help look at this?

[2021-11-26 02:40] hkvision opened #3597 "ncf_train not added to Jenkins?"
@songhappy
@yizerozhuang can help.

[2021-11-26 03:18] hkvision opened #3599 "FeatureTable split and random_split are duplicate"
Merge them and use split to align with the dummy pipeline; remove random_split and keep split only.

[2021-11-26 03:34] zhentaocc opened #3600 "Provide quantization for nano"
### Description
Propose to integrate quantization methods into nano to reduce the model size and accelerate inference. [Neural Compressor](https://github.com/intel/neural-compressor) provides a set of methods to quantize a model to simplify the usage.
### Why Neural Compressor?
Neural Compressor has provided a auto-tuning module to automatically search tuning space for best quantization config. Us

[2021-11-26 03:38] liangs6212 opened #3601 "Chronos: bigdl-chronos default version package dependency"
There is no "tqdm" and "requests" in the default version of bigdl-chronos. This situation occurs when the user uses `TSPipeline` for inference and calls `get_public_dataset`.

[2021-11-26 05:19] Le-Zheng commented on #3580
Our source code https://github.com/intel-analytics/BigDL/blob/branch-2.0/python/orca/src/bigdl/orca/tfpark/tfnet.py#L275 is already using` tf.compat.v1.saved_model.simple_save( session, export_dir, inputs, outputs, legacy_init_op=None ) `. For tensorflow 1, it seems that the SavedModel function we can use here is only `tf.compat.v1.saved_model.simple_save` from https://www.tensorflow.org/guide/mig

[2021-11-26 06:41] DirkFi commented on #3580
I tried to follow information on [simple_save](https://www.tensorflow.org/versions/r1.15/api_docs/python/tf/saved_model/simple_save) : change it from `tf.compat.v1.saved_model.simple_save(
    session, export_dir, inputs, outputs, legacy_init_op=None
)` to `simple_save(session,
            export_dir,
            inputs={"x": x, "y": y},
            outputs={"z": z})`.
But it failed with nameerror

[2021-11-26 07:45] hkvision opened #3604 "Follow up issue for extra_python_lib on k8s"
Follow-up issue for: https://github.com/intel-analytics/BigDL/issues/3549

Using this PR to test: https://github.com/intel-analytics/BigDL/pull/3603
Add a python local file on driver to `extra_python_lib` (i.e. --py-files in submit command)

- If only run Spark related code (e.g. rdd.map), then this file can be found and imported as expected.
- If run Ray related code, then there would be `ModuleN

[2021-11-26 08:11] hkvision opened #3605 "RayOnSpark would fail when running k8s from remote"
Each k8s pods has a virtual ip, when spark gets the ip of each executor, it gets `['172.30.22.6', '172.30.1.6', '172.30.1.7', '172.30.45.6', '172.30.1.7']`
and when launching ray on the driver, the command is
[code]
Since a remote node can't recognize this virtual ip within the k8s cluster, the launch ray process gets stuck.

Any ideas @Le-Zheng @glorysdj
cc @jason-dai

[2021-11-26 08:16] #3581 closed

[2021-11-26 08:18] zepen commented on #3147
Have new error, such as NoClassDefFoundError when i spark-submit
spark version spark-2.3.0-bin-hadoop2.7,  and --jars bigdl-SPARK_2.3-0.12.2.jar all-0.12.2.jar

2021-11-25 19:15:39 INFO  DAGScheduler:54 - ResultStage 3 (count at DistriOptimizer.scala:650) failed in 0.163 s due to Job aborted due to stage failure: Task 0 in stage 3.0 failed 1 times, most recent failure: Lost task 0.0 in stage 3.0 (

[2021-11-26 09:19] jason-dai commented on #3600
1. What's needed in the yaml file?
2. How many parameters does the user need to customize?
3. Can we use a Python dictionary (instead of a yaml file) for the user to specify customized parameters (on top of the default parameters)?
4. Please describe `calib_dataloader`, `val_dataloaders` and `datamodule`
5. Please also look at https://github.com/openvinotoolkit/nncf; preferably we should have an a

[2021-11-28 02:32] #3549 closed

[2021-11-28 02:32] gganduu commented on #3549
this issue has been fixed when move all to /zoo/data

[2021-11-29 01:01] piaolaidelangman commented on #3435
# cifar10.py
## Yarn-Cluster Exception
[code]

[2021-11-29 01:02] piaolaidelangman commented on #3435
# fashino_mnist.py
## Yarn-Cluster Exception
[code]

[2021-11-29 01:03] piaolaidelangman commented on #3435
# super_resolution.py
## Yarn-Cluster Exception
[code]

[2021-11-29 01:04] piaolaidelangman commented on #3435
# mnist.py
## Yarn-Cluster Exception
[code]

[2021-11-29 01:58] hkvision commented on #3605
The root cause is our get_node_ip (copied from ray) wouldn't get the actual ip of k8s nodes.

[2021-11-29 02:13] glorysdj commented on #3605
even if you can get the node ip, when your different spark executors are scheduled on the same kube-noe, different raylets need to start on same host.

k8s uses virtual network to assign to each pod, can we make each raylet start as companied container in the spark executor pod.

[2021-11-29 02:22] TheaperDeng commented on #3601
good catch, we can discuss whether to change the code or add these two lib(I think they are not that large) to requirement.

[2021-11-29 02:27] glorysdj commented on #3605
if the issue is the remote driver can not access to raymater on k8s, you can port-forward the raymaster with command like below:
kubectl port-forward [raymasterservice] --address 0.0.0.0

[2021-11-29 02:46] helenlly commented on #3146
OK, if more questions, pls let us know or we may close the issue in a week.

[2021-11-29 03:10] helenlly commented on #3147
@yangw1234  pls have a look

[2021-11-29 03:13] piaolaidelangman opened #3610 "[Yarn-test] Cluster Error: jep.JepException: <class 'ImportError'>"
# [fashino_mnist.py](https://github.com/intel-analytics/BigDL/tree/branch-2.0/python/orca/example/learn/pytorch/fashion_mnist)
### cpython-37m-x86_64-linux-gnu.so: undefined symbol: _Py_write_noraise
## Yarn-Cluster Exception
[code]

[2021-11-29 03:14] piaolaidelangman commented on #3435
jep error in new [issue](https://github.com/intel-analytics/BigDL/issues/3610)

[2021-11-29 04:55] piaolaidelangman commented on #3435
# resnet_finetune.py
## Yarn-Cluster Exception
[code]

[2021-11-29 06:15] zhentaocc opened #3611 "Add metrics calculation to Lightning Module"
We only calculate loss during train/val/test in #3272 .  Sometimes metrics are required to calculate the accuracy for evaluating performance of models.
### Steps

- Pass `metrics` to `LightningModuleFromTorch`
- Calculate accuracy by metrics
- Log loss and metrics

[2021-11-29 07:14] zhentaocc commented on #3600
### For 3
yes we can do that, and we must document all the keys for users.
### For 1,2
As shown below, it is a template config for INC to run on Nano. I removed a great portion from INC template since they are required by Nano so we don't need to assign these keys in yaml.  I'm providing 3 template config yaml files for users:

- post_training_dynamic_quant.yaml
- post_training_static_quant.yaml
-

[2021-11-29 07:16] yangw1234 commented on #3147
@zepen where did you get the `bigdl-SPARK_2.3-0.12.2.jar`?
Could you try downloading our prebuilt jars from here (https://bigdl-project.github.io/master/#release-download/#release-0122), and use the `lib/bigdl-SPARK_2.3-0.12.2-jar-with-dependencies.jar`

[2021-11-29 07:58] jason-dai commented on #3600
1) We plan to support both INC and NNCF.

2) By default we should not ask the user to provide a yaml file; instead, just a minimum set of parameters that need to be specified in a python dictionary. yaml file can be supported for advanced users.

3) Providing three configurations (post_training_dynamic_quant, post_training_static_quant and quantization_aware_training) is very confusing; can we mak

[2021-11-29 08:17] Le-Zheng commented on #3592
Uploading conda envs on k8s cluster mode is tested successfully. Users can submit from remote without launching a k8s image client container.
1. user creates a conda python env. e.g,  create env named "pynew" `conda create -y -n pynew -c conda-forge conda-pack`
2. pack this python env
[code]
3. spark-submit with "--archives" and specify python stores for dirver and executor
cluster mode:
[code]

[2021-11-29 09:03] piaolaidelangman commented on #3435
# cifar10.py
jep error
## Yarn-Cluster Error
[code]

[2021-11-29 09:06] piaolaidelangman commented on #3435
jep error in new [issue](https://github.com/intel-analytics/BigDL/issues/3610)

[2021-11-29 09:07] piaolaidelangman commented on #3610
I found a related issue in https://github.com/pyscripter/python4delphi/issues/143

[2021-11-29 09:11] zhentaocc commented on #3600
1. Will look at NNCF.
2&3.
[code]
Usage can be:
[code]
And then pass model and dataloaders to quantize the model:
[code]
So we can have a default config and let users to choose static/dynamic/qat instead of 3 configs. We provides 6 keys I think will cover most cases for basic users and advanced users needed much more restrictions can pass a yaml config according to document and instructions.

[2021-11-29 09:30] liangs6212 opened #3616 "Chronos: Autotsest `metric_threshold` parameters is invalid"
Specify `metric_theshold` parameter, but `autotsest` cannot stop searching.

[2021-11-29 09:42] zhentaocc opened #3617 "Nano: IPEX 1.10 is needed to run LSTM"
LSTM suffers from this issue https://github.com/intel/intel-extension-for-pytorch/issues/187
Old version of ipex cannot correctly handle the weight reshaping from xpu to cpu.
I got reply that this is resolved in 1.10. So I think we need to update our environment for nano.
But I don't see IPEX as pytorch dependency in setup.
Possibly need to upgrade torch to 1.10 too. IPEX team doesn't tell if torc

[2021-11-29 09:42] zhentaocc commented on #3617
FYI @TheaperDeng @shane-huang

[2021-11-29 11:14] #3270 closed

[2021-11-29 12:46] hkvision commented on #3213
Missing friesian style test on Github

[2021-11-30 01:47] #3572 closed

[2021-11-30 02:48] Le-Zheng commented on #3580
As discussed with @yangw1234 and @DirkFi, this is a common deprecated warning of TF1 SavedModel function `simple_save`. We should ignore it.

[2021-11-30 02:48] #3580 closed

[2021-11-30 03:08] charlieJ107 commented on #3568
This problem is due to the fact that the system language is not set to English, so that when `bigdl-nano-init` scripts get cpu information, they can not find the corresponding information directly by using `lscpu` and `grep`.
In fact, this problem will occur in any environment where the system language is not set to English, or `lscpu` cannot find the `Core (s) per socket` and `Thread (s) per core

[2021-11-30 03:10] TheaperDeng commented on #3568
https://pypi.org/project/py-cpuinfo/
(inspired by https://github.com/intel/neural-compressor/blob/b5a84e7c3672047db7b3a13733140bc9eafe882c/neural_compressor/ux/utils/hw_info.py#L30) might be a solution

[2021-11-30 03:13] TheaperDeng commented on #3617
thx, that's good news. 1.10 will be released soon. The concern is that 1.10 will move cpu computation from xpu back to cpu. This may cause some coding adaptation.

[2021-11-30 03:14] Le-Zheng commented on #3604
Reproduced using `extra_python_lib` on Ray with code https://github.com/intel-analytics/BigDL/pull/3603/files in a k8s image client container:
1. put test_py.py in path` /opt/spark/work-dir/test_py.py` can succeed.
2. put test_py.py in path` /opt/spark/work-dir/kai/test_py.py` failed and `ModuleNotFoundError` occur. If appending `.`  in `sys.path`, it will succeed.
We will continue to look into th

[2021-11-30 05:36] yangw1234 commented on #3568
how about just copying this file

Does this solve the problem? py-cpuinfo cannot get the number of sockets. INC still use linux/windows cmd to get the information. (see https://github.com/intel/neural-compressor/blob/master/neural_compressor/ux/utils/hw_info.py#L121)

[2021-11-30 06:07] yangw1234 opened #3625 "Support callbacks in pytorch ray estimators"
reference:
https://www.tensorflow.org/api_docs/python/tf/keras/callbacks/Callback

1. add a `callbacks` argument in [estimator.fit](https://github.com/intel-analytics/BigDL/blob/branch-2.0/python/orca/src/bigdl/orca/learn/pytorch/pytorch_ray_estimator.py#L196)

2. pass `callbacks` to [ray_runner.train_epochs](https://github.com/intel-analytics/BigDL/blob/branch-2.0/python/orca/src/bigdl/orca/learn

[2021-11-30 21:48] doofin commented on #3103
Thanks!,closing now

[2021-11-30 21:48] #3103 closed

[2021-12-01 01:58] hkvision opened #3629 "Friesian TODO tasks"
- [x] https://github.com/intel-analytics/BigDL/blob/branch-2.0/.github/workflows/style-check.yml Style check in GitHub
- [ ] Docker image add dockerfile analytics-zoo/friesian#171 @pinggao187 (initially tested, would finish the image after the release of bigdl2.0)
- [x] Update the recsys demo to bigdl API.
- [ ] Orca non-pip cannot find the so file: Unable to extract native library into a temporar

[2021-12-01 01:59] hkvision commented on #3213
Most of the tasks in this issue has been finished. Closing in this issue and track the remaining in a new one: https://github.com/intel-analytics/BigDL/issues/3629

[2021-12-01 01:59] #3213 closed

[2021-12-01 02:35] yangw1234 opened #3631 "add cluster="ray" in init_orca_context"

[2021-12-01 02:59] yangw1234 opened #3633 "support steps_per_epoch in orca estimators"

[2021-12-01 08:32] cyita opened #3642 "Friesian Serving TODO list"
Documentation:

- [ ] Architecture of the serving pipelines
- [ ] Schema of the parquet files
- [ ] Schema of the redis tables and configs
- [ ] List of the services and their APIs

Demo:

- [ ] Multi-server demo (docker swarm)

Performance Test

- [ ] Scalability test
- [ ] 24c72g docker containers QPS 3000 candidates 200 user 1500w item 1000w ebd dim 50

Others:

- [ ] merge serving to Friesian

[2021-12-02 07:17] zhentaocc opened #3651 "Nano: INC tensorflow post-training quantization support"
Support tensorflow quantization using INC.
!!!Seems dynamic quantization is not available in tensorflow.

More details in #3600 .  Changes are quite similar to Pull request https://github.com/intel-analytics/BigDL/pull/3602.

[2021-12-03 02:33] yushan111 opened #3658 "Support large model for pytorch pyspark estimator"
- [x] UT
- [x] example
- [x] large model test

[2021-12-03 02:34] yushan111 opened #3659 "Support checkpointing for pytorch pyspark estimator"
- [ ] UT
- [ ] example
- [ ] large model

[2021-12-03 02:34] yushan111 opened #3660 "Support log sync for pytorch pyspark estimator"

[2021-12-03 02:35] yushan111 opened #3661 "Support tensorboard for pytorch pyspark estimator"

[2021-12-03 02:37] yushan111 opened #3662 "Support pyspark backend for pyspark estimator"
- [ ] local small model
- [ ] #3658
- [ ] #3659
- [ ] #3660
- [ ] #3661

[2021-12-06 01:21] TheaperDeng opened #3667 "A more transparent Onnxruntime API on Nano"
### API Design
[code]

### Background

In pytorch-lightning, the document clearly states that they expect users to use forward method to predict: https://pytorch-lightning.readthedocs.io/en/latest/starter/new-project.html#predict-or-deploy.

And many community examples in pytorch-lightning doc do use these methods

1. https://github.com/3springs/attentive-neural-processes/blob/016272a077a19bc51d14

[2021-12-06 02:21] ManfeiBai opened #3670 "No such file or directory in Orca Yarn Test in Container&Jenkins"
When running transfer learning(#3524 ) on Jenkins(http://10.112.231.51:18888/view/ZOO-PR/job/ZOO-PR-Python-integration-test/) with yarn in the container, after downloading the dataset, when running this error would occur:
[code]
According to the jenkins link:
http://10.112.231.51:18888/view/ZOO-PR/job/ZOO-PR-Python-integration-test/565/console#:~:text=Caused%20by%3A%20org.apache,such%20file%20or%2

[2021-12-06 02:45] jason-dai commented on #3667
1. What if the user call:
[code]

2. Can we change `eval_onnx` to  `eval(backend="onnx")`? We will also need to support openvino later.

Can you provide specific examples on the limitations?

We can customize how pickle is implemented for these modules (https://docs.python.org/3/library/pickle.html#pickling-class-instances, https://realpython.com/python-pickle-module/#picklable-and-unpicklable-typ

[2021-12-06 03:25] helenlly commented on #3670
@qiuxin2012 pls help

[2021-12-06 03:34] TheaperDeng commented on #3667
1. What if the user call:
[code]
it should works fine, `torch.no_grad()` only has a simple `__enter__` and `__exit__` method to close grad which will not affect onnxruntime

[2021-12-06 06:56] #3611 closed

[2021-12-06 08:26] hkvision commented on #3291
1. Move the code to friesian
2. Separate the packaging of Friesian feature and friesian serving

[2021-12-06 10:44] tchaton opened #3674 "PyTorch Lightning Accelerator Refactor"
Dear Team from BigDL,

I am part of the PyTorch Lightning Team and found you have a IpexAccelerator: https://github.com/intel-analytics/BigDL/blob/900905a5396d5b1093e798d633ca44398ab8be2c/python/nano/src/bigdl/nano/pytorch/accelerators/ipex_accelerator.py#L37.

I would like to inform you PyTorch Lightning is currently under-going a refactor which is likely to introduce breaking changes for this co

[2021-12-06 11:40] jason-dai commented on #3674
@tchaton thanks for the information; we'll take a look at https://github.com/PyTorchLightning/ecosystem-ci, and the latest PyTorch Lightning refactor code.

[2021-12-07 01:39] TheaperDeng commented on #3667
For the `eval(backend="onnx")` suggestion, I need to do some experiments and make sure that no side effects will be made

[2021-12-07 01:53] jason-dai commented on #3667
The question is whether it is a better API (compared to `eval_onnx`)?

[2021-12-07 02:32] ManfeiBai commented on #3670
Thanks! fixed

[2021-12-07 02:33] #3670 closed

[2021-12-07 13:29] jason-dai opened #3679 "Remove dllib/src/bigdl/dllib/examples"

[2021-12-07 13:46] dding3 commented on #3679
Do we need delete all files under https://github.com/intel-analytics/BigDL/tree/branch-2.0/scala/dllib/src/main/scala/com/intel/analytics/bigdl/dllib/example? Or we only delete files whose code are commented?

[2021-12-07 14:05] jason-dai commented on #3679
I meant https://github.com/intel-analytics/BigDL/blob/branch-2.0/python/dllib/src/bigdl/dllib/examples/, not scala

[2021-12-08 02:55] #3679 closed

[2021-12-08 03:01] dding3 opened #3683 "Move orca related example tests from https://github.com/intel-analytics/BigDL/blob/branch-2.0/python/dllib/examples/run-example-tests-yarn-integration.sh to orca"
Since DLlib and Orca are different projects, maybe we can move orca related example tests script from dllib folder to orca folder?

[2021-12-08 04:49] yangw1234 commented on #3683
how did they end up in dllib in the first place?

[2021-12-08 04:52] yangw1234 commented on #3683
These examples are checked in by https://github.com/intel-analytics/BigDL/pull/3574

@piaolaidelangman @qiuxin2012 would you mind moving your orca related examples back to orca?

[2021-12-08 06:51] zhentaocc commented on #3600
# An introduction to quantization of NNCF/INC/Pytorch/Pytorch-lightning
## NNCF
NNCF is a quantization tool provided by openvino, mainly focus on **Quantization-Aware Training**, supporting pytorch and tesnorflow. For pytorch, it uses pytorch `FakeQuantize` to make the model as a trainable quantized model and they have their own algorithm/implementation to quantize a model.
## Pytorch
Pytorch has

[2021-12-08 06:53] zhentaocc commented on #3600
Nano must update pytorch since NNCF do not support 1.8.0.

[2021-12-08 13:44] jason-dai commented on #3600
Which PyTorch version does NNCF support? Is POT open sourced?

[2021-12-09 01:54] zhentaocc commented on #3600
@jason-dai NNCF requires PyTorch* >=1.5.0, <=1.9.1 (1.8.0 not supported).
POT: https://docs.openvino.ai/2021.1/pot_README.html
Seems to be open sourced. It's integrated in openvino.

[2021-12-09 02:37] #3406 closed

[2021-12-09 02:37] songhappy opened #3688 "Xgboost"
add gboost example into friesian

[2021-12-09 03:07] qiuxin2012 commented on #3683
It's TODO list in https://github.com/intel-analytics/BigDL/issues/3435

[2021-12-09 07:08] Le-Zheng opened #3691 "support k8s in init_orca_context (orca) & init_nncontext (dllib)"
Orca
- [ ] init_orca_context(cluster_mode="k8s")
- [ ] init_orca_context(cluster_mode="k8s-cluster")
Dllib
- [ ] init_nncontext(cluster_mode="k8s")
- [ ] init_nncontext(cluster_mode="k8s-cluster")

[2021-12-10 01:32] jenniew opened #3695 "Support pyspark backend for TF2Estimator"
- [x] local small model
- [x] support large model
- [x] support log sync to driver for cluster mode
- [ ] support checkpointing with keras format
- [ ] support tensorboard

[2021-12-10 02:10] zhentaocc commented on #3600
With NNCF API, we can do right now is to do quant-aware-training in pytorch, then export it to onnx and convert onnx to openvino. Finally the model can be compiled by openvino backend as a quantized model and run on reduced precision. Is there a plan to support OpenVINO. As shown below is a fake-quantized model, it simulates int8 but still run on fp32. @jason-dai @TheaperDeng
![image](https://user

[2021-12-10 03:27] jason-dai commented on #3600
We plan to support OpenVINO

[2021-12-10 07:34] #3683 closed

[2021-12-13 02:07] jason-dai commented on #3600
Let's focus on add INC support first; just make sure the design can be easily extended to support NNCF in future.

[2021-12-13 02:58] zhentaocc commented on #3600
NNCF is a QAT only tool, so I think we can simply extend it by a NNCF callback:
[code]
Use it by:
[code]

For INC, I think we can use [QUANTIZATIONAWARETRAINING](https://pytorch-lightning.readthedocs.io/en/latest/extensions/generated/pytorch_lightning.callbacks.QuantizationAwareTraining.html#pytorch_lightning.callbacks.QuantizationAwareTraining) from pytorch-lightning for QAT, usage as below.
[cod

[2021-12-13 03:39] TheaperDeng commented on #3600
I think we can focus on the PTQ for now and give an API like this (pytorch):
[code]

[2021-12-13 03:42] TheaperDeng commented on #3600
btw, is `val_dataloader` required? or we can just make it optional and just leave pl_model, calib_dataloader to be required

[2021-12-13 03:45] zhentaocc commented on #3600
It's required for tuning.

[2021-12-13 07:28] yushan111 opened #3709 "Upgrade ray to 1.9.0"
- [x] UT in orca
- [x] UT in Chronos
- [x] new Jenkins environment with upgraded ray (py36/py37/horovod)
- [x] Test on Jenkins (UT/example/apps/quickstarts) #3729
- [x] orca install dependencies #3812
- [x] Chronos install dependencies #3812
- [x] Quick start updates
- [x] Documents (github.io, example readme, ...)

[2021-12-13 07:29] TheaperDeng opened #3710 "Chronos: version conflict between `tensorflow>=1.15.0,<2.0.0` and `bigdl-nano[pytorch]`"
The conflict is on `pytorch_lightning==1.4.2` and `tensorflow>=1.15.0,<2.0.0` on `tensorboard`.  And this cause problem when users use `pip install bigdl-chronos[all]`, which causes `pytorch_lightning==0.8.5` to be installed

My suggestion is to remove `tensorflow>=1.15.0,<2.0.0` since only mtnet is relied on it. And add clear warning in code and doc let our mtnet users to install `tensorflow>=1.1

[2021-12-13 07:36] jason-dai commented on #3710
We can remove `tensorflow>=1.15.0,<2.0.0`; but why `pytorch_lightning==0.8.5`?

[2021-12-13 07:37] TheaperDeng commented on #3710
because pip find that `pytorch_lightning==0.8.5` does not conflict with `tensorflow>=1.15.0,<2.0.0` after a long time searching.

[2021-12-13 08:31] jason-dai commented on #3402
Need to add DSSM; and also refer to https://github.com/microsoft/recommenders/tree/main/recommenders/models

[2021-12-13 09:22] #3610 closed

[2021-12-13 09:33] jason-dai commented on #3600
1. By default, just `trainer.quantize(model, calib_dataloader, val_dataloader=None)` for PyTorch and `model.quantize(calib_dataloader, val_dataloader=None)` for Keras

2.  The user may specify additional config through method parameters (using Python dictionary when needed)

3. Advanced users may optionally provide a config file

[2021-12-13 10:23] shane-huang opened #3712 "Nano: light weight hpo support in nano tensorflow"
## Overview

Refer to hpo design in nano pytroch in issue #3925

Enable hyper param tuning in nano tensorflow. Make it as transparent as possible to users. General principals include:
- provide some bkm default settings if no search space is explicitly provided by user. (e.g. learning rate, batch size, etc.)
- frequently used metrics don't need extra configurations for hpo. e.g. mse -> minimize ob

[2021-12-13 10:44] shane-huang commented on #3712
nano pytorch hpo support will be described in another Issue.

[2021-12-13 11:03] hkvision opened #3713 "Orca tf1 train gets local class incompatible error on k8s"
If I run ncf tf1 train example on k8s cluster, I get the following error both when I run on a remote node or run on a k8s client container:
[code]
https://stackoverflow.com/questions/10378855/java-io-invalidclassexception-local-class-incompatible
The training can run successfully before, any update to the docker image that makes incompatible?
BTW, the training is successful for local mode.

[2021-12-13 11:15] zhentaocc commented on #3600
How about:
[code]

[2021-12-13 11:27] shane-huang commented on #3712
### Implementation Notes.

[code]

[2021-12-14 01:40] TheaperDeng commented on #3667
I still stick to `.eval_onnx()` since I find they should be similarly friendly to users.

We may have something like `.eval_openvino()` later and I think they are consistent.

[2021-12-14 02:00] TheaperDeng commented on #3617
I have completed some experiment on ipex1.10(directly install from whl relased [here](https://github.com/intel/intel-extension-for-pytorch/releases))

under same data and hw env we benchmarked
For LSTM, 364s/epoch (ipex) vs 634s/epoch (no ipex), but the loss does not convergence as expected.
For TCN I changed weightnorm to batchnorm, 421s/epoch (ipex) vs 526s/epoch (no ipex).

I think the result i

[2021-12-14 02:24] TheaperDeng commented on #3600
I think we can have some thing like this. We may recheck them and rename some of them to be more understandable later.
btw, what is `framework`'s valid option?

So, when the users use it, they have such a workflow:
[code]

[2021-12-14 02:35] yushan111 commented on #3709
Install dependencies that need to be upgraded:

- [ ] pandas >= 1.0.5
- [ ] aiohttp == 3.8.1, aync-timeout >= 4

[2021-12-14 03:17] zhentaocc commented on #3600
tensorflow, pytorch, pytorch_fx, pytorch_ipex, onnxrt_integer, onnxrt_qlinear or mxnet

Do you mean returning a pytorch module instead of pl module? I was intended to return a pl model so users can do :
[code]

[2021-12-14 03:23] yushan111 commented on #3709
Note that python 3.7.0 and 3.7.1 may cause **Can't pickle function objects error on ray.init** ([Ray issue](https://github.com/ray-project/ray/issues/19938))

[2021-12-14 04:05] TheaperDeng commented on #3600
No, return a pl model is what I mean.

[2021-12-14 05:03] yushan111 commented on #3709
Jenkins pre-test:

**Orca Ray**
http://10.112.231.51:18888/job/ZOO-PR-BigDL-Python-Spark-2.4-py36-ray/231/
http://10.112.231.51:18888/job/ZOO-PR-BigDL-Python-Spark-2.4-py37-ray/220/

**Orca Ray Horovod**
http://10.112.231.51:18888/job/ZOO-PR-BigDL-Python-Spark-2.4-py37-Horovod/253/
http://10.112.231.51:18888/job/ZOO-PR-BigDL-Python-Spark-3.1-py37-Horovod/281/
http://10.112.231.51:18888/job/ZOO-PR-

[2021-12-14 06:49] #3529 closed

[2021-12-14 06:53] hkvision commented on #3713
Not happening today.
Don't know the root cause.
Closing it first.

[2021-12-14 06:53] #3713 closed

[2021-12-14 07:12] hkvision opened #3725 "Orca tf1 train gets No route to host error when launching from remote on k8s"
Run on Almaren-Node-188
cd kai
export PYSPARK_PYTHON=/usr/local/envs/pytf1/bin/python
python ncf_orca.py

get the error below when the training is about to finish:
[code]
Seems 172.30.96.12 is an internal ip.
Previously there is no error, not sure what has happened during the past week for the docker image and the k8s cluster.
cc @pinggao18

[2021-12-14 07:51] TheaperDeng opened #3728 "Chronos: bigdl-chronos-lite development task list"
- [x] Forecaster on Nano #3539
- [ ] TSPipeline on Nano #3609
- [ ] AutoProphet/AutoARIMA without Orca (Except auto tuning)
- [ ] Sort out other dependencies
- [ ] new setup-lite.py
- [ ] Validation job on Jenkins
- [ ] Release

[2021-12-14 07:52] TheaperDeng commented on #3710
merged, to be verified

[2021-12-14 08:15] TheaperDeng opened #3730 "Chronos: some model filename should be changed to better support possible keras support"
This issue is a record for @shane-huang 's comment in #3539

1. base_forecaster.py should be renamed to base_pytorch_forecaster.py or pytorch_forecaster.py
2. support
[code]
3. rename tcn.py to tcn_pytorch.py

[2021-12-15 06:06] yushan111 commented on #3709
In Ray 1.9.0, UT passed but example tests with Ray PyTorch Estimator hang or deadlock, when `num_workers!=0` in Pytorch Dataloader.

https://github.com/intel-analytics/BigDL/blob/6adaef18ca21e14acc507822e06b0bc87dc8385c/python/orca/example/learn/pytorch/fashion_mnist/fashion_mnist.py#L50-L51

The detail logs are as below (I used CTRL+C in the end). It seems Ray fails to get result stats back after

[2021-12-15 07:30] yushan111 opened #3742 "Chronos distributed forecaster gets core dump with ray 1.8.0"
With Ray 1.8.0, when `chronos/models` and `chronos/forecaster` are in one `pytest` process, I got Segmentation fault when start testing distributed Lstm Forecaster.

It works fine when I split `chronos/models` and `chronos/forecaster`  into two processes.

Detail logs:
[code]

[2021-12-15 07:31] yushan111 commented on #3742
Related PR #3741

[2021-12-15 15:40] yushan111 commented on #3742
It seems the workaround only reduce the frequency for this error.
It is a random failure: http://10.112.231.51:18888/job/BigDL-PRVN-chronos-Python-Spark-2.4-py36-ray-part1/139/consoleFull

[2021-12-16 02:58] yushan111 commented on #3709
There are more critical issues in Ray 1.8.0
1.  Segmentation Fault caused by memory leak. Related issue https://github.com/intel-analytics/BigDL/issues/3742. And the two [parameter_server examples](https://github.com/intel-analytics/BigDL/tree/branch-2.0/python/orca/example/ray_on_spark/parameter_server) in ray_on_spark fail every time.
2.  Ray processes failed to start up, related issue https://g

[2021-12-16 03:00] yangw1234 opened #3749 "ray cluster mode follow up"
- [ ] upgrade ray https://github.com/intel-analytics/BigDL/issues/3709
- [ ] upgrade internal k8s to launch 1.8/1.9 ray cluster. https://github.com/intel-analytics/arda-docker/issues/549
- [ ] verify works on k8s ray cluster with ray client and change RayContext to use ray client to initialize
- [ ] verfify works with runtime_env
- [ ] (maybe optional) docker images pre-installed all bigdl depende

[2021-12-16 03:02] yushan111 commented on #3709
@jason-dai
Is that ok if we upgrade to Ray 1.9.0 and we don't allow `num_workers > 0` in Pytorch Dataloader for now?
I will try to reproduce in ray and report an issue.
https://github.com/intel-analytics/BigDL/blob/6adaef18ca21e14acc507822e06b0bc87dc8385c/python/orca/example/learn/pytorch/fashion_mnist/fashion_mnist.py#L50-L51

[2021-12-16 06:51] #3736 closed

[2021-12-17 00:59] piaolaidelangman commented on #3435
# yolov3.py
Local pass, client and cluster mode failed.
## Command
[code]
## Exception
[code]

[2021-12-17 01:03] piaolaidelangman commented on #3435
# transfer_learning.py
## Cluster Command
[code]
## Exception
[code]
## Related Issue
https://github.com/tensorflow/datasets/issues/2761
https://github.com/tensorflow/datasets/pull/2918

[2021-12-17 01:36] piaolaidelangman opened #3751 "[Yarn Test] Transfer Learning Error"
# transfer_learning.py  TF1
Client mode pass.
## Cluster Command
[code]
## Exception
[code]
## Related Issue
The main problem is the DatasetBuilder class.When creating a custom dataset for the first time, data_dir does not exist, and GCS will be accessed by default. However, our network cannot connect to GCS.
From:
https://github.com/tensorflow/datasets/issues/2761
https://github.com/tensorflow/da

[2021-12-17 01:37] piaolaidelangman opened #3752 "[Yarn Test] Yolov3.py Error"
# yolov3.py TF2
Local pass, client and cluster mode failed.
## Command
[code]
## Exception
[code]

[2021-12-17 01:39] piaolaidelangman commented on #3435
Transfer_learning.py error in this [issue](https://github.com/intel-analytics/BigDL/issues/3751)
Yolov3.py error in this [issue](https://github.com/intel-analytics/BigDL/issues/3752)

[2021-12-17 13:28] bendavidsteel commented on #3070
If BigDL now supports Spark 3, does it support PySpark 3+? If so could the pip package be updated to allow pyspark>=2.4.6?

[2021-12-18 07:39] #3186 closed

[2021-12-18 07:42] #3710 closed

[2021-12-20 02:02] hkvision commented on #3070
Hi @bendavidsteel
Yes, we build separate packages for pyspark 3.1.2, instead of installing from pypi, you need to download and install the packages from here: https://sourceforge.net/projects/analytics-zoo/files/ (find the folders that end with -spark3 for the nightly builds).

[2021-12-20 08:43] zhentaocc opened #3762 "Nano: Refactor tests"
## Description
We have 4 scripts to run for test in nano:

run-nano-codestyle-test.sh
run-nano-test.sh
run-nano-test-ipex.sh
run-nano-type-test.sh

When adding tests for nano, if developers add new files under `test` folder, it won't be automatically tested. I need to add extra command to run newly-added tests.
## Expected Behavior
Refactor the test folder as:
[code]
If all modules are compatible,

[2021-12-20 11:42] hkvision commented on #3725
Using spark-submit also gets the same error:
[code]

[2021-12-20 13:05] #3172 closed

[2021-12-20 13:10] 704572066 opened #3764 "How to save a BigDL model in the following example ? is there any api doc ?"
https://github.com/mrafayaleem/transfer-learning-bigdl/blob/master/transfer-learning-bigdl.ipynb

It was not saved as xx.model when I ran antbeeModel.save("/root/Desktop/model.model")

[2021-12-20 17:43] bendavidsteel commented on #3070
Great thanks, will use these. Is there any chance these alternative packages might eventually be available on pip or preferably conda?

[2021-12-21 05:43] hkvision commented on #3070
Hi @bendavidsteel
We are still working on this and hopefully it will be ready soon!

[2021-12-21 05:45] hkvision commented on #3764
Hi @704572066 Thanks for pointing out this. We will add model saving to the example and update the doc soon.

[2021-12-21 12:19] hkvision commented on #3725
basic_text_classification can run successfully.
After further test, the issue occurs when the embedding is (relatively) large; for the basic text classification example, vocab size is 10000, if I change to 100000, it fails... Enlarging memory doesn't resolve this issue.
The error raises from https://github.com/intel-analytics/BigDL/blob/0495db13f1ab6ab38e2cc650ea4f2617bae8b688/scala/dllib/src/main

[2021-12-21 12:51] hkvision commented on #3725
Running in cluster node from remote is successful:
[code]

[2021-12-21 12:54] yangw1234 opened #3770 "developer guide is stale"
https://bigdl.readthedocs.io/en/latest/doc/UserGuide/develop.html

[2021-12-21 19:39] jenniew opened #3772 "autoxgboost support spark dataframe/xshards"
autoxgboost support spark dataframe/xshards, so that it can create a pipeline with spark preprocessing without collect data to driver.

[2021-12-22 01:35] jason-dai commented on #3725
1) Looks to me like a memory issue; which memory did you increase?
2) Can you try running client mode on the master mode?
3) Is there is way to monitor the status of each executor node and the driver node?
4) We probably shouldn't use `first`:
[code]

[2021-12-22 02:11] hkvision commented on #3725
1. I increased both the driver memory and executor memory to 50G and 120G but still doesn't work. Doubt whether it is related to memory... probably the memory issue may not be the root cause since embedding of this size isn't that large...
2. I tried on Almaren-200 and it works. It also works on cluster mode from remote.
3. Need some investigation.
4. I will check the code.
Also at the same time @

[2021-12-22 02:17] jason-dai commented on #3725
Is it related to K8s memory config for the containers?

[2021-12-22 03:03] hkvision commented on #3725
No memory constraint from the cluster according to @pinggao187

Yes... So I doubt whether the issue is related to the internal ip (same as RayOnSpark), but don't know why basic text classification is successful and also I succeeded previously...

[2021-12-22 03:24] yushan111 commented on #3772
Autoxgboost supports distributed **tuning** but not distributed **training**. In that case, not training data  but trials with different hyper-parameter sets, distributed across workers in a cluster. And each trial (a ray worker) consumes **all** training and validation data for `fit` and `evaluate`.

Therefore it might be a little hard to support a pipeline without collecting data to driver, sinc

[2021-12-22 04:28] #3600 closed

[2021-12-22 04:46] dding3 commented on #3764
antbeeModel is Spark PipelineModel, and with `antbeeModel.save()` it will save the entire pipeline.

If want to save the bigdl model only(eg, preTrainedNNModel in the code), please use `preTrainedNNModel.model.save()`. We will add save model in the example soon.

[2021-12-22 08:52] hkvision commented on #3725
For 4, checked the code, optimizer.optimize will return the trained model, not only `first` is called for extra parameters, but also `reduce` is called for weights and gradients. Tried dllib keras also gets this error.

[2021-12-22 09:05] 704572066 opened #3779 "trying to pull repository docker.io/intelanalytics/bigdl-cluster-serving ... repository docker.io/intelanalytics/bigdl-cluster-serving not found: does not exist or no pull access"
trying to pull repository docker.io/intelanalytics/bigdl-cluster-serving ...
repository docker.io/intelanalytics/bigdl-cluster-serving not found: does not exist or no pull access

[2021-12-22 09:12] StevenGolden1203 opened #3780 "When "source bigdl-nano-init", some os files are missing"
After installing bigdl-nano(version: 0.14.0b20211215), I do "source bigdl-nano-init". It goes like:

`conda dir found: /opt/work/anaconda3/envs/DoppHuang/bin/..

OpenMP library found...
Setting OMP_NUM_THREADS...
Setting OMP_NUM_THREADS specified for pytorch...
Setting KMP_AFFINITY...
Setting KMP_BLOCKTIME...
Setting MALLOC_CONF...
Setting LD_PRELOAD...
**sed: error while loading shared libraries:

[2021-12-23 01:54] qiuxin2012 commented on #3780
Does your `sed` work fine?
Mayme you need to install `libunwind8` via apt or yum.

[2021-12-23 02:17] Litchilitchy commented on #3779
@704572066 BigDL 2.0 is still on build so this image has not been released. We will update the doc for misleading.

May you try intelanalytics/zoo-cluster-serving:0.9.0 as a work around.

[2021-12-23 02:23] TheaperDeng commented on #3780
I think this happens on one of our internal server, we may need to install them and see what happens.

[2021-12-23 02:29] TheaperDeng opened #3785 "Nano env variables may affect the influence latency"
It seems that the latency downgrade happens on all three models after user use `source bigdl-nano-init`. And the downgrade will disappear without calling `source bigdl-nano-init`

[2021-12-23 02:40] glorysdj commented on #3779
We are fixing log4j vulnerabilities for all the maven artifacts and dockerhub images, including functional and security updates.
We will soon publish latest versions. Will notify you in this issue once it's ready.

[2021-12-23 03:14] zhentaocc opened #3787 "Nano: torch.onnx.export fail if import ipex"
We will encounter `torch.onnx.export()` failure if ipex is imported no matter if we use ipex. A sample to reproduce this issue is as following. In the 2nd case when ipex is imported, nodes named `torch_ipex::linear` occurr and cause failure in model export.
[code]
Raised same issue on ipex: https://github.com/intel/intel-extension-for-pytorch/issues/207
Not sure who causes the error.
@TheaperDeng

[2021-12-23 03:17] zhentaocc commented on #3787
Users may have the same issues if they use ipex for training and try to use onnxruntime for inference.

[2021-12-23 04:16] zhentaocc commented on #3787
Seems this issue is fixed in IPEX=1.10.100

[2021-12-23 06:21] TheaperDeng opened #3789 "Chronos: forecaster and TSPipeline support quantization API design"
[code]

[code]

Different from onnxruntime behavior, `forecaster.predict(..., quantize=True)` is called before `forecaster.quantize()` an error will be reported to teach users call `quantize` in advance.

Same things will happen in `TSPipeline`.

As for `save` and `load`, the quantized model will be saved and loaded together with the original fp32 model if a user ever called `forecaster.quantize()

[2021-12-23 06:27] TheaperDeng commented on #3787
issue noticed and I will have some reproduction work later.

[2021-12-23 06:39] TheaperDeng commented on #3601
Seems that these two libs are covered by `bigdl-nano[pytorch]`

[2021-12-23 06:39] #3601 closed

[2021-12-23 06:58] #3291 closed

[2021-12-23 10:38] jason-dai commented on #3725
See https://github.com/apache/spark/blob/branch-2.4/core/src/main/scala/org/apache/spark/executor/Executor.scala#L165

If the result of a Task is small, it will be directly sent back to the driver; otherwise, it will be stored in BlockManager and the driver need to fetch it from BlockManager. Therefore the behavior will be different when embedding size becomes larger.

[2021-12-24 02:22] hkvision commented on #3725
After setting `"spark.task.maxDirectResultSize": "100000000"` in conf, can run on the small dataset with ~20w items. But I think this is just a workaround? The main issue is why the data in the BlockManager gets lost unexpectedly?

[2021-12-24 03:17] songhappy opened #3796 "local build on Mac spark312 failed"
1. command: bash release_default_mac_spark312.sh 0.14.0.dev1 false true
2. error message:
    /Users/guoqiong/intelWork/git/BigDL/python/dllib/dev/release
    /Users/guoqiong/intelWork/git/BigDL/python/dllib
    sed: 1: "/Users/guoqiong/intelWo ...": extra characters at the end of g command

[2021-12-24 05:08] 704572066 opened #3797 "org.apache.flink.client.program.ProgramInvocationException: The main method caused an error: null"
get the error when starting the zoo-cluster-serving:0.9.0 with the  saved bigdl model by calling pretrainedNNModel.model.save()
![微信图片_20211224130844](https://user-images.githubusercontent.com/23404868/147318968-7e01ddee-a127-49d0-b838-1fad9d189c90.png)
![微信截图_20211224130307](https://user-images.githubusercontent.com/23404868/147318629-d09f27c9-c3d0-40e2-bfe0-c8c86a413c04.png)

[2021-12-24 08:52] Le-Zheng commented on #3796
`sed` can not work on mac. You should use `gsed`.

[2021-12-24 14:17] hkvision commented on #3725
@jason-dai You are right. Now the root cause is the driver can't connect to the block manager.
Previously I succeeded on ml-1m dataset, which only has 3000+ items... while ml-latest-small dataset has far fewer records but actually has far more items... Sorry that I overlooked this...
I tried collecting some data to the driver and it gets the same error as well.
Looking into how to solve this issue

[2021-12-27 01:47] yangw1234 commented on #3797
@Litchilitchy @dding3 Could you help take a look? It looks like a problem bigdl's ModuleLoader.

[2021-12-27 02:12] Litchilitchy commented on #3797
seems like bigdl model loading error. If no idea for now, I suggest to use a scala program (would be better in IDE) to directly load InferenceModel for your model first. And see if it works.

usage:
[code]

[2021-12-27 05:52] hkvision commented on #3725
This issue should be the same as #3605

[2021-12-27 08:03] jason-dai commented on #3797
@704572066 which version of Analytics Zoo / BigDL are you using?

[2021-12-27 08:42] Litchilitchy commented on #3797
I think the version is cluster serving docker 0.9.0?

[2021-12-27 08:48] jason-dai commented on #3797
How about `pretrainedNNModel.model.save()`? How is `pretrainedNNModel` trained? Using Analytics Zoo or BigDL?

[2021-12-27 13:41] TheaperDeng opened #3806 "Nano: quantization API with nano renew design"
### Current status (without onnx quantization)

For pytorch-lightning user:

[code]

For pytorch user *(potentially, we do not support it yet but it can be valid simply)*:

[code]

### Issue

1. `pl_model_quantized` and `model_quantized` are `torch.fx.graph_module.GraphModule`. An unfamilar type to users. Users **can not**:

  - use onnx.export to trace the quantized model.

  - use normal way to

[2021-12-28 01:07] 704572066 commented on #3797
![image](https://user-images.githubusercontent.com/23404868/147516910-007a9d14-ecf0-49c6-a5b8-cf8e64d98450.png)

[2021-12-28 01:10] 704572066 commented on #3797
reference the link：https://github.com/mrafayaleem/transfer-learning-bigdl

[2021-12-28 01:57] TheaperDeng opened #3808 "Nano: give a less strict pytorch version requirement"
https://github.com/intel-analytics/BigDL/blob/26ce68a5c3ffa59fb81eeb8ef537cb2f576cb95d/python/nano/src/setup.py#L75-L76

Maybe we can state this as
[code]
So a user with torch == 1.8.0/1.9.0 pre-installed will be supported. If a user have not installed `torch`, `torch==1.9.0` and `torchvision==0.10.0` will be installed.
For the function that is not supported in `torch<1.9.0` (I think there is only

[2021-12-28 02:41] Litchilitchy commented on #3797
Could you try `pretrainedNNModel.model.saveModel()` to save?

[2021-12-28 03:04] yushan111 commented on #3742
It is not a Chronos only issue. And we will directly upgrade ray to 1.9.0.

Close the issue for now.

[2021-12-28 03:04] #3742 closed

[2021-12-28 03:27] 704572066 commented on #3797
pretrainedNNModel.model.saveModule() not defined, I tried pretrainedNNModel.model.saveModel() and came across  another error in cluster-serving
![image](https://user-images.githubusercontent.com/23404868/147523993-ffb30238-338c-4369-a817-8f82a85e13d2.png)

[2021-12-28 03:37] Litchilitchy commented on #3797
@704572066 Is this solved?

[2021-12-28 03:40] 704572066 commented on #3797
sorry , I closed the issue by accident

[2021-12-28 05:47] Litchilitchy commented on #3797
@704572066 How do you install cluster-serving, by docker?

[2021-12-28 05:52] 704572066 commented on #3797
by docker

[2021-12-28 05:59] Litchilitchy commented on #3797
The docker version may be obsolete in jar file, we are trying to upgrade.

For now would you please try install the latest version by downloading?https://bigdl.readthedocs.io/en/latest/doc/Serving/ProgrammingGuide/serving-installation.html#manual-installation

[2021-12-28 06:07] yushan111 commented on #3658
With `pyspark` backend, `fit` takes **~3.6h** to finish ([log](http://172.16.0.107:7777/history/application_1635122719575_0707/jobs/)); with `ray` backend, `fit` takes **~2.6h** to finish ([log](http://172.16.0.107:7777/history/application_1635122719575_0708/jobs/)).

There are two reasons

1. The main reason is the **unbalanced data** with `SparkXShards.rdd.repartition(num_workers)`.
   * After c

[2021-12-28 08:36] jason-dai commented on #3806
1. Why not have `trainer.quantize(model, dataloader)` always return a pytorch-lightning model instead of `torch.fx.graph_module.GraphModule`?

2. After calling `quantize`, the reasonable behavior should be using int8 for prediction by default?
[code]

3. What's the expect behavior when calling `trainer.fit(q_model, ...)` in this case?

---

This only works after calling `trainer.fit`, yes? I think

[2021-12-28 09:53] yushan111 commented on #3658
Tests were based on [DeepFM Recsys example](https://github.com/intel-analytics/BigDL/blob/branch-2.0/python/friesian/example/deep_fm/deepFM_train.py).

With below changes

[code]

[2021-12-28 14:02] #3660 closed

[2021-12-29 05:05] TheaperDeng commented on #3808
well it seems that `torch==1.8.1` should not be allowed since it has a much worse performance on Xeon.

[2021-12-29 05:52] liangs6212 opened #3817 "Pandas Version: 1.3.5"
Problems after installing pandas 1.3.5 in jenkins.
link:http://10.112.231.51:18888/job/BigDL-PRVN-chronos-Python-Spark-3.1-py37-ray-part2/171/console

#### pandas

`pandas.DataFrame.interpolate` has issues with timezone-aware datetime64ns columns, when default method is "Linear", And will raise a ValueError.
[code]

#### tsdataset

Realize the "impute" method of tsdataset based on `pandas.DataFram

[2021-12-29 05:58] #3817 closed

[2021-12-29 11:27] 704572066 opened #3819 "Error constructing implementation (algorithm: Default, provider: SunJSSE, class: sun.security.ssl.SSLContextImpl$DefaultSSLContext)"
[code]

[2021-12-31 02:57] Litchilitchy commented on #3819
@704572066  Seems your ssl auth has some error. Have you tried non-ssl config?

[2021-12-31 05:18] 704572066 commented on #3819
how to configure non-ssl

[2021-12-31 06:37] Litchilitchy commented on #3819
@704572066 Do you have a config.yaml in your working directory? could you post its content here?

[2021-12-31 06:40] 704572066 commented on #3819
![image](https://user-images.githubusercontent.com/23404868/147807842-b2cbf0a6-a605-4ed8-aea6-2c665a26c804.png)

[2021-12-31 06:47] Litchilitchy commented on #3819
Could you also post the `servable-manager` in your log
[code]

[2021-12-31 06:48] 704572066 commented on #3819
![image](https://user-images.githubusercontent.com/23404868/147808182-fb303ff7-4ce9-4fdd-a55b-2904eaf91b7c.png)

[2021-12-31 08:05] yushan111 opened #3823 "Add Pyspark DataFrame support for AutoXGBoost"
Below tasks will be done sequentially.

- [x] Expose interface for `DataFrame`. Implemented with `toPandas` internally. #3822
- [ ] Implemented without converting to pandas Dataframe or collecting to driver.
- [ ] Distributed training for each trial.

[2021-12-31 08:40] 704572066 commented on #3819
I have resolved the problem, just run the comand : yum update ca-certificates || sudo yum -y reinstall ca-certificates

[2021-12-31 08:49] #3819 closed

[2021-12-31 23:00] ztz1989 opened #3824 "Error on Spark 3.2 + Hadoop 3.2"
Dear BigDL experts,

I am having some problems running the example on the Hadoop/Yarn user guide.  In specific, when I run the following code in the python terminal:

[code]
I got the following error:

[code]
I am currently using Spark 3.2.0 with Hadoop 3.2.2. They are built on top of 4 commodity Ubuntu servers in the same subnet. I have exported the HADOOP_CONF_DIR variable as well. Could you giv

[2022-01-03 04:57] 704572066 commented on #3764
It seems that preTrainedNNModel.model.save() will not save the model with the last layer as new classifier layer that detects just 2 classes, the response was 1000 classes when I inferenced with cluster-serving http api
![image](https://user-images.githubusercontent.com/23404868/147900465-ff094537-2da0-4259-86ea-46e7bdaca62b.png)

[2022-01-04 01:42] glorysdj commented on #3824
It seems that you are missing scala library jars in your classpath, please have a check.
scala-library-X.jar should in spark jars folder, please check your classpath

[2022-01-04 02:35] glorysdj commented on #3824
BTW, could you please share how you installed spark/hadoop and bigdl?

[2022-01-04 06:29] qiuxin2012 commented on #3764
I find `pipeline = Pipeline(stages=[preTrainedNNModel, classifier])` has two models, so you need to save the classifier two like below.
[code]

[2022-01-04 09:11] jason-dai commented on #3764
@dding3 need to add native support for this

[2022-01-04 09:14] 704572066 commented on #3764
2022-01-04 17:07:14,887 INFO  org.apache.flink.runtime.entrypoint.ClusterEntrypoint        [] - --------------------------------------------------------------------------------
2022-01-04 17:07:14,889 INFO  org.apache.flink.runtime.entrypoint.ClusterEntrypoint        [] -  Preconfiguration:
2022-01-04 17:07:14,889 INFO  org.apache.flink.runtime.entrypoint.ClusterEntrypoint        [] -

JM_RESOURCE

[2022-01-04 09:25] qiuxin2012 commented on #3764
Before saving the `finalModel`, could you try to run a `finalModel.forward(your_input)` to see if the model is valid?

[2022-01-05 02:21] #3762 closed

[2022-01-05 05:29] TheaperDeng commented on #3806
### Save and load

#### save

pytorch user:

[code]

pytorch lightning user (**also support all operations as pytorch users**):

[code]

#### load

since onnx file is easy to load we only consider torch model.

pytorch user:

[code]

pytorch lightning user (**also support all operations as pytorch users**):

[code]

[2022-01-05 05:34] TheaperDeng commented on #3806
1. Yes, we will always return a pytorch-lightning model unless users state `raw_return=True`.
2. I think it might be clearer for our users if we fix `quantized=False`. But I have not come to a conclusion.
3. stated in https://github.com/intel-analytics/BigDL/issues/3806#issuecomment-1005394740

[2022-01-05 07:44] 704572066 commented on #3764
It has to use finalModel.saveModel(path) not finalModel.save(path),
[code]
now the saved model works fine with cluster-serving http api. But

[2022-01-06 01:04] #3797 closed

[2022-01-06 04:29] yushan111 opened #3836 "Connection closed by server Error when stopping orca context"
[code]

[2022-01-06 05:49] #3171 closed

[2022-01-06 05:52] TheaperDeng commented on #3568
Just noticed this reply. Yes, use cmd to get information does not work on a CN system. When I use INC on my CN system I changed the source code in https://github.com/intel/neural-compressor/blob/master/neural_compressor/ux/utils/hw_info.py#L121. So we need other solutions...

[2022-01-06 05:54] TheaperDeng commented on #3177
I think I may just remove this readme later since nearly all (if not all, more up-to-date) information is stated in our user guide.

[2022-01-06 09:02] jason-dai commented on #3568
How about `os.cpu_count()`, `multiprocessing.cpu_count()`, or https://github.com/workhorsy/py-cpuinfo?

[2022-01-06 09:11] TheaperDeng commented on #3568
It seems that all these three can not get socket num?

[2022-01-06 09:16] yangw1234 commented on #3568
does `lscpu -p=sockets,cpu` solve this problem. @charlieJ107 @TheaperDeng

I do not have environment to experiment.

![image](https://user-images.githubusercontent.com/10561966/148359154-b39d3be0-527b-489e-b327-6a4a7b3609b2.png)

[2022-01-06 09:18] TheaperDeng commented on #3568
Oh I think that could work. @yangw1234
![image](https://user-images.githubusercontent.com/35031544/148359453-b8cbfdb2-9987-4a8d-a80e-c73b124dbeab.png)

[2022-01-06 09:22] jason-dai commented on #3177
Yes, we may remove it; all documents should go to bigdl.readthedocs.io

[2022-01-06 12:12] jason-dai commented on #3806
This only works if the user has called `trainer.fit` first, yes?

What if the user passes an unquantized state to `load_quantized_state_dict`? Can we detect that?

[2022-01-06 12:32] TheaperDeng commented on #3806
We may do something to bind the model when users call `trainer.compile`. But yes, users at least should do some thing on this model by the trainer to be called `save_checkpoint`. And that is why it should only work for a pl user.

I'm not 100% sure, but I think we can(and we should).

[2022-01-06 13:25] qiuxin2012 commented on #3764
I try to print `print(classifier.model.get_weights())`
 the classifier‘s weights before and after `fit`, the weights has changed, The model should be right.
The model's output in Cluster Serving is LogSoftMax result, the predition result should be computed with something like https://github.com/intel-analytics/BigDL/blob/9fec6fd7cfc2c282c012765f5b53e534890030e5/scala/dllib/src/main/scala/com/intel

[2022-01-06 13:38] qiuxin2012 commented on #3764
@Litchilitchy Please tell him how to transform the model results to binary preditions.

[2022-01-06 19:55] jenniew opened #3841 "TF2Estimator on Pyspark backend got error on Spark 2.4.0: 'TaskContext' object has no attribute 'getTaskInfos'"
When TF2Estimator on Pyspark backend on Spark 2.4.0, got this error: AttributeError: 'TaskContext' object has no attribute 'getTaskInfos'.

Traceback (most recent call last):
  File "/ads_storage/udap/ray/ncf_zoo_tf2.py", line 181, in <module>
    validation_steps=2)
  File "/ads_storage/udap/ray/ray-venv/lib/python3.7/site-packages/bigdl/orca/learn/tf2/pyspark_estimator.py", line 138, in fit

[2022-01-07 01:46] Litchilitchy commented on #3764
@704572066 Cluster Serving returns same output with your original local model, except that you need to construct the ndarray if you use http frontend mode.

To construct ndarray, extract the content of `data, shape` of your output that you post, and
[code]
If you want the binary classification result (0, 1), you have to do what you postprocess with your local model. e.g. `index = np.argmax(ndarray

[2022-01-07 06:02] 704572066 commented on #3764
![image](https://user-images.githubusercontent.com/23404868/148499297-6e8f8daa-896b-4e22-a90f-c65d3ebb4a88.png)

[2022-01-07 06:35] TheaperDeng commented on #3806
So basically three PRs will be raised separately for this issue:

- [ ] change the `Trainer.compile(..., raw_return=False)` to return a pl model and support the easy inference api (`.eval(quantized=True)`)
- [ ] add support to onnx's quantization
- [ ] add support of save and load

[2022-01-07 06:52] Litchilitchy commented on #3764
@704572066 Is this an binary classification of ant and bee model?

Could you also share your local code to get `predictionDF`? And print the result of it.

Also could you show how you convert the image base64 input, and send it to Cluster Serving?

[2022-01-07 06:57] 704572066 commented on #3764
`
import os.path as osp

from bigdl.dllib.nn.criterion import *
from bigdl.dllib.nn.layer import *
from bigdl.dllib.nnframes import *
from bigdl.dllib.feature.image import *

def build_transforms(params):
    from bigdl.dllib.feature.common import ChainedPreprocessing

    transformer = ChainedPreprocessing(
        [RowToImageFeature(), ImageResize(256, 256), ImageCenterCrop(224, 224),
         I

[2022-01-08 04:03] Tony-Feng commented on #3824
That looks like an error I encountered before. Not completely sure, but when I directly installed BigDL using pip, it installed BigDL with spark 2 support, which caused the same issue here.

[2022-01-08 04:27] Tony-Feng opened #3845 "Platforms for providing whl files with spark 3.x support"
Hello dev team,

Currently, the whl files compiled for spark 3.x are provided in SourceForge only. I'm wondering if there would be other stable platforms offering those whl files, such as PyPI?

If not, would there be a plan/estimation about officially releasing the support for spark 3.x, so that we can use pip to install BigDL with spark 3.x from other platforms, especially to install BigDL Orca

[2022-01-08 10:48] ztz1989 commented on #3824
Hi, apologies for the late reply due to vacation.

I manually installed Spark/Hadoop on five Linux servers in the same subnet and followed the BigDL tutorial to install using pip.

In the end, I solved the problem by downgrading my spark cluster from spark 3.2.0 to 2.4.6. This is exactly the issue that Tony pointed out.

Thanks for your help. I will close this thread.

[2022-01-08 10:48] #3824 closed

[2022-01-10 00:47] hkvision commented on #3845
Hi @Tony-Feng

It is already planned :) Will release it after this PR (https://github.com/intel-analytics/BigDL/pull/3781) merge very soon.

[2022-01-10 02:00] Litchilitchy commented on #3764
@704572066  Seems the results are not correct?

Could you extract the `predictDF` the two images ant and bee, and post it here.

The results of cluster serving are above, but could you also post it here in text format.

Let's see if they are consistent

[2022-01-10 02:22] 704572066 commented on #3764
![image](https://user-images.githubusercontent.com/23404868/148711628-1c51d2ac-a517-40d6-9cb8-b3824de1fe34.png)

The results of cluster serving:
{
  "predictions" : [ "{\"value\":\"{\\\"data\\\":[-0.614643,-0.7783434],\\\"shape\\\":[2]}\"}", "{\"value\":\"{\\\"data\\\":[-0.5854335,-0.8138796],\\\"shape\\\":[2]}\"}" ]
}

[2022-01-10 02:27] Litchilitchy commented on #3764
@704572066 I just found you have image preprocessing
[code]
Did you do the same preprocessing before you convert to image base64?

[2022-01-10 02:29] 704572066 commented on #3764
I didn't do the preprocessing

[2022-01-10 02:32] Litchilitchy commented on #3764
@704572066 You have to do the same preprocessing and convert the result to base64. You can use cv2(opencv-python) to do the same thing

If the preprocessing steps are not the same surely the results would not be same.

[2022-01-10 02:58] 704572066 commented on #3764
Do I need to preprocess all the step that chainedpreprocessing processes or just the two steps of the imageresize and imagecentercrop  with cv2

[2022-01-10 03:09] Litchilitchy commented on #3764
@704572066 you have to do following related to image process
[code]
The other operations are type transformations, which are different for each framework you use, e.g. NNFrame, Cluster Serving, Tensorflow so they are not needed here

[2022-01-10 03:14] limn2o4 opened #3848 "load tf2.4 exported savedModel into bigdl"
I currently using analytics-zoo 1.11 and I get a Op type not registered error

[2022-01-10 03:17] limn2o4 commented on #3848
the complete err msg are below
	at org.tensorflow.SavedModelBundle.load(Native Method)
	at org.tensorflow.SavedModelBundle.access$000(SavedModelBundle.java:27)
	at org.tensorflow.SavedModelBundle$Loader.load(SavedModelBundle.java:32)
	at org.tensorflow.SavedModelBundle.load(SavedModelBundle.java:95)
	at com.intel.analytics.zoo.pipeline.api.net.TFNetForInference$.fromSavedModel(TFNetForInference.sc

[2022-01-10 03:56] LouieBHLu opened #3849 "Caused by: jep.JepException: <class 'TypeError'>: Buffer format 'f' is not valid for a byte[]."
When I run `orca_estimator.fit(data=train_loader, epochs=epochs, validation_data=test_loader,
                           checkpoint_trigger=EveryEpoch())`, I encounter this issue, which did not happen last Friday. Wonder what's going on?

[2022-01-10 04:07] LouieBHLu commented on #3849
Solved when reinstall orca. Still wonder why this happened

[2022-01-10 04:07] #3849 closed

[2022-01-10 05:09] TheaperDeng opened #3850 "Chronos: bigdl-chronos[all] install failure for version>0.14.0b20211215"
Currently, when users install `pip install bigdl-chronos[all]>0.14.0b20211215`, pip's install version will fallback to `0.14.0b20211215`.
`pip install bigdl-chronos>0.14.0b20211215` works well.

After some bug location work, I believe `protobuf==3.12.0` should be the issue.
[code]

[2022-01-10 05:39] yangw1234 commented on #3848
Hi @limn2o4 , sorry I did not understand your question.

Would you mind stating more clearly about the problem you faced? What's the code you used and what's complete error message?

[2022-01-10 05:55] TheaperDeng opened #3853 "Chronos: Enhancement Umbrella Issue"
**These enhancements are not that *"Urgent"* and will be completed as regular development for Chronos gradually.**

- [ ] A more user-friendly [tutorial page](https://bigdl.readthedocs.io/en/latest/doc/Chronos/QuickStart/index.html) to help them solve practical problems
- [ ] Support data creator
- [ ] Add NAB metrics and other simple metrics to `chronos/metric/ad_metrics.py`.
- [ ] Add N-Beats an

[2022-01-10 05:55] #3177 closed

[2022-01-10 08:15] jack1981 opened #3854 "Auto estimator did not support different shape of feature columns"
We got exception when we pass different type of feature columns into auto_estimator.fit() , the exception was because np.concatenate requires each feature column must have same shape
api.zip/bigdl/orca/automl/search/ray_tune/ray_tune_search_engine.py", line 410, in <listcomp>
(ImplicitFunc pid=39919)     X = np.concatenate([np.stack(shard["x"], axis=1) for shard in shards], axis=0)

Below is examp

[2022-01-10 08:58] 704572066 commented on #3764
The prediction result seems not right after I do transform, could you help me to look at the issue
![image](https://user-images.githubusercontent.com/23404868/148739554-1564d7dc-a705-4b75-9aa1-dc4ef7fa244d.png)

[code]

[2022-01-10 13:23] #3850 closed

[2022-01-10 15:52] jack1981 commented on #3854
Many Thanks!
Could I have a new api zip to verify?

Jack

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Yu Shan ***@***.***>
Sent: Monday, January 10, 2022 7:33:14 AM
To: intel-analytics/BigDL ***@***.***>
Cc: Song, Suqiang ***@***.***>; Author ***@***.***>
Subject: {EXTERNAL} Re: [intel-analytics/BigDL] Auto estimator did not support different shape of feature

[2022-01-11 02:22] Litchilitchy commented on #3764
@704572066 Could you create a colab for the code before sending request to Cluster Serving?

We will help to check the preprocessing results.

[2022-01-11 02:45] 704572066 commented on #3764
@Litchilitchy I have create a colab for the code of preprocessing

[2022-01-11 03:00] shane-huang commented on #3712
Implementation Notes 2:

@automl.obj() will return a lazy intialilzable object with configuration space as a member variable.
  - For Sequential, the added layers in ```model.add()``` will be stored in a list. Then the search spaces will be collected from the decorated layers and converted optuna search space.
  - For Model, the Model object as a whole is decorated. The search space will be extrac

[2022-01-11 03:01] shane-huang commented on #3712
@jason-dai revised design

[2022-01-11 03:01] TheaperDeng commented on #3568
Currently it reports:
[code]
I think it's a typo in the code https://github.com/intel-analytics/BigDL/pull/3851/files#r781724019

[2022-01-11 03:02] Litchilitchy commented on #3764
share the link here so we can access

[2022-01-11 03:03] 704572066 commented on #3764
https://colab.research.google.com/drive/1FMW_wj8XnYNqI3yg6hUqsOVQblw0fXjK

[2022-01-11 03:23] Litchilitchy commented on #3764
I did some check in colab and found the preprocessed image ndarray is
[code]
Is this the consistent one with above? Seems std=255 is needed?

[2022-01-11 03:34] 704572066 commented on #3764
But the default std value of ImageChannelNormalize is 1.0
[code]

[2022-01-11 05:03] Litchilitchy commented on #3764
@704572066 Could you upload your model to some cloud drive and share the link.

I would try to reproduce both of your results and see what's going wrong.

[2022-01-11 06:19] 704572066 commented on #3764
https://github.com/704572066/online-ai-platform/raw/master/model/20220106.model

[2022-01-11 18:08] Tony-Feng commented on #3845
Hello @hkvision,

Thank you very much for the confirmation! It's great that we can now install the new version with pip!

In addition, would the corresponding docker image in the docker hub be updated with spark 3.x support?

Again, thank you very much

[2022-01-11 21:38] jack1981 opened #3867 "When init_orca_context , couldn't set up Ray worker_ports and got port conflict because Ray random select worker ports from range"
We are testing Ray 1.9.0 with BigDL 2.0 and found this issue which made RayOnSpark job run failed randomly due to ports conflict

We did not find suitable way to control the worker_ports , the only way we can control some port was through the extra_params pairs but we did not find how to impact worker_ports

dct = {'extra_params':{"_metrics_export_port":50005,"dashboard-port":50006}}
sc = init_orc

[2022-01-12 02:25] qiuxin2012 commented on #3867
I find `--worker-port-list`  to control Ray's worker ports in https://github.com/ray-project/ray/issues/18053

[2022-01-12 02:27] Litchilitchy commented on #3764
@704572066 I am trying to use your model but I found
[code]
Is this the model you saved? Seems this `preTrainedNNModel` is not used after this?

Also another question, have you checked the input before you predict in `NNFrame` (I think we have checked the one of Cluster Serving above and we could see if they are almost the same before fed to model).

[2022-01-12 02:38] qiuxin2012 commented on #3867
`--worker-port-list` doesn't work due to a bug of bigdl, @yushan111 will fix it.

[2022-01-12 02:45] yushan111 commented on #3854
Hi Jack,

If the fix works, I may close the issue. Thanks!

[2022-01-12 03:12] Le-Zheng commented on #3845
Hi @Tony-Feng,
`intelanalytics/bigdl-k8s:latest` is a built-in image that supports 3.x. You can follow the guide https://bigdl.readthedocs.io/en/latest/doc/UserGuide/k8s.html to know about the usage.

[2022-01-12 04:39] 704572066 commented on #3764
@Litchilitchy I‘m sure its saved as 20220106.model after fitting and deployed in the cluster-serving，the code you mentioned is useless. I have not checked if the input of your NNFrame and Cluster Serving are consistent, validationDF is the input of nnframe? or cloud you help checking?

[code]

[2022-01-12 05:13] yushan111 commented on #3867
Worker ports specification (with `--worker-port-list` or `--min-worker-port` and `--max-worker-port`) **works in yarn** but doesn't work in local.

In yarn mode, you could just add {"worker-port-list": "10002,10003,10004", "metrics-export-port": "10005"} to `extra_params` to take effect.
In local, we currently don't support worker ports specification and will cause `RuntimeError: Unknown keyword a

[2022-01-12 05:24] zhentaocc commented on #3787
Solutions:

1. (recommended) Upgrade to torch>=1.10, ipex>=1.10
2. Don't import ipex when exporting to onnx is needed !

[2022-01-12 05:39] jack1981 commented on #3867
Yes , we verified that , yarn is fine, we only need it at Production.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Yu Shan ***@***.***>
Sent: Tuesday, January 11, 2022 9:13:16 PM
To: intel-analytics/BigDL ***@***.***>
Cc: Song, Suqiang ***@***.***>; Author ***@***.***>
Subject: {EXTERNAL} Re: [intel-analytics/BigDL] When init_orca_context , couldn't set up Ray

[2022-01-12 05:40] Litchilitchy commented on #3764
@704572066 I tried to reproduce with your model with your bee image above, the result is
[code]
which is closed to your Cluster Serving result above:

{
"predictions" : [ "{"value":"{\"data\":[-0.614643,-0.7783434],\"shape\":[2]}"}", "{"value":"{\"data\":[-0.5854335,-0.8138796],\"shape\":[2]}"}" ]
}
However your result of NNFrame is 5.36e-12 above, which I could not reproduce.

My code is below, y

[2022-01-12 06:08] yushan111 commented on #3867
By production, you mean yarn? Or you have other production environment?

[2022-01-12 06:09] zhentaocc commented on #3651
#3856

[2022-01-12 08:02] 704572066 commented on #3764
@Litchilitchy The logic is the same with mine, I found that prediction results of 20220106.model are consistent with prediction results of NNFrame if we see the embedding column
![image](https://user-images.githubusercontent.com/23404868/149086874-8382f2d4-12e2-4dca-bda6-ee80ae299666.png)

[2022-01-12 11:28] Litchilitchy commented on #3764
@704572066 From your post above. The result is 5.36e-12

![image](https://user-images.githubusercontent.com/14172147/149131858-685fe14d-cab7-4adf-ae61-d5a8920c904f.png)

[2022-01-13 01:02] Tony-Feng commented on #3845
Hi @Le-Zheng,

Thanks a lot for pointing that out. However, the Read the Docs site doesn't work right now, it showed the corresponding page did not exist. Although I found the doc here: https://github.com/intel-analytics/BigDL/blob/branch-2.0/docs/readthedocs/source/doc/UserGuide/k8s.md, would you mind having a look at the doc site?

Thank you very much

[2022-01-13 01:31] Le-Zheng commented on #3845
Hi @Tony-Feng,
Thank you for pointing out the problem of readthedoc site. We are looking into that.
Yes. You can read the k8s.md that is the same as readthedoc site.

[2022-01-13 01:36] Litchilitchy commented on #3764
@704572066 From my code above the bee image result is `[-0.8173421025276184, -0.5826866030693054]`

but yours is `[-0.8463575, -0.56032157]` according to your last reply. Seems not totally consistent?

By the way could you use text format to post your result, and you could highlight the particular record to compare.

[2022-01-13 01:51] 704572066 commented on #3764
because I trained the model again，so the result is a bit different from the Previous model

[2022-01-13 02:20] Litchilitchy commented on #3764
Please post the both result of cluster serving and NNFrame if you are changing to new model.

[2022-01-13 03:04] 704572066 commented on #3764
@Litchilitchy

 result of  NNFrame：
[code]
 result of cluster serving with preprocessing
[code]

 result of cluster serving without preprocessing
[code]
http request code ：
[code]

[2022-01-13 03:16] Tony-Feng commented on #3845
Hi @Le-Zheng,

The doc site is back now. I believe my questions are solved for now and will wait for the new release. I'll close this issue for now.

Thank you very much

[2022-01-13 03:16] #3845 closed

[2022-01-13 06:48] hkvision commented on #3592
--archives local:///bigdl2.0/data/pyspark_python.tar.gz#env \  # this path shoud be what k8s pod can access

Do you mean each pod should have access to this path?
Or spark will automatically distribute the archive to each pod?

[2022-01-13 07:51] Le-Zheng commented on #3592
Spark will automatically distribute the archive to each pod.
For k8s client mode, the driver runs in the local physical host, and Spark can ship the local archive on the executor pod. The archive path does not have to be nfs. Spark submit command is:
[code]
For k8s cluster mode, the driver runs in k8s pod. The archive path must be where k8s pod can access, such as nfs. Spark submit command is:
[co

[2022-01-13 07:55] hkvision commented on #3592
great, this makes sense.

[2022-01-13 11:35] hkvision opened #3874 "Caused by: java.lang.NoClassDefFoundError: org/apache/logging/log4j/Logger error when running tf1 example on k8s"
Now using the latest image `intelanalytics/bigdl-k8s-spark-3.1.2:0.14.0-SNAPSHOT` and the 20220112 (also 20220107) python whls of spark3, when I run the example here: https://github.com/intel-analytics/BigDL/pull/3532 I get the error below.

Previously with the image before the log4j fix and using the 20211212 python whls I can run successfully.

[code]

[2022-01-13 12:03] hkvision commented on #3874
Add a record here:
[code]
2022-01-13 11:22:53 WARN  TaskSetManager:69 - Lost task 1.0 in stage 35.0 (TID 54) (172.30.78.5 executor 4): java.lang.ClassCastException: cannot assign instance of java.lang.invoke.SerializedLambda to field org.apache.spark.rdd.MapPartitionsRDD.f of type scala.Function3 in instance of org.apache.spark.rdd.MapPartitionsRDD
	at java.io.ObjectStreamClass$FieldReflector.setO

[2022-01-13 13:03] hkvision opened #3875 "Modify bigdl docker file?"
https://github.com/intel-analytics/BigDL/tree/branch-2.0/docker/bigdl

1. Remove start-notebook.sh which can only start for spark local. Change to `jupyter notebook --notebook-dir=/opt/work/bigdl-0.14.0-SNAPSHOT/apps --ip=0.0.0.0 --port=12345 --no-browser --NotebookApp.token=1234qwer --allow-root` and we can call init_orca_context to start spark for different modes.
2. Do we need to install all th

[2022-01-14 01:22] glorysdj commented on #3875
I suggest to add a start-notebook-without-spark.sh to start a jupyter notebook in your way to use init_orca_context
keep start-notebook.sh and python env to keep all the notebook tutorials running with spark local for showcases as default

[2022-01-14 01:30] hkvision commented on #3875
If you want to showcase spark local, you can directly use init_orca_context("local"). I don't think two separate scripts are handy.

[2022-01-14 01:40] glorysdj commented on #3874
should include log4j 2 jars
https://github.com/intel-analytics/BigDL/blob/branch-2.0/scala/assembly/src/main/assembly/assembly.xml#L133

log4j 1 jars can be excluded before because spark has it in its lib
since we move to log4j2 if we exclude it in assembly spark doesn't have it in its lib, error happens

[2022-01-14 01:46] glorysdj commented on #3875
Does this means we should modify all the tutorials code?
And if we start jupyter notebook with spark local or spark on k8s, can we still use init_orca_context to start a spark context with different conf in specified init_orca_context?

[2022-01-14 01:47] glorysdj commented on #3875
Does this means we should modify all the tutorials code?
And if we start jupyter notebook with spark local or spark on k8s, can we still use init_orca_context to start a spark context with different conf in specified init_orca_context?

[2022-01-14 01:50] hkvision commented on #3875
`sc = init_nncontext("Anomaly Detection Example")`
The code in the notebooks are like this. I don't think we need to modify anything. The default mode for init_nn/orca_context is local.

If using pyspark to start the notebook, I think the sparkcontext hasn't been created at that time, modifying the conf is possible, but not a recommended approach.

[2022-01-14 01:59] glorysdj commented on #3875
If no code change is required, then I'm ok with starting jupyter notebook without any spark context.

[2022-01-14 02:06] Le-Zheng commented on #3874
https://github.com/intel-analytics/BigDL/pull/3878 is to fix it.

[2022-01-14 02:12] hkvision commented on #3875
Any additional comments or inputs on this? @Le-Zheng @jason-dai

[2022-01-14 02:18] Litchilitchy commented on #3764
We are able to reproduce this issue and trying to find the cause, any updates will be posted here.

[2022-01-14 02:23] Le-Zheng commented on #3875
2. Do we need to remove python env? This image installed python env that supports all apps notebooks. The image size is 2.83 GB.

[2022-01-17 02:18] TheaperDeng opened #3882 "Nano: `bigdl-nano-init` on docker start with `--cpuset-cpus`"
### background
`--cpuset-cpus` in a container running parameter will limit specific CPUs or cores a container can use.

### current status
`bigdl-nano-init` will get information from `lscpu`, where still returns all the cpu on the host machine. This will cause poor performance (e.g. a too large OMP_NUM_THREADS)
https://github.com/intel-analytics/BigDL/blob/d89acd584b9286869a9d75bcccdb6c730539a313/

[2022-01-17 02:21] TheaperDeng commented on #3569
it seems that it's related to the import order of some certain libs. I will come back with more details later

[2022-01-17 02:35] Litchilitchy opened #3883 "Cluster Serving input and output dimension handling"
From #3764 we meet a new scenario of model, for input `[1,3,224,224]` the output is `[2]`, resulting in a bug of serving.

For common experience, we think `[n, ...]` input should have output of `[n, ...]` but this is not. Cluster Serving previously take this assumption and do some handling.

After this change, we will always enqueue the tensor input with batch_size (for single image input we will

[2022-01-17 02:36] yushan111 opened #3884 "Usage comparation for stock PyTorch and Orca Pytorch Estimators"
# Senarios

### 1. Saving and loading model for inference

#### Summary:

| Functionality              | Pytorch            | Orca Ray Estimator | Orca Pyspark Estimator |
| -------------------------- | ------------------ | ------------------ | ---------------------- |
| save and load `state_dict` | :heavy_check_mark: | :heavy_check_mark: | :heavy_check_mark:     |
| save and load entire model | :

[2022-01-17 02:37] yangw1234 commented on #3882
@charlieJ107 would you mind taking look at this?

[2022-01-17 02:37] Litchilitchy commented on #3764
Basically there are 2 issues here.

1. The consistent of input [WIP]
2. Cluster Serving returns output data of `[1]` and shape of `[]`, the correct one should be `[2]` and shape should be `[2]`. I opened an new issue to follow up in #3883

[2022-01-17 05:53] Litchilitchy commented on #3883
fixing in #3886

[2022-01-17 06:20] yushan111 opened #3887 "Better `metric` support for model with multiple outputs in `AutoEstimator` for tf.keras"
### Problem description
Currently, user must input the mannually formatted metric name by tf.keras ({layer_name}_{metric_name}) to `metric`, and specify the `metric_mode`. It is not straight-forward enough and the metric format may vary with different tensorflow versions (e.g., "output_acc" for tensorflow==1.15.0, "output_accuracy" for tensorflow==2.4.0)
[code]
### Target
A more user-friendly inte

[2022-01-17 06:24] #3883 closed

[2022-01-17 06:25] Litchilitchy commented on #3764
The issue output dimension of Cluster Serving is fixed in #3886

[2022-01-17 06:26] yushan111 opened #3888 "Support tensorflow >= 2.0 in Autoestimator.from_keras"

[2022-01-17 06:40] yushan111 opened #3889 "Automatically detect hdfs in AutoEstimator"
### Problem description
Currently we directly use `hdfs` command on worker to save the intermediate results in trials. However, the `hdfs` path may not be added to `$PATH`, therefore worker may raise exception for not finding `hdfs`.
Error log
[code]
One work-around is add hdfs path to `spark.executorEnv.PATH`,  e.g. `--conf spark.executorEnv.PATH=$PATH:/opt/cloudera/parcels/CDH/bin`. However, dir

[2022-01-17 06:45] 704572066 commented on #3764
Is the issue of the consistent of input also fixed?

[2022-01-17 08:50] #3651 closed

[2022-01-17 08:56] Litchilitchy commented on #3764
Still checking, the NNFrame calls py4j and the data is at JVM side so it takes some time. We will update the status here if any.

[2022-01-17 18:17] jack1981 opened #3891 "Ray object_spilling_config did not work at cluster"
We encountered OOM issue when run large dataset by BigDL AutoML with RayTune
From the Ray community , it was recommended to identify the size of object_store_memory and configure object_spilling_config through --system-config
In a single node environment , it is working by below approach

spill_dct = {"object_spilling_config": json.dumps({"type": "filesystem", "params": {"directory_path": "/dev/sh

[2022-01-18 01:08] jason-dai commented on #3889
What if there is no HDFS?

[2022-01-18 01:42] Le-Zheng opened #3893 "cannot assign instance of java.lang.invoke.SerializedLambda tf1 on k8s"
Run tf1 basic_text_classification with pyspark 3.1.2 and `bigdl-k8s-spark-3.1.2:0.14.0-SNAPSHOT-20220116` image.

logs:
[code]

[2022-01-18 02:08] yushan111 opened #3894 "Allow user to pass different extra_params for local mode and distributed mode in init_orca_context"
Related issue: #3867 #3891

### Problem decription
Currently, we only provide `extra_params` for additional options to launch ray.
Internally, in local mode, we convert '-' to '_' and pass the parameters to `ray.init()`. In distributed mode, we directly apply the params to `ray start`.
However, the parameters may not be the same for `ray.init()` and `ray start`, for example, `--system config` in `

[2022-01-18 02:09] jason-dai commented on #3887
Does it work for below?

[code]

[2022-01-18 02:15] yushan111 commented on #3891
We may add different ray options for local mode and distributed mode. It will be tracked and discussed in issue #3894

For cluster mode, does `"system-config":'{"object_spilling_config":"{\"type\":\"filesystem\",\"params\":{\"directory_path\":\"/dev/shm/spill\"}}"}'`  work?

[2022-01-18 02:15] charlieJ107 commented on #3882
The `/sys/fs/cgroup/cpuset/cpuset.cpus`  contains only logical CPU information, not the number of physical CPU threads sockets information. What kind of processing can we use to get these information from something like `0-95` in the `/sys/fs/cgroup/cpuset/cpuset.cpus`?

[2022-01-18 06:09] yushan111 commented on #3887
We will support it as the target.

[2022-01-18 06:22] TheaperDeng commented on #3882
maybe conbine the original method `lscpu -p=CPU,Socket,Core`(all) and `/sys/fs/cgroup/cpuset/cpuset.cpus`(available) ?

[2022-01-18 06:25] yushan111 commented on #3889
I guess we may try using [ray tune syncing](https://docs.ray.io/en/latest/tune/tutorials/tune-distributed.html#syncing), it supports distributed checkpointing with a shared directory (e.g. NFS), cloud storage (s3/ or GS) or hdfs.

[2022-01-18 06:46] jack1981 commented on #3891
As I noted , It did not work ... which was weird as we followed the tips from Ray community. We knew there are different ways to pass configurations to Ray in a single node or in a cluster environment but did not get the point why it mentioned the value was not correct ?
We are ok , BigDL can figure out a unified way to pass parameters but for this particular issue we hope your guys can do the tes

[2022-01-18 06:50] jack1981 commented on #3888
Try to understand more context , we did verify the auto estimator from_keras can run functionally up to Tesnsorflow ==2.4 environment , and able to run a tf2 test case referenced from your guys , what are the working items for this feature to support tf 2.X ?

[2022-01-18 06:52] jack1981 commented on #3867
I meant the differences you mentioned about single node and cluster node. We were able to identify port range though yarn , I will close it

[2022-01-18 06:52] #3867 closed

[2022-01-18 06:53] jack1981 commented on #3854
Thanks , the fix worked !

[2022-01-18 06:53] #3854 closed

[2022-01-18 07:12] yushan111 commented on #3867
Great! Thanks.

[2022-01-18 07:19] yushan111 commented on #3888
`AutoEstimator.from_keras` has mainly been tested in `tensorflow==1.15`. Even though the code could directly run in `tensorflow==2.4`, we still need to add Unit Tests and conduct more thorough tests, add examples, documents to officially support `tensorflow==2.4.0`.

[2022-01-18 08:26] Litchilitchy commented on #3764
I get the input from JVM by accessing the `protected override def internalTransform` method in scala NNModel
[code]
seems different from Cluster Serving result above
[code]
So it turns out to be the after transformation, the result (model input) is different. You could run only the transformation step and check the output array to confirm this.

I am not sure what is the difference from your prepr

[2022-01-18 09:11] yushan111 commented on #3891
@hkvision It seems that RayOnSpark does not support the parameter `system-config` correctly, could you help have a look at it?

[2022-01-18 09:12] jason-dai commented on #3712
Is it possible to support the following API?
[code]

[code]

[code]

[2022-01-18 09:33] zhentaocc opened #3901 "Nano: Quantization Examples"
# Description
Add several examples to show the usage of Quantization API on pytorch and tensorflow.

[2022-01-18 10:21] jason-dai opened #3902 "nano.tf.keras vs. nano.keras"
Which one is better? @yangw1234 @shane-huang @TheaperDeng

[2022-01-19 01:21] TheaperDeng commented on #3902
vote for `nano.tf.keras`, I think users are familiar with `tf.keras`

[2022-01-19 05:50] 704572066 commented on #3764
@dding3 could you please help to look at the issue？

[2022-01-19 05:54] Litchilitchy commented on #3764
@704572066 The issue has gone far away from the origin(save model). Could you please summarize the current issue and open a new one?

[2022-01-19 05:57] 704572066 commented on #3764
I will open a new issue

[2022-01-19 06:53] 704572066 opened #3907 "the consistency of preprocessing between NNFrame transform and customized one"
I did  transfer learning of image classification and deployed the saved the model in cluster-serving，then I found the prediction results between pyspark pipeline transform and cluster serving http api inference are different. It turns out to be the model inputs (aka. preprocessing output) are different. The preprocessing of NNFrame is `ChainedPreprocessing` and my customized one seems the same wit

[2022-01-19 11:28] qiyuangong opened #3913 "[PPML] VFL SGX Graphene Support"
@piaolaidelangman

- [x] FL Graphene Support
- [x] FL Graphene Image
- [x] FL Graphene README
- [x] FL Graphene readthedoc
- [x] TLS Test without SGX
- [x] TLS Test with SGX

[2022-01-20 02:24] Litchilitchy commented on #3907
@704572066
[code]
Could you help to explain the logic below
[code]

[2022-01-20 02:47] 704572066 commented on #3907
I changed the code, it should be resize_img(img, 256)

[2022-01-20 03:33] dding3 commented on #3907
Thank you for the code.

I think above result difference is caused by reading and processing the images logic is not consistent as:
1. customized preprocess use `cv2.imread` and the returned image will have **B G R** order while NNFrame will have **R G B** order. So the params passed to normalize_image needed to be updated to `n_img = normalize_image(ccrop_img, [104.0, 117.0, 123.0])` to keep cons

[2022-01-20 03:41] jason-dai commented on #3907
We need to make `NNFrame` and `cv2.imread` consistent

[2022-01-20 07:20] #3891 closed

[2022-01-20 07:22] hkvision commented on #3891
@jack1981
Hi Jack,

I have added an argument `system_config` in `init_orca_context` and you can pass the dict to it and follow ray's same way for rayonspark. Try it using tomorrow's nightly build and tell me if there are further issues :)

[2022-01-20 08:10] shane-huang commented on #3712
I think we can support this API.
Essentially,
-  nono.keras.layers, optmizers are keras objects that were automatically decorated. On instantiation they were replaced by an object AutoObject, which has a sample() method that takes a configuration and does actual instantiation.
-  user customized model (e.g. MyCifarResNet) is decorated using `@nano.automodel`. On instantiation it was replaced by an

[2022-01-20 08:36] jason-dai commented on #3712
Use `search` instead of `tune`?

[2022-01-20 09:05] dding3 commented on #3907
`NNFrame` internally use spark api to read the image into bytes and use cv2.imdecode to read the bytes into mat, also in **B G R** order. However, our parameters for `ImageChannelNormalize` are `mean_r`, `mean_g`, `meanB_b` which makes it consistent with the customized preprocessing code.

[2022-01-20 11:12] jason-dai commented on #3907
ok

[2022-01-21 03:07] yushan111 commented on #3894
@hkvision Could you help with the issue at your convenience?

[2022-01-21 03:13] zhentaocc opened #3919 "Nano: Test Module Dependency"
# Description
We only consider different frameworks (pytorch, tensorflow) and with/without IPEX.
For INC, ONNX, and some other modules to be added into nano, they should be tested both when they are installed and not installed.

# What needs to be done

- Test Pytorch with:
  - Bare : With pure pytorch only
  - INC: With INC
  - ONNX: With ONNX
- IPEX: With IPEX
- Test Tesorflow with:
  - Bare
  -

[2022-01-21 04:49] qiyuangong commented on #3913
Issue addressed by @piaolaidelangman with #3916 #3911 #3903 #3896

[2022-01-21 04:49] #3913 closed

[2022-01-22 14:14] shane-huang commented on #3712
Changed the design according to your comments.
In addition, we need to consider the case when people don't want to use AutoML at all. Enabling AutoML will automatically decorate all the nano.tf.keras layers and optimizers, there're might be some overhead (construction of AutoObjects, graph traversing) or potential issues (e.g. delayed construction of the keras model inside AutoModel breaks eager e

[2022-01-22 14:53] shane-huang opened #3925 "Nano: light weight hpo support in nano pytorch"
## Overview

Refer to hpo design in nano tensorflow in issue #3712

HPO search needs to support below usage scenarios
- torch data loaders (with batch size specs), lightning data modules
- pytorch models,
- pytorch lightning modules

## API Design

### ```trainer.search```

[code]
* ```search```return an AutoModel, and `fit` takes an AutoModel or Model.
* by default the returned AutoModel use the

[2022-01-24 02:03] qiyuangong opened #3926 "[PPML] Occlum SparkSQL TPCH 100GB Example"
- [x] Occlum SparkSQL TPCH Example
- [x] Occlum SparkSQL TPCH 10GB
- [x] Occlum SparkSQL TPCH 100GB

assigned to @piaolaidelangman

[2022-01-24 02:30] jason-dai commented on #3712
Maybe we can check the parameters when the user constructs the layer/model; if no search space is specified, we may directly create a Keras layer/model?

[2022-01-24 02:30] qiyuangong opened #3927 "[PPML] Readthedoc refine"
Need fix typo etc in these docs, assigned @yizerozhuang

- [x] https://bigdl.readthedocs.io/en/latest/doc/PPML/Overview/ppml.html
- [x] https://bigdl.readthedocs.io/en/latest/doc/PPML/Overview/trusted_fl.html

[2022-01-24 03:08] yizerozhuang opened #3930 "DeepFM spark3 Jenkins fail while local success"
DeepFM spark3 success locally while fail in Jenkins
![image](https://user-images.githubusercontent.com/48541207/150715643-f2c78fe6-961b-4b91-9a2e-50b672df5a67.png)
http://10.112.231.51:18888/job/BigDL-PRVN-Python-Friesian-ExampleTest-Spark-3.1-tf2/150/console

[2022-01-24 03:17] yizerozhuang opened #3931 "orca evaluate showing no progress"
![image](https://user-images.githubusercontent.com/48541207/150716544-3d5883f6-3939-40c5-b78a-6b8c1be638dd.png)

[2022-01-24 03:18] jason-dai commented on #3925
We should keep the APIs between Keras and PyTorch as consistent as possible:

1) Use `@nano.automl` instead of `@automl.obj`

2) `Trainer.search` should search the lr, bs, etc. by default, just like `Model.search`

3) I don't think we need `get_search_model`; `Trainer.fit` can automatically obtain the model if it receives an AutoModel

4) How does the user tune each layer in PyTorch (similar to la

[2022-01-24 06:23] #3874 closed

[2022-01-24 07:29] liangs6212 opened #3934 "onnx-inference lantency slows down"
Currently onnx-inference(tcn) delay is about 1.5ms, a month ago, this number was about 1.04ms,  don't know why.

server: cpx-3
onnxruntime version: 1.10.0
bigdl-nano==0.14.0b20220118

[2022-01-24 07:35] hkvision commented on #3070
@bendavidsteel

Hi, we have now released bigdl based on spark3 on pypi and you may find the instructions here: https://bigdl.readthedocs.io/en/latest/doc/UserGuide/python.html#bigdl-on-spark-3

[2022-01-24 07:35] #3323 closed

[2022-01-24 07:36] hkvision commented on #3845
Hi @Tony-Feng

Hi, we have now released bigdl based on spark3 on pypi and you may find the instructions here: https://bigdl.readthedocs.io/en/latest/doc/UserGuide/python.html#bigdl-on-spark-3

[2022-01-24 08:57] 704572066 commented on #3907
@dding3 How to change the customized preprocess code to be consistent with NNFrame，I resized the img first and then converted it to R G B order with cv2.cvtColor(image_resize , cv2.COLOR_BGR2RGB) , but result of customized preprocessing is still not consistent with NNFrame.
[code]

[code]

[2022-01-24 12:42] shane-huang commented on #3712
Short answer is yes, we can. though the code may not be very clean and still there're some extra operations in detecting whether search space is used in arguments.

Detailed answer:
There're essentially 2 options to implement nano.tf.keras.Sequential/Model.
* option 1: inheritance. shown as below. All methods of keras.Model can be called on nano.tf.keras.Model as well withouth extra work.
[code]
*

[2022-01-24 13:01] shane-huang commented on #3925
1. There're two auto types - **_AutoModels_** and **_AutoObjects_**. In Keras design, layers and optimizers are AutoObjects (which are created implictly inside nano), Customized models, nano.Sequential/Model are AutoModels, which has search, search_summary methods,etc.). In PyTorch since it is trainer that has search/search_summary, models are just AutoObjects, so I decorate it as an `automl.obj()

[2022-01-25 05:06] Litchilitchy commented on #3907
@704572066 Is this result NNFrame or your customized one?

Could you please post both?

[2022-01-25 05:23] 704572066 commented on #3907
the result is customized one：
[code]

[2022-01-25 10:20] Borda opened #3943 "integrate with Lightning ecosystem CI"
Hello and so happy to see you use Pytorch-Lightning! :tada:
Just wondering if you already heard about quite the new **Pytorch Lightning (PL) ecosystem CI** where we would like to invite you to... You can check out our blog post about it: [Stay Ahead of Breaking Changes with the New Lightning Ecosystem CI](https://devblog.pytorchlightning.ai/stay-ahead-of-breaking-changes-with-the-new-lightning-eco

[2022-01-26 02:29] yangw1234 opened #3946 "Yolov3 example readme needs to be updated"
https://github.com/intel-analytics/BigDL/tree/branch-2.0/python/orca/example/learn/tf2/yolov3

[2022-01-27 05:49] Le-Zheng commented on #3946
https://github.com/intel-analytics/BigDL/pull/3951

[2022-01-27 05:52] Le-Zheng commented on #3875
https://github.com/intel-analytics/BigDL/pull/3938

[2022-01-27 07:04] qiyuangong commented on #3927
First task addressed by @yizerozhuang with #3950

[2022-01-28 00:36] Tony-Feng commented on #3845
Hi @hkvision,

Thanks a lot for your reminder! It's running smoothly with Spark 3.1.2 ;)

[2022-01-28 01:11] #3946 closed

[2022-01-29 01:36] hkvision commented on #3845
Great!

[2022-01-29 01:38] hkvision commented on #3875
Then we can keep these dependencies installed for now? @jason-dai

[2022-01-29 06:09] qiuxin2012 commented on #3907
Sorry for the late response and happy Chinese New Year.
To get the same preprocess result in cluster-serving, I think you can use local ImageSet and reuse your `ChainedPreprocessing`, like below:
[code]
Please notice you should change the first preprocessing from `RowToImageFeature` to `ImageBytesToMat`.

[2022-01-29 07:55] hkvision opened #3954 "Orca PyTorch examples need to update README"
https://github.com/intel-analytics/BigDL/tree/branch-2.0/python/orca/example/learn/pytorch
still using analytics-zoo, need to update to bigdl. @ryandoren

[2022-01-29 08:23] ryandoren opened #3955 "spark backend ValueError: Please specify model directory when using spark backend"
I was running the example of [cifar10](https://github.com/intel-analytics/BigDL/tree/branch-2.0/python/orca/example/learn/pytorch/cifar10), but after following the guideline and come to the command:
[code]
An error occurred: **ValueError: Please specify model directory when using spark backend.**

Then, I checked the files **estimator.py** and **pytorch_pyspark_estimator.py** under
[code]
it turns

[2022-01-29 08:39] ryandoren opened #3956 "Example cifar10 low accuracy"
After running the commands, I got an accuracy of 0.25, which is a far cry from the standard value (0.53) in README.md.

In cifar10.py, the default batch size in line 48 should be modified to 4 (without changing other parameters):
[code]
After that, the accuracy seems more reasonable.

[2022-01-29 08:53] hkvision commented on #3956
Caused by this PR: https://github.com/intel-analytics/BigDL/pull/3452

[2022-01-29 09:01] ryandoren commented on #3955
The same issue also exists in [fashion_mnist.py](https://github.com/intel-analytics/BigDL/blob/branch-2.0/python/orca/example/learn/pytorch/fashion_mnist/fashion_mnist.py) and [super_resolution.py](https://github.com/intel-analytics/BigDL/blob/branch-2.0/python/orca/example/learn/pytorch/super_resolution/super_resolution.py).

[2022-01-30 01:44] hkvision commented on #3954
Also let's add tqdm to README for better user experience.

[2022-02-07 03:54] piaolaidelangman commented on #3926
Occlum SparkSQL TPCH 100GB finished in this pr https://github.com/intel-analytics/BigDL/pull/3962.

[2022-02-08 00:36] Le-Zheng opened #3966 "k8s cluster mode can not use *jar-with-dependencies.jar"
The downloaded assembly "/opt/bigdl-0.14.0-SNAPSHOT/jars/*" in k8s image can support cluster mode. However, using ”bigdl-*-spark_3.1.2-0.14.0-SNAPSHOT-jar-with-dependencies.jar“ failed with `'JavaPackage' object is not callable` on driver pod.

script.py:
[code]
submit cmd
[code]

[code]
On driver pod, the path "python_env/lib/python3.7/site-packages/bigdl/share/dllib/lib/bigdl-dllib-spark_3.1.2-0

[2022-02-08 06:04] TheaperDeng commented on #3934
issue noticed, please try 0.14.0b20211208 and confirm this is a chronos problem rather than an environment/platform problem.

[2022-02-08 06:26] Tony-Feng commented on #3966
I think I encountered this before. When I used a yaml file to config the job, I solved it by adding `--jar` option with `bigdl-dllib-spark_3.1.2-0.14.0-SNAPSHOT-jar-with-dependencies.jar` and its path. I presume it's similar here. Hope this could be helpful.

[2022-02-08 06:49] #3435 closed

[2022-02-09 01:48] Le-Zheng commented on #3966
Hi Tony, many thanks for your advice. I tried to add `--jar` and the error shows `ERROR TaskSchedulerImpl: Lost an executor 1 (already removed): Unable to create executor due to /opt/spark/work-dir/python_env/lib/python3.7/site-packages/bigdl/share/dllib/lib/bigdl-dllib-spark_3.1.2-0.14.0-SNAPSHOT-jar-with-dependencies.jar`.

[2022-02-09 08:27] TheaperDeng opened #3979 "Chronos need a full dependency list on our document"

[2022-02-09 08:29] TheaperDeng opened #3980 "Chronos need model selection tips on our document"

[2022-02-09 08:45] TheaperDeng opened #3981 "Chronos need a developer guide"

[2022-02-10 03:12] sgwhat opened #3985 "Pytorch & Tensorflow Distributed Pipeline"
- [x] Pytorch distributed training demo
- [ ] Tensorflow distributed training demo

For now, we have conducted a PyTorch Dataset to process multiple files and HDFS files into chunks and batches, users could still use the default PyTorch data API to load data to train models with estimator.

[2022-02-10 03:12] sgwhat commented on #3985
Shall we just add pytorch training examples or put this feature into estimator? @jason-dai

[2022-02-10 07:07] #3966 closed

[2022-02-10 07:55] Le-Zheng opened #3990 "k8s cluster mode do not support spark.jars for adding remote *jar-with-dependencies.jar"
For k8s cluster mode, BigDL jars are expected to be shipped from remote node to driver with `--jars`，like `--jars local:///usr/local/envs/pytf1/lib/python3.7/site-packages/bigdl/share/orca/lib/bigdl-orca-spark_3.1.2-0.14.0-SNAPSHOT-jar-with-dependencies.jar,local:///usr/local/envs/pytf1/lib/python3.7/site-packages/bigdl/share/dllib/lib/bigdl-dllib-spark_3.1.2-0.14.0-SNAPSHOT-jar-with-dependencies.

[2022-02-11 01:52] hkvision opened #3995 "Developer guide is not updated"
https://bigdl.readthedocs.io/en/latest/doc/UserGuide/develop.html
Still analytics-zoo

[2022-02-11 02:00] helenlly commented on #3995
https://github.com/intel-analytics/BigDL/issues/3202

[2022-02-11 02:40] qiyuangong commented on #3927
Need to refine [Trusted FL Demo Readme](https://github.com/intel-analytics/BigDL/tree/branch-2.0/scala/ppml/demo)

[2022-02-11 07:05] TheaperDeng opened #3998 "Chronos unittest bug in test_autogener_best_cycle_length"
https://github.com/intel-analytics/BigDL/blob/9f8c0c08246b2e920e07dc73fd591f30284d45dd/python/chronos/test/bigdl/chronos/autots/test_autotsestimator.py#L523
should be
[code]
Since the real cycle length is 5 and 5//2=2

[2022-02-11 07:33] TheaperDeng commented on #3998
@liangs6212 could you have a fix on this?

[2022-02-11 07:50] liangs6212 commented on #3998
Ok, I'll fix it.

[2022-02-11 07:57] TheaperDeng opened #4000 "Nano has a poor performance when user have a imbalanced NUMA node"
We accidentally run bigdl-nano on a single node server with 4 socket cpx but with imbalanced NUMA node (1 of the 24 mem is broken).

The speed of stock pytorch was not affected while bigdl-nano has a much worse performance on training and inferencing throughput (nearly 80% degrade) on TCN/LSTM/S2S

It's not an urgent issue, just to make a record here.

[2022-02-11 09:43] TheaperDeng opened #4002 "Nano quantization report AssertionError on the second time"
Here is a minimal example:
[code]
it will report this on the second time.
[code]

I am pretty sure this should be a INC issue, but we may have a look first. @zhentaocc

[2022-02-11 10:31] zhentaocc commented on #4002
It's not INC's problem. I think each call of `trainer.quantize(..)` will register the metric into INC as `F1`, so this is the reason.
Maybe we should have better implementation in https://github.com/intel-analytics/BigDL/blob/branch-2.0/python/nano/src/bigdl/nano/quantization/neural_compressor/quantization.py#L90-L103.

[2022-02-14 03:18] TheaperDeng commented on #3184
All Done

[2022-02-14 07:23] TheaperDeng commented on #3568
Thank you all for the working. It can now be successfully run on a CN Ubuntu1804 with i7-9700. I think we are good for now.

![image](https://user-images.githubusercontent.com/35031544/153818115-d8965057-df7a-435b-921b-6a7b7aa5206b.png)

[2022-02-14 07:23] #3568 closed

[2022-02-15 02:36] yangw1234 commented on #3712
Looks like keras also provides a tuner: https://www.tensorflow.org/tutorials/keras/keras_tuner

[2022-02-15 06:31] TheaperDeng opened #4023 "Chronos: Support TF2 in Chronos Forecaster"
## Import

Here we take `LSTMForecaster` as an example, same things will happen on `LSTMForecaster`, `TCNForecaster`, and `Seq2SeqForecaster` in the first round.

[code]

## Interface

I had a quick review of all APIs we have for pytorch and don't find any of them can not be supported in TF2. With the help of `bigdl.nano.tf` and `bigdl.orca.learn.tf2`. We should be able to support exactly the same

[2022-02-15 06:57] shane-huang commented on #4023
"bigdl.chronos.forecaster.tf2": should we use "tf2" or just "tf" as nano ? For now we don't intend to support tf1. And even if we support tf1 in future we can make tf using tf 2.0 as default and use tf1 namespace for back compatibility.

[2022-02-15 07:01] TheaperDeng commented on #4023
Yeah, I have no strong opinion on tf or tf2. I choose tf2 just to align with orca. I think we can use tf for now.

[2022-02-15 07:01] shane-huang commented on #4023
* We need to ensure there won't be errors if user have only pytorch or tensorflow installed. - @jason-dai , do you still think a global flag is need to enable only pytorch or tensorflow models? maybe we don't need that anymore.
* We need install dependencies chronos[pytorch] chronos[tensorflow]. Together with lite and all, we may need pytorch-lite, tf-lite, pytorch-all, tf-all, etc.

[2022-02-15 07:03] shane-huang commented on #4023
@jason-dai what do you say?

[2022-02-15 07:04] #3998 closed

[2022-02-15 07:17] TheaperDeng commented on #4023
I think we may have these installation option:
For `bigdl-chronos`:
- default: bigdl-orca, bigdl-nano\[pytorch\]
- \[all\]: bigdl-orca[automl], bigdl-nano\[pytorch, tensorflow\]
- \[pytorch\]: bigdl-orca\[automl\], bigdl-nano\[pytorch\]
- \[tensorflow\]: bigdl-orca\[automl\], bigdl-nano\[tensorflow\]

For `bigdl-chronos-lite`:
- default: bigdl-nano
- \[all\]: bigdl-nano\[pytorch, tensorflow\]
- \[

[2022-02-15 07:25] qiyuangong commented on #3926
Issue addressed by @piaolaidelangman
Closed

[2022-02-15 07:25] #3926 closed

[2022-02-15 08:11] yushan111 opened #4026 "Orca estimator with pyspark backend doesn't support remote path without ip:port"
It raises below errors when model_dir = `hdfs:///tmp/`
[code]

[2022-02-15 08:34] qiyuangong opened #4027 "[PPML] Graphene SparkSQL tmp file system inconsistent"
By @qiuxin2012 most failure on graphene is because of the inconsistent in graphene filesystem.
Exception 1: java.io.IOException: Failed to list files for dir: /tmp/spark-9cb334e7-94c2-4a0b-9f22-55c3bf1c72c7
[code]
Exception 2: java.nio.file.NoSuchFileException: /tmp/spark-9d4a2e5c-8a47-45ba-9e65-8f548086d79a
[code]
Exception 3: java.io.IOException: Mkdirs failed to create file:/tmp/spark-282f5a10-

[2022-02-15 08:37] qiyuangong opened #4028 "[PPML] Graphene Pyspark socket issue"
By @qiuxin2012  Pyspark unit test blocking error in the second to last test `SGX=1 ./pal_loader bash -c "cd /ppml/trusted-big-data-ml/work/spark;/usr/bin/python -m pyspark.sql.tests.test_udf"`:
[code]

[2022-02-15 08:39] qiyuangong opened #4029 "[PPML] Graphene datetime or timestamps issue"
By @qiuxin2012

I check the python and scala failed tests, the python fail happened when operate the datetime or timestamps.
Scala also has similar failed tests in https://github.com/apache/spark/blob/8a559b317f60e2630717a01424a7663e451fb3ce/sql/core/src/test/scala/org/apache/spark/sql/execution/datasources/PathFilterSuite.scala#L34
[code]

[2022-02-15 09:32] 704572066 commented on #3907
@qiuxin2012
The preprocess result is still different from the NNframe result.
[code]

[code]

[2022-02-15 09:38] zhentaocc opened #4031 "Nano: MNIST quantization example for pytorch users"
Add an example to instruct pytorch users how to do post-training quantization in nano.
Original pytorch code: https://github.com/pytorch/examples/blob/master/mnist/main.py

[2022-02-15 10:21] hkvision opened #4033 "`import bigdl.dllib.keras.layers` needs to install tensorflow"
If we just import bigdl.dllib.keras.layers, it will invoke @keras_export and the call method here: https://github.com/intel-analytics/BigDL/blob/branch-2.0/python/dllib/src/bigdl/dllib/utils/bigdl_export.py#L54, which requires tensorflow.
If tensorflow isn't installed, will get an error.
In theory, dllib should not tightly depends on tensorflow.
Can we have some modifications for this? @dding3 (fo

[2022-02-15 10:39] jason-dai commented on #4033
We should remove the tf dependency

[2022-02-15 11:00] hkvision commented on #4033
lazy put import tensorflow into the `__call__` method doesn't work, will still invoke the `__call__` method, when it is used at keras Model @keras_import, need further modifications, could you help on this? @dding3

[2022-02-15 21:15] dding3 commented on #3907
I think above nnframe preprocessing logic is still different with the customized one. eg. in nnframe logic, the image has been resized twice, and in customized, there is `img = img[..., ::-1]` while we don't have in nnframe code. Also

I tried below code, and the result is the same.
nnframe code:
`
def build_transforms():
    from bigdl.dllib.feature.common import ChainedPreprocessing
    transfor

[2022-02-16 00:50] shupingyeh opened #4035 "AutoTSEstimator to support customized loss function and metric"
Hi,

Can AutoTSEstimator support customized loss function and metric for AutoML tuning?

[2022-02-16 01:20] yushan111 commented on #4035
Sorry that we haven't supported customized loss and metric for now.

[2022-02-16 01:41] #3419 closed

[2022-02-16 01:41] #3658 closed

[2022-02-16 01:42] #3322 closed

[2022-02-16 02:45] hkvision commented on #4033
@jason-dai When building conda package, conda will create a new environment to test the imports. We can detect the useless dependency after conda build is enabled.

[2022-02-16 03:03] TheaperDeng commented on #4035
Customized loss is supported. https://bigdl.readthedocs.io/en/latest/doc/PythonAPI/Chronos/autotsestimator.html.
String, pytorch/tf.keras loss instance or pytorch loss creator function are all supported

If customized metric is really needed we can add the support.

[2022-02-16 07:41] #3709 closed

[2022-02-16 08:59] #3954 closed

[2022-02-16 08:59] #3955 closed

[2022-02-16 08:59] #3956 closed

[2022-02-16 16:21] #4033 closed

[2022-02-17 07:24] #3202 closed

[2022-02-17 07:24] #3995 closed

[2022-02-17 09:00] #3764 closed

[2022-02-18 05:39] 704572066 commented on #3907
@dding3 You mean you have fixed the issue?

[2022-02-18 18:22] dding3 commented on #3907
Yes

[2022-02-21 09:14] zhentaocc opened #4071 "Nano: Upgrade Pytorch-Lightning to v1.5 and remove deprecated usage"
Record a few deprecated implementations based on Pytorch-Lightning < 1.5.
Once it's upgraded, we can rewrite the code to fetch the model size of pl model.

- https://github.com/intel-analytics/BigDL/blob/branch-2.0/python/nano/example/pytorch/quantization/inc/resnet18_cifar.py
- https://github.com/intel-analytics/BigDL/pull/4070

[2022-02-21 09:51] zhentaocc commented on #4031
redirect to https://github.com/intel-analytics/BigDL/issues/3901

[2022-02-21 09:51] #4031 closed

[2022-02-22 05:30] #4002 closed

[2022-02-23 00:28] songhappy opened #4084 "[Orca]"
compared to old version of BigDL, https://github.com/intel-analytics/BigDL/commit/bf93a9e2b83977c8c075892feb57999b2ad6276e
current PyTorchRayEstimator fit works fine for smaller data, but takes hours to start to train example of deepfm on recsys full data set

to reproduce on almaren
cd /opt/work/guoqiong/BigDL/python/friesian/example/deep_fm
bash run_deepfm.sh

[2022-02-23 01:23] jason-dai opened #4085 "BigDL 2.0"
***We are merging Analytics Zoo into [BigDL 2.0](https://bigdl.readthedocs.io/en/latest/), and our future development will focus on the BigDL project.***

---

The BigDL 2.0 release will combine the [original BigDL](https://github.com/intel-analytics/BigDL/tree/branch-0.14) and [Analytics Zoo](https://github.com/intel-analytics/analytics-zoo) projects, providing the following features:

- [DLlib](

[2022-02-23 02:56] nwang2 opened #4086 "Friesian dien preprocess failed in standalone mode."
Run the preprocess following the example readme:
python dien_preprocessing.py \
    --cluster_mode standalone \
    --master spark://master-url:port \
    --executor_cores 4 \
    --executor_memory 20g \
    --num_executor 20 \
    --input_meta /path/to/the/folder/of/meta_books \
    --input_transaction /path/to/the/folder/of/review_data\
    --output /path/to/the/folder/to/save/preprocessed/parqu

[2022-02-23 03:18] hkvision opened #4087 "Why scripts/standalone is not migrated?"
https://github.com/intel-analytics/analytics-zoo/tree/master/scripts/standalone/sbin

[2022-02-23 07:27] 704572066 commented on #3907
@dding3
Why are the prediction results between nnmodel and cluster-serving not consistent？

nnmodel prediction code:

[code]
nnmodel prediction result:
[code]

cluster-serving prediction code:
[code]

cluster-serving prediction result without np.transpose:
[code]

cluster-serving prediction result with np.transpose:
[code]

[2022-02-23 10:54] TheaperDeng opened #4095 "Chronos: some of our unittest still rely on our deprecated API"
Including test_mtnet.py and test_mtnet_forecaster.py.

[2022-02-23 10:54] TheaperDeng commented on #4095
@liangs6212 could you have a look on it?

[2022-02-24 00:46] dding3 commented on #3907
I think in the above code, we can first remove `resizeH=300, resizeW=300, image_codec=1` to make the processing logic is the same with customized code?

[2022-02-24 01:23] 704572066 commented on #3907
not same after removing `resizeH=300, resizeW=300, image_codec=1`
[code]

[code]

[2022-02-24 01:24] liangs6212 commented on #4095
I think MTNet can be reconstructed using tf2?

[2022-02-24 01:26] 704572066 commented on #3907
not same after removing `resizeH=300, resizeW=300, image_codec=1`
[code]

[code]

[2022-02-24 03:10] TheaperDeng commented on #4095
We will eventually do this. Still MTNet is not in our first round model migration. Currently we simply just want to replace these deprecated API usage.
e.g.
https://github.com/intel-analytics/BigDL/blob/812d4214a11b59de4d67547ffb3d63c34f16f3e9/python/chronos/test/bigdl/chronos/model/test_mtnet.py#L22

[2022-02-24 03:15] Litchilitchy commented on #3907
@704572066 Before checking the result of NNFrame and Cluster Serving, is it confirmed that the preprocess results are the same?

[2022-02-24 03:22] hkvision commented on #4086
Thanks for pointing out! This is a bug for setting classpath for jars. Fixing it.

[2022-02-24 03:36] 704572066 commented on #3907
@dding3 could you confirm this issue？

[2022-02-24 04:05] dding3 commented on #3907
I think with above code, the preprocess results should be the same.

[2022-02-24 05:56] #4086 closed

[2022-02-24 05:56] #4087 closed

[2022-02-24 06:20] zhentaocc commented on #3901
@jason-dai @yangw1234 please take a look at #4076 and #4075

[2022-02-24 08:16] liangs6212 commented on #4095
OK, I'll replace the deprecated API.

[2022-02-24 10:03] #3471 closed

[2022-02-25 02:41] yizerozhuang opened #4112 "Need to create a directory call spark-events under /tmp in the nodes at Jenkins"
When the spark.eventLog.enabled sets to be true in spark configuration, the directory called spark-events need to be created under /tmp to make sure pass the test
![image](https://user-images.githubusercontent.com/48541207/155643022-6dfc9ea5-0a21-47ca-b995-a23a0a554d26.png)
While because jenkins will clean the /tmp dirctory every days, so i turned off the spark.eventLog.enabled to pass the jenkins

[2022-02-25 04:44] zhentaocc opened #4113 "Nano: INC multiple inputs support for tensorflow"
Current INC have issues when there are multiple inputs to feed into tensorflow network.
A INC dataloader now only process the input as a single one.
I raised an issue for INC team https://github.com/intel/neural-compressor/issues/52.

Take this as a placeholder. And for now we might need to give useful information or checking when users try to quantize a tensorflow network with multiple inputs.

[2022-02-25 10:03] qiyuangong opened #4123 "[PPML] Occlum Image Usability"
- [x] Make Occlum configuration changeable without rebuild image
- [x] Driver & Executor mem should be configured with env
- [x] Set most parameter as default to reduce parameters

[2022-02-28 01:55] Litchilitchy commented on #3907
I would try to verify the consistency of the two inputs.

[2022-02-28 07:57] #4095 closed

[2022-03-01 04:37] Litchilitchy commented on #3907
@704572066 I used `bee.jpg` to check the results of both, they are almost equal.

Cluster Serving result: `[-0.8453065, -0.5611119]`,  preprocess code
[code]
NNFrame result: `[-0.8463613390922546, -0.560318648815155]`, preprocess code
[code]
Please check if you have pull the latest version of BigDL, and please note, Cluster Serving fix some dimension issue, and now you have to add `img = np.expand

[2022-03-01 06:28] zhentaocc commented on #3737
Resolved.

[2022-03-01 06:28] #3737 closed

[2022-03-01 08:30] 704572066 commented on #3907
@Litchilitchy
I added `img = np.expand_dims(img, axis=0)` after transposing and got the same results with yours，thanks for your help!

[2022-03-01 08:55] TheaperDeng commented on #4035
The latest nightly build has supported this feature (customized metric). https://pypi.org/project/bigdl-chronos/2.1.0b20220228/

@liangs6212 could you have some thorough UTs on this?

[2022-03-01 09:28] #3907 closed

[2022-03-01 18:07] shupingyeh commented on #4035
Thank you very much!

[2022-03-02 05:12] liangs6212 commented on #4035
ok, I'll add some relevant UTs.

[2022-03-04 02:59] TheaperDeng commented on #3808
If we are going to support ipex1.10 and pytorch1.10, please consider supporting 1.9 as well.
@yangw1234

[2022-03-04 04:02] zhentaocc opened #4163 "Nano: Nano: add dataloader check for pytorch quantization to comply with INC calibration format"
### Problem
I wrote a unit test to reproduce the error:
[code]
With more than two tensors in a batch, e.g. `x1, x2, y1`,  INC requires to wrap them as `(x1, x2), y1`.

### solution
A dataloader should be restricted to return no more than two items. It can be one of them:
- `(tensor_1, ... ,tensor_n), tensor_n1`
- `(tensor_1, ... ,tensor_n), (tensor_n1, ...,  tensor_n2)`
- `tensor_1, (tensor_2, ...

[2022-03-04 04:05] zhentaocc commented on #4163
Possible help function:
[code]

[2022-03-04 09:27] emartinezs44 opened #4164 "Missing vdErf and vsErf jni bindings in MKL library"
In the gelu implementation from the Transformer Layer the ERF function is used, I see (in BIGDL-core) that in the MKL the jni bindings for these two functions are not included and a non-MKL implementation from org.apache.commons.math3.util is being used. Is there any reason to exclude the vdErf and vsErf from the native binding that Bigdl 2.0 is using?

[2022-03-06 00:46] #3841 closed

[2022-03-06 01:58] jenniew opened #4165 "Add functionalities for TF2Estimator on Ray backend"
Add/Update TF2Estimator on Ray and align functionalities with TF2Estimator on Pyspark backend:
- [ ] support checkpointing and restoring with keras format
- [ ] support tensorboard
- [ ] support save/load weights for remote path
- [ ] support save/load tf keras model

[2022-03-07 01:41] qiuxin2012 commented on #4164
Because currently bigdl-core is using mkldnn(https://github.com/intel-analytics/BigDL-core/blob/5cb0a1947049289a447e91c6b4f59bb5d3b6ffda/mkl2017-xeon-blas/Makefile.common) to build the library.
vserf and vderf are included in MKL library but not in mkldnn library. The vserf and vderf's jni bindings are implemented in zoo-core, maybe we can merge them in the future.
[code]

[2022-03-07 02:45] glorysdj opened #4166 "[PPML] End-to-end user workflow with attestation and kms integration"
- [ ] deployment
    - [x] sgx enable(bios, kernel, driver, pccs setup)
    - [ ] k8s
    - [ ] nfs
    - [ ] sgx device plugin
    - [ ] attestation service (development, k8s yaml)
    - [ ] kms
    - [ ] bigdl client (helm chart)
- [ ] attestation service
    - [ ] api interface (generate & verify)
    - [ ] REST service
    - [ ] dummy implementation
    - [ ] implementation and tests
    - [ ]

[2022-03-07 08:18] TheaperDeng opened #4170 "Nano: pytorch `load_quantized_state_dict` does not work as expected while the quantization config is tuned"
Thanks to INC team's feedback, we should move this implementation to using `neural-compressor.utils.pytorch.load` https://github.com/intel/neural-compressor/blob/561a47e8f45b97cdb4eb35fb88b14950e576b461/neural_compressor/utils/pytorch.py#L68

https://github.com/intel-analytics/BigDL/blob/315dd847dfde9a52d4733cc51380104a81e43250/python/nano/src/bigdl/nano/pytorch/runtime_binding/quantization_infere

[2022-03-07 09:43] jason-dai commented on #4166
Please brake the tasks into multiple milestones; what is the MVP needed to support the minimal user requirements/solutions?

[2022-03-07 10:22] qiyuangong opened #4171 "[PPML] Attestation Service in Graphene E2E"
- [x] API interface (generate & verify)
  - [x] JNI & Script Dummy implementation
  - [x] SGX SDK based Quote Verifier
      - [x] SGX SDK Verifier
      - [ ] Open enclave Verifier
  - [x] SGX Quote Generator
  - [x] REST service (optional)
  - [x] other attestation service implementations

[2022-03-07 18:54] #3063 closed

[2022-03-07 23:15] songhappy commented on #3688
done

[2022-03-07 23:16] songhappy commented on #3688
PR-3876
PR-3960

[2022-03-07 23:16] #3688 closed

[2022-03-07 23:17] songhappy commented on #3404
#4059

[2022-03-07 23:17] #3404 closed

[2022-03-07 23:18] #3796 closed

[2022-03-07 23:27] songhappy opened #4173 "support more types of recommendations in Friesian"
- Friesian covers only one type of recommendations – personalized list of recommendations. At Sber (and not only here) we have significantly more types, for example:
	- Complementary items
		- [ ] - add rule based recall  in serving module

	- Similar items
		- [ ] - offline module, add similarity model;  near line save in faiss; online search.

	- List of recommendations for Cold users/items
		-

[2022-03-07 23:31] songhappy opened #4174 "- recall by categories"

[2022-03-08 01:02] glorysdj commented on #4166
we have defined the MVP and 3 milestones.

[2022-03-08 05:07] yushan111 opened #4185 "Support Ray Dataset input for Orca PyTorch Estimator."
- [x] Support Ray Dataset Input for `estimator.fit`  #4152
- [x] Support Ray Dataset Input for `evaluate` #4214
- [x] Support Ray Dataset Input for `predict` #4220
- [x] Add example (Data processed with Ray Dataset) https://github.com/intel-analytics/BigDL/pull/4362

[2022-03-08 05:09] yushan111 opened #4186 "Support Ray Dataset input for Orca TF2 Estimator."
- [ ] Support Ray Dataset Input for `estimator.fit`
- [ ] Support Ray Dataset Input for `predict` and `evaluate`
- [ ] Add example (Data processed with Ray Dataset)

[2022-03-08 05:32] yushan111 opened #4187 "Support data creator function for Orca Pytorch Estimator with pure ray backend"
Support data creator function which returns a Pytorch DataLoader for Orca Pytorch Estimator with pure ray backend.
- [ ] Support for `fit`
- [ ] Support for `evaluate`
- [ ] Example

[2022-03-08 05:34] yushan111 opened #4188 "Support data creator function for Orca TF2 Estimator with pure ray backend"
Support data creator function which returns a TF Dataset for Orca TF2 Estimator with pure ray backend.
- [ ] Support for `fit`
- [ ] Support for `evaluate`
- [ ] Example

[2022-03-08 05:35] yushan111 opened #4189 "Support data transformation/processing with RayXShards"

[2022-03-08 05:37] yushan111 opened #4191 "Support RayXShards input for Orca PyTorch Estimator"
- [ ] `fit`
- [ ] `evaluate`
- [ ] `predict`
- [ ] Example

[2022-03-08 05:39] yushan111 opened #4192 "Support RayXShards input for Orca TF2 Estimator"
- [ ] `fit`
- [ ] `evaluate`
- [ ] `predict`
- [ ] Example

[2022-03-08 06:11] yushan111 opened #4194 "Support transformation between Spark Dataframe and Ray Dataset"
So that user could process their data with Spark and run Ray applications in one python program with Orca RayOnSpark.

- [ ] #4146
- [ ] #4160
- [ ] Support converting Ray Dataset to Spark Dataframe

[2022-03-08 06:15] yushan111 opened #4195 "Umbrella Issue for Orca Ray pipeline"
### Modeling with Orca Estimator and processing data with Ray
`ray dataset` + `orca estimator`
- [ ] #4185
- [ ] #4186

### Modeling with Orca Estimator and feeding model with data iterator (Pytorch DataLoader/TF Dataset)
`data creator` + `orca estimator`
- [ ] #4187
- [ ] #4188

### Modeling with Orca Estimator and processing data with native python code
`RayXShards` + `orca estimator`
- [ ] #418

[2022-03-08 06:20] yushan111 opened #4196 "Umbrella issue for Orca Estimator with PySpark backend"
- [ ] Orca TF2 Estimator: #3695
- [ ] Orca PyTorch Estimator: #3662

[2022-03-08 06:50] yushan111 commented on #4195
@jason-dai Would you mind reviewing the tasks?

[2022-03-08 08:17] qiuxin2012 commented on #4164
reopen as #4181 merged by mistake.

[2022-03-08 09:01] yangw1234 commented on #3808
ipex 1.10 has a quite different set of apis, so it might be hard to support both. Not sure ipex 1.10 can support pytorch 1.9 though.

[2022-03-08 09:38] emartinezs44 commented on #4164
I included the zoo core dependency and I can use the MKL implementation. However, in the module MKLBlas.scala:

[code]

The MKL call is commented, maybe because zoo core is not included ass dependency.

We can close the issue, I managed to update my model with the zoo dependency.

[2022-03-09 05:41] liangs6212 opened #4208 "Chronos: Error running AEDetector UT with tf 2.x"
Occurs only when set roll_len=0.
[code]
Error message: terminate called after throwing an instance of 'dnnl::error' what():  could not create a descriptor for an inner product forward propagation primitive

[2022-03-09 05:42] liangs6212 commented on #4208
@TheaperDeng ,This might be a bug

[2022-03-09 05:55] zhentaocc opened #4209 "Nano: overall dataloader format provided by nano"
## Description
INC has specific data format for the calibration as below:
- (inputs, labels), both inputs and labels should be either a Tensor or a tuple of tensors
- inputs, a tuple of tensors
In #4159 , I resolved this issue typically when users try to use unacceptable dataloaders for INC quantization by raising error and tell users to make proper modifications to their dataloaders.
While consid

[2022-03-09 10:13] jason-dai commented on #4209
I don't think we need to fix it at this moment; we can simply document the requirement for `compile` and `quantize` with example codes for now.

[2022-03-10 02:00] #4163 closed

[2022-03-11 01:30] jenniew opened #4219 "BigDL PPML kms-client document and code needs to update"
The documentation is not fit for current ehsm implementation.
And code needs to update too.

[2022-03-11 01:36] glorysdj commented on #4219
@Uxito-Ada please update the doc once the EHSMKMS implementation is finished.

[2022-03-11 07:32] qiyuangong opened #4224 "[PPML] Make Occlum more configurable"
Hardcoded values is not user friendly in K8S env. User need to rebuild image when they change any parameter.

[Occlum Spark config](https://github.com/intel-analytics/BigDL/blob/main/ppml/trusted-big-data-ml/scala/docker-occlum/run_spark_on_occlum_glibc.sh#L18)
[Occlum Flink config](https://github.com/intel-analytics/BigDL/blob/main/ppml/trusted-realtime-ml/scala/docker-occlum/init-occlum-taskmana

[2022-03-11 08:02] piaolaidelangman commented on #4224
Occlum Spark in https://github.com/intel-analytics/BigDL/pull/4225.

[2022-03-11 08:31] piaolaidelangman commented on #4224
Occlum Flink in https://github.com/intel-analytics/BigDL/pull/4226.

[2022-03-14 07:39] qiyuangong commented on #4224
Feature completed  by @piaolaidelangman
Issued closed

[2022-03-14 07:39] #4224 closed

[2022-03-14 09:37] #4164 closed

[2022-03-14 09:49] qiyuangong opened #4238 "[PPML] Occlum Spark K8S TPC-H 100GB"
- [x] Occlum Spark Local TPC-H 100GB
- [x] Occlum Spark K8S TPC-H 100GB with unlimited resource
- [x] Occlum Spark K8S TPC-H 100GB with 100GB EPC
- [x] Occlum Spark K8S TPC-H 100GB with 50GB EPC

@piaolaidelangman

[2022-03-14 09:51] qiyuangong opened #4239 "[PPML] Occlum Spark XGBoost K8S 50GB"
- [x] Occlum Spark GBT Local 10GB
- [x] Occlum Spark GBY K8S 10GB
- [x] Occlum Spark GBT K8S 50GB with unlimited EPC & Memory
- [x] Occlum Spark GBT K8S 50GB with limited EPC & Memory (300GB EPC)

@piaolaidelangman

[2022-03-15 03:52] qiyuangong opened #4245 "[PPML] Attestation in PPML E2E"
M1 Attestation in E2E with script
- [x] Graphene Quote in Scala (https://github.com/intel-analytics/BigDL/tree/main/scala/ppml/src/main/scala/com/intel/analytics/bigdl/ppml)
- [x] Quote Verify with eHSM Rest
- [x] Attestation in Graphene PPML encryption.sh
- [x] E2E local test
- [x] E2E K8S test

M2 Attestation in E2E app
- [x] Attestation Verifier with JNI
- [x] Attestation E2E in E2E data IO
- [

[2022-03-15 06:23] TheaperDeng opened #4246 "Chronos will change its supported python version to 3.7 only"
| Current Supportive | python version | Comment                                                                                            |
| ------------------ | -------------- | -------------------------------------------------------------------------------------------------- |
| Yes                | 3.6            | tf1, torch (tf1 is not compatible with pytorch-lightning), **python3.6 is end

[2022-03-15 07:40] liangs6212 commented on #4246
Currently, Nano uses tf2.7.0, but py36 only supports up to 2.6.0.

Current Supportive | python version | Comment| Support version
-- | -- | --|--
Yes | 3.6 | tf1, torch (tf1 is not compatible with pytorch-lightning), python3.6 is end of life on 23 Dec 2021| numpy<=1.19.5 and tensorflow<=2.6.0
Yes | 3.7 | tf1/tf2, torch (tf1 is not compatible with pytorch-lightning)|numpy<=1.21.5 and latest version

[2022-03-15 09:49] hkvision opened #4252 "addNegSamples and addValueFeatures better support long"
id in string index may be long, and in this case will throw an error that only int is supported.

https://github.com/intel-analytics/BigDL/blob/main/scala/friesian/src/main/scala/com/intel/analytics/bigdl/friesian/python/PythonFriesian.scala#L352
https://github.com/intel-analytics/BigDL/blob/main/scala/friesian/src/main/scala/com/intel/analytics/bigdl/friesian/python/PythonFriesian.scala#L333
http

[2022-03-15 10:11] #3985 closed

[2022-03-17 11:42] zhentaocc opened #4265 "Nano: Refactor inference API from pl model to trainer"
# What the refactoring for
1. We have an `pl_module.inference(..)` entry to inference by a list of tensors or numpy arrays as below.
https://github.com/intel-analytics/BigDL/blob/main/python/nano/src/bigdl/nano/pytorch/runtime_binding/base_inference.py#L62-L155
To add openvino support, I have to add another if sentence for this new backend even though the inference loop is already implemented in o

[2022-03-17 11:44] zhentaocc commented on #4265
@jason-dai any thoughts? I will firstly use this method on openvino and won't make any changes to what we have on inference now.

[2022-03-17 11:45] zhentaocc commented on #4265
An example for what I did for openvino: https://github.com/intel-analytics/BigDL/pull/4256/files

[2022-03-21 06:00] TheaperDeng commented on #4265
![image](https://user-images.githubusercontent.com/35031544/159211760-c704a184-c1ee-45f7-86de-1c79f82049a2.png)
![image](https://user-images.githubusercontent.com/35031544/159211725-35ca05e0-30a7-4160-a95c-954b9bb411fd.png)

[2022-03-21 10:49] jason-dai commented on #4265
I think we should make sure the APIs for OpenVINO and ONNX RT consistent with each other (including `model.eval_onnx`, `model.eval_openvino`, `trainer.compile`, `inference`), instead of introducing new APIs such as `trainer = Trainer(openvino=True)`

[2022-03-23 01:14] yangw1234 opened #4288 "[Nano] Optional dependency management"
# Problem
To maintain the composability of Nano, we make some of the dependencies optional if the corresponding feature is not used.

However, code related to these optional dependencies is spread in many places in the code base, which makes it **hard to maintain what optional dependencies we currently have and hard to make sure normal code can be executed without meeting "ImportError"**.

# Propo

[2022-03-23 01:14] yangw1234 commented on #4288
@TheaperDeng @zhentaocc what do you think?

[2022-03-23 01:29] zhentaocc commented on #4288
Agree on that. I was trying to refactor testing before https://github.com/intel-analytics/BigDL/issues/3919 but little progress on this.
One note: seems onnxruntime and inc should be tested both separately and together.

[2022-03-23 05:53] TheaperDeng commented on #4288
Agree on the suggestion and I think Lazy Import might be the sliver bullet.

BTW, for ut, Chronos recently adopt a pytest feature for different env: https://github.com/intel-analytics/BigDL/blob/main/python/chronos/test/bigdl/chronos/model/tf2/test_Seq2Seq_keras.py#L44

[2022-03-23 08:09] qiyuangong opened #4293 "[PPML] Occlum JDK change to JDK-8"
JDK-11 have some problem on spark 3.1.2. Need to change to JDK-8

@Forest216

[2022-03-23 08:22] yushan111 opened #4294 "Orca E2E Pipeline Review"
# Interface for different runtime backend
## 1. Data Processing APIs

Below are data processing APIs that user might use corresponding to different runtime backend, and will serve as input of modeling.

| Runtime          | Distributed Data Processing                       | Customized Function for Data Creator | TF Dataset         | PyTorch DataLoader | python code (pandas, sklearn, cv2...) |
| -

[2022-03-23 08:23] yushan111 opened #4295 "Orca Estimator Functionalities Review"
| Orca Estimators   | Backend | Fit                | evaluate           | predict            | Log to driver      | checkpointing      | Tensorboard        |
| ----------------- | ------- | ------------------ | ------------------ | ------------------ | ------------------ | ------------------ | ------------------ |
| TF Estimator      | Spark   | :heavy_check_mark: | :heavy_check_mark: | :heavy_che

[2022-03-23 08:47] Le-Zheng opened #4296 "BigDL on conda"
Release on a testing channel:
(focus on Linux first)
- [ ] release bigdl-core on conda
- [ ] add jenkins test for conda install bigdl-dllib
- [ ] bigdl-orca: work out a solution to handle extra dependency, then release on conda
- [ ] bigdl-chronos
- [ ] bigdl-friesian
- [ ] bigdl-nano
- [ ] bigdl-serving

[2022-03-23 09:45] jason-dai commented on #4294
Data creator function is not a different category of data processing APIs; instead, it is a way to support data processing APIs (similar to XShards) - e.g., you may only return a TF DataSet or PT DataLoader in data processing APIs

For Spark runtime, others should be None?

[2022-03-24 02:26] yushan111 commented on #4294
I have changed the title from "Data processing API" to "distributed data processing", and added notes. That might help with the clarity.

Changed

For data create function, added notes
For XShards, added breakdowns

[2022-03-25 10:30] zhentaocc opened #4313 "[Nano] Add openvino.export() for users to export openvino IR model"
`model.eval_openvino(inputs, filepath)` can be used to export converted openvino IR model with current implementation.
But this is to implicit for users to use.

### Feature request
Add a function for users to export IR models easily.
This is just a rough design and placeholder. Will elaborate this after getting hands on this.
[code]

[2022-03-29 02:33] qiyuangong opened #4317 "[PPML] Occlum Spark TPC-H & unit test zlib zstd issue"
SparkSQL Unit Test
[code]

Spark TPC-H
[code]

[code]

[2022-03-29 02:48] yangw1234 opened #4318 "dllib keras like model summary support returning string instead of printing in console"
from user group

https://groups.google.com/g/bigdl-user-group/c/jhxLZfvG4Ac/m/WtymMK1yAgAJ?utm_medium=email&utm_source=footer

[2022-03-29 09:00] TheaperDeng opened #4321 "Readthedoc document building fail"
https://readthedocs.org/projects/bigdl/builds/

[2022-03-29 09:26] jason-dai commented on #4321
@helenlly please take a look

[code]

[2022-03-29 10:45] pinggao187 commented on #4321
fix: [#4322](https://github.com/intel-analytics/BigDL/pull/4322)
pass
https://readthedocs.org/projects/bigdl/builds/16500175/

[2022-03-30 02:01] sgwhat commented on #4321
Still happening.

[2022-03-30 05:46] sgwhat commented on #4321
pass.

[2022-03-30 08:26] qiyuangong commented on #4317
Seems like previous occlum temp dir issue, which is fixed by occlum team in occlum 0.24. Will check with occlum team.

[2022-04-01 02:11] TheaperDeng opened #4335 "Chronos: Support time series models in 3rd party libs"
**Warning: This issue will only consider python backend.**

This design is used to define how Chronos can help a 3rd party time series lib to improve the performance(both training and inferencing) and accuracy.

Basically, our users will have a more flexible workflow and could bring any model(defined by 3rd party libs such as `pytorch-forecasting` or even customized model by `pytorch` or `python-l

[2022-04-01 03:00] #4170 closed

[2022-04-01 05:05] TheaperDeng commented on #4335
@shane-huang

[2022-04-01 12:07] hkvision opened #4343 "Instruction to run yarn using spark-submit is wrong"
https://bigdl.readthedocs.io/en/latest/doc/UserGuide/hadoop.html#run-on-yarn-with-spark-submit

1. `--master yarn-client` is wrong
[code]
should be --master yarn --deploy-mode client
2. After fixing the above issue, when using the following command to run:
[code]
will get the error below:
[code]

[2022-04-01 12:51] hkvision commented on #4343
Also the .sh files don't work as well...

[2022-04-06 02:46] yushan111 opened #4352 "Support Orca examples run on ray runtime."
| DL framework | Application | Model-Dataset   | estimator input | current backend                        | status |
| ------------ | ----------- | --------------- | --------------- | -------------------------------------- | ------ |
| PyTorch      | CV          | cifar10         | data creator    | "bigdl", "torch_distributed",  "spark" |        |
| PyTorch      | CV          | fashion mnist   |

[2022-04-06 11:27] #4343 closed

[2022-04-06 11:36] hkvision commented on #4343
The command works for yarn cluster after changing to --master and --cluster-mode

[2022-04-06 11:53] jason-dai opened #4360 "Optimized inference pipeline for Nano"
1. Current status

    <table>
    <tr>
	    <td>
	    <td>FP32
	    <td>BF16
	    <td>IN8
    <tr>
	    <td>PyTorch
	    <td>Y
	    <td>N
	    <td>Y
    <tr>
	    <td>ONNX
	    <td>Y
	    <td>N
	    <td>Y
    <tr>
	    <td>OpenVINO
	    <td>Y
	    <td>N
	    <td>N
    </table>

    - `Trainer.compile(…, onnx=T/F, quantize=T/F, openvino=T/F)` - bind relevant methods/variables
    - `Trainer.quanti

[2022-04-07 07:11] TheaperDeng commented on #4360
### Trainer.compile

Bind all (internal/external) methods to the model

[code]

- `model`: could be a nn.module/pl.LightningModule

**All users who want to use Nano inference API should call `Trainer.compile` with no exception**

---
### trainer.quantize

Quantize a model by a specific precision and accelerator.

[code]

A **normal** user should take care of:

- `model`: A model that is compiled b

[2022-04-07 07:11] TheaperDeng commented on #4360
### Trainer.compile

Bind all (internal/external) methods to the model

[code]

- `model`: could be a nn.module/pl.LightningModule

**All users who want to use Nano inference API should call `Trainer.compile` with no exception**

---
### trainer.quantize

Quantize a model by a specific precision and accelerator.

[code]

A **normal** user should take care of:

- `model`: A model that is compiled b

[2022-04-07 08:00] hkvision commented on #4370
@jason-dai
https://github.com/intel-analytics/BigDL/blob/main/python/orca/src/bigdl/orca/learn/pytorch/torch_runner.py#L157 Torch runner sets num threads here to be cores_per_node.
https://github.com/intel-analytics/BigDL/blob/main/python/orca/src/bigdl/orca/learn/tf2/tf_runner.py#L254-L255 TF runner sets num threads here, inter=1, intra=cores_per_node.
For other environment variables such as `KMP

[2022-04-07 09:41] hkvision opened #4372 "Default OMP, KMP values would impact other applications"
In `init_env` of nncontext.py, would always set the following environment variables:
[code]
This is only for dllib, but is set universally. When running other applications that is related to OpenMP (e.g. faiss) after initializing BigDL, the performance would be greatly hindered when there is only 1 thread by default and users may not be even aware of that.

Can we remove these settings but only ad

[2022-04-08 02:53] hkvision opened #4377 "Umbrella issue of improving Orca user experience (update from time to time)"
**[General]**

- [x] init_orca_context default cores=2, and users may not be aware of this setting and may just call it with default parameters. And in this case if user compare the local performance between the original TF/PyTorch script with the Orca version, they will find much performance drop since Orca is only using two cores while the original script will use all cores in most cases.
Shall

[2022-04-08 02:55] zhentaocc commented on #4360
### model.train()​
Exit evaluation mode and fall back to training with 'pytorch'​
### model.inference() -> trainer.inference()​
[code]
### torch.save
[code]
Pytorch:
- fp32: state_dict, (opt_dict, loss)
- int8: use inc save

Onnx: torch.onnx.export  (int8/fp32)​
Openvino: openvino.IENetwork.serialize('model.xml', 'model.bin')(int8/fp32)​

### torch.load
[code]
same as above
​

[2022-04-08 03:26] TheaperDeng commented on #4288
just update: working on onnxrt and onnx

[2022-04-08 13:43] TheaperDeng commented on #4360
Discussed with @shane-huang  earlier and we proposed another design to separate the quantized models/inference sessions from `model` but still provide same usage as a pytorch model.

This design features a different behavior in `trainer.quantize` and a new `trainer.trace` method.

**In short, these two methods (trainer methods) will return a new model whose `forward` has been redirected.**

[code]

[2022-04-09 01:12] jason-dai opened #4382 "Submitting Orca Job to clusters"
- Hadoop/Yarn/CDH cluster: python, jupyter, bigdl-submit, spark-submit
 - K8s cluster: python, jupyter, bigdl-submit, spark-submit
   - Notebook dev & scale-out on K8s
- Ray cluster: python, jupiter, bigdl-submit, ???

[2022-04-09 01:13] jason-dai opened #4383 "Automatic configuration setup"
- Default configs (init_xyz_context)
- Configs for DLlib
- configs for Orca
   - BigDL backend
   - Spark backend
   - Ray backend

[2022-04-09 01:25] jason-dai opened #4384 "Seamless scaling support on Orca"
- Provisioning
  - [ ] Job submission (https://github.com/intel-analytics/BigDL/issues/4382)
  - [ ] Auto-configuration (https://github.com/intel-analytics/BigDL/issues/4383)
- Customized logic for training, evaluation & inference
   - E.g., https://github.com/intel-analytics/BigDL/issues/3557
- Workflow mgmt (e.g., Airflow, MLFlow, Kubeflow, etc.)

[2022-04-09 13:56] jason-dai commented on #4360
1) It maybe a good idea to ask users to explicitly call `quantize` or `trace` to get the specific acceleration; e.g.,
    - `model=trainer.trace(model, accelerator="openvino")` will always run using FP32 on OpenVINO
    - `model=trainer.quantize(model, precision="INT8", accelerator="onnx")` will always run using INT8 on ONNXRT
    - Then there is no need to change `eval`?
    - And maybe we should

[2022-04-11 02:14] TheaperDeng commented on #4360
**Yes**

**Yes**

There are some cases a user might want to call .eval(), especially when they want to change the accelerator's(e.g. openvino/onnxruntime) option. They may call `model.eval(session_option)` to rebuild an inference session.

**Yes**

1. We will give clear document
 2. We should give them clear message when calling `Trainer.save` e.g.

[code]

[2022-04-11 02:17] yushan111 opened #4387 "Rename backend name for Orca Estimators"
* "torch_distributed" -> "ray"
* "tf2" -> "ray"

[2022-04-11 09:07] jason-dai commented on #4360
Do we really need to support this? The user can always call `Trainer.quantize` or `Trainer.trace` to generate a new model.

[2022-04-11 10:03] TheaperDeng commented on #4360
Exactly, we (@zhentaocc ) talked about this and we agree that users can always call `Trainer.quantize` or `Trainer.trace` again. We will update the detailed API later.

[2022-04-11 19:03] #4318 closed

[2022-04-12 06:18] TheaperDeng opened #4398 "Chronos: remove deprecated API from Chronos."
# Remove deprecated API from Chronos

## What ?

Deprecated API is now clustered in `bigdl.chronos.autots.deprecated`. There has been some long dicussion that we need to remove these APIs but no real practise. Recently we are seeing more and more reasons to remove these deprecated APIs.

## Why ?

- Deprecated API relies on TF1, which will not be supported by Chronos.

  - TCN, LSTM, S2S, MTNet, A

[2022-04-12 12:27] fhoering opened #4401 "Cannot find SPARK_JAR_REPO_URL when running Docker Graphene sample"
I'm trying to run the docker graphene sample with Spark.

https://github.com/intel-analytics/BigDL/blob/main/ppml/trusted-big-data-ml/python/docker-graphene/README.md

It seems like its used a modified version of spark:
https://github.com/intel-analytics/BigDL/blob/main/ppml/trusted-big-data-ml/python/docker-graphene/Dockerfile#L76

How to get those modified JARs ? Is the modification from vanilla

[2022-04-13 03:04] glorysdj commented on #4401
Hi @fhoering, these jars are not ready to be public yet
You can pull the Docker image from Dockerhub to try bigdl-ppml.
[code]
please refer to
https://hub.docker.com/layers/195055360/intelanalytics/bigdl-ppml-trusted-big-data-ml-python-graphene/2.1.0-SNAPSHOT/images/sha256-4225bccfaf3516e7f7e8da9a01def971c32bc2de282477e56df108e845154b25?context=repo
Thanks

[2022-04-13 07:04] jason-dai commented on #4401
@fhoering You may try the docker image that we have published (as mentioned above) while we are still working on the public release for the modifications; we'd be happy to follow up on your specific requirements if needed.

[2022-04-13 07:38] zhentaocc commented on #4360
Openvino new api will be implemented in https://github.com/intel-analytics/BigDL/pull/4381.

[2022-04-13 08:04] fhoering commented on #4401
OK. Thanks. I pulled the docker image and got the basic examples working.

My use case would be to run some of our existing Data processing and ML jobs in an enclave on SGX and possibly distributed through K8S in a distributed way if this can also work in a secure way.

The fact that one can verify the code that runs in an SGX enclave is an important part of the process. If the code is tempered or

[2022-04-13 08:14] zhanglirong1999 opened #4410 "Orca do not support preprocess inputs before training in forward()"
I rewrite yolox's code to run on orca as distributed, but errors were reported when forward(). Because orca directly use  the input to forward() after the data loader, resulting in the inputs not being supported in yolox forward(). Yolox  would preprocess input and target after the data loader

Is it necessary for orca to support some special preprocess before training?

[2022-04-13 08:14] zhanglirong1999 commented on #4410
This is the link that orca directly call the forward(). But the input exceeds the size of the forward()

[](https://github.com/intel-analytics/BigDL/blob/main/python/orca/src/bigdl/orca/learn/pytorch/training_operator.py#L282)

[2022-04-13 08:17] zhanglirong1999 commented on #4410
This is the link that orca directly call the forward(). But the input exceeds the size of the forward()
[https://github.com/intel-analytics/BigDL/blob/main/python/orca/src/bigdl/orca/learn/pytorch/training_operator.py#L282](url)

[2022-04-13 08:18] zhanglirong1999 commented on #4410
This is the link that orca directly call the forward(). But the input exceeds the size of the forward() in yolox

https://github.com/intel-analytics/BigDL/blob/main/python/orca/src/bigdl/orca/learn/pytorch/training_operator.py#L282

[2022-04-13 08:18] zhanglirong1999 commented on #4410
in yolox, there is some preprocess on input

https://github.com/Megvii-BaseDetection/YOLOX/blob/main/yolox/core/trainer.py#L100

[2022-04-13 08:19] Django-Jiang opened #4411 "Nano Pytorch-Lighting API Upgrade"
Current Version: 1.4.2
New Version: 1.6.0.

Release Note:
https://github.com/PyTorchLightning/pytorch-lightning/releases/tag/1.6.0
https://github.com/PyTorchLightning/pytorch-lightning/releases/tag/1.5.0

There are two essential release after 1.4.2 with some critical changes, which Nano may be involved.

# 1.5.0:
## Accelerators and Plugins - Removed attributes and methods:
-  Accelerator.{call_co

[2022-04-13 08:20] zhanglirong1999 opened #4412 "yolox does not require loss creator when running on orca"
When train yolox on orca, there is no need to pass the 'loss creator' as parameter to initialize Estimator and calculate the loss after forward(). Because yolox can directly get the loss after forward().
https://github.com/Megvii-BaseDetection/YOLOX/blob/main/yolox/core/trainer.py#L106

The same is true when evaluate yolox on orca, there is no need to calculate the loss after forward()

[2022-04-13 08:21] zhanglirong1999 commented on #4412
Orca calculates loss after forward(When run yolox, there is no longer need to compute the loss function).
This is the link that orca calculate the loss:
https://github.com/intel-analytics/BigDL/blob/main/python/orca/src/bigdl/orca/learn/pytorch/training_operator.py#L285

[2022-04-13 08:24] zhanglirong1999 commented on #4412
So can Orca change loss to be optional ?

[2022-04-13 08:25] zhanglirong1999 opened #4414 "Orca only supports basic metrics, some customized metrics do not support"
Ap is used in yolox to evaluate the final results. AP is often used as an indicator metric for object detection and the implementation of Ap and principle are more complicated. Therefore, orca does not support such a complex metrics.

AP Basic Concepts: https://www.cnblogs.com/itmorn/p/14193729.html

A part of implementation in yolox to calculate AP
https://github.com/Megvii-BaseDetection/YOLOX/bl

[2022-04-13 09:13] zhanglirong1999 commented on #3228
I tried to convert the graph model to orca-supported keras model. But in the end it didn't work out. The reasons are as follows:

1. I refer to the following link to try to convert the graph(frozen model) to a saved model
https://stackoverflow.com/questions/44329185/convert-a-graph-proto-pb-pbtxt-to-a-savedmodel-for-use-in-tensorflow-serving-o/44329200#44329200

But in the end only get a metaGraph

[2022-04-13 09:34] hkvision commented on #4412
Probably we can make loss_creator optional. If so, they inputs and targets would all be fed into the model, and user should define a function to get the loss from the model forward result (and then to combine with loss.backward)?

[2022-04-13 09:35] hkvision commented on #4410
Probably we can add an argument for users to specify a preprocess function?

[2022-04-13 11:46] zhanglirong1999 commented on #4410
The original yolox GPU version used a prefetcher, throwing away two inputs and only retaining two inputs. This is also a part of its data preprocessing.
https://github.com/Megvii-BaseDetection/YOLOX/blob/7ba9fd298413b79f2d07b6b7a3cdcbc34a9b244d/yolox/data/data_prefetcher.py#L25

[2022-04-14 00:46] glorysdj commented on #4401
@fhoering Thanks for the trial of bigdl-ppml.

Regarding k8s support, actually bigdl-ppml supports securely running in SGX enclaves on k8s with spark client and cluster mode (please refer to https://github.com/intel-analytics/BigDL/tree/main/ppml/trusted-big-data-ml/python/docker-graphene#run-as-spark-on-kubernetes-mode), and you can also start it with helm chart (https://github.com/intel-analytic